<div class="c-wrap">
	<div id="secondary-menu">
		<div id="logo">
			<img src="/img/whitelabel/dojiggy/dojiggy-logo.png" alt="DoJiggy Logo"/>
		</div>		
		<ul class="nav">  
			<li><a href="http://www.onlinefundraisingtoday.com/">Blogs</a></li>
			<li><a href="http://www.dojiggy.com/press/index.cfm">News</a></li>
			<li><a href="http://www.dojiggy.com/app/examples/index.cfm">Clients</a></li>
			<li><a href="http://www.dojiggy.com/resource_center/index.cfm">Resources</a></li>
			<li><a href="http://www.dojiggy.com/pricing.cfm">Pricing</a></li> 
			<li><a href="http://www.dojiggy.com/app/services/index.cfm">Products</a></li> 
			<li><a href="http://www.dojiggy.com/app/about/index.cfm">Company</a></li> 		
		</ul>
	</div>
    <div class="main-content">
		<h1>DoJiggy Travel Packages For Your Auction</h1>
		<p style="font-size:18px;">We provide experiential travel packages that can be used in live, silent and online charity auctions and raffles.</p>
		<p>Everything you see is offered at a no-risk basis and you keep 100% of the profit above your cost. Experiential travel remains a top selling auction and raffle item so start considering what might work for your next event. For specific questions or to reserve Experiences for your event, click <a href="http://charityauctionsnewengland.experiencecharity.com/learn-more" alt="Learn More">Learn More</a>, fill out the contact form and we’ll be sure to reach out to you.</p>
	</div>
</div>
