{% extends base_template %}

{% block title %}{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="thank-you">
    <div class="c-wrap">
    	<h1>Thank you!</h1>
    	<p>Someone will get in touch with you shortly. If you have any questions, please contact:</p>
    	<p><strong>DoJiggy Sales Team</strong><br>888-436-1999 x2<br><a href="mailto:salesinfo@dojiggy.com">salesinfo@dojiggy.com</a></p>
    	
    </div>
</div>
{% endblock %}