<div class="c-wrap">
    <div class="footerPanel">
        <a href="http://www.auctionsbycellular.com/" target="_blank"><img src="/img/whitelabel/auctionsbycellular/abc-footer.png" alt="Auctions By Cellular"/></a>
    </div>
</div>