<div class="c-wrap">
	<a href="http://www.bidpal.com/" style="padding:0px;"><img src="/img/whitelabel/bidpal/BidPal_logo.png" alt="BidPal Experience Catalog" class="logo"></a>
    <ul class="nav">  
        <li><a href="http://www.bidpal.com/fundraising/">What We Do</a></li>
        <li><a href="http://www.bidpal.com/about-us">About Us</a></li>
        <li><a href="http://www.bidpal.com/fundraising-ideas-resources">Resources</a></li>
        <li class="login"><a href="http://bidpal.net/">Login</a></li>
        <li class="order"><a href="http://www.bidpal.com/pricing">Order Now</a></li>        
    </ul>
</div>