{% extends base_template %}

{% block title %}{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="thank-you">
    <div class="c-wrap">
		<h1>Thank you!</h1>
		<p>Thanks for your interest in ABC Travel! Our clients use our travel service to accomplish a few goals within their fundraiser:</p>
		<ul>
			<li>Access a portfolio of ready-made, proven and no-risk travel packages</li>
			<li>Raise more money by capturing donor travel budgets</li>
			<li>Save valuable time for your auction committee</li>
			<li>Identify major donors and cultivate existing donors</li>
			<li>Add variety, credibility and wow factor to the auction</li>
		</ul>
    	<p>Our travel partner, Winspire, will be reaching out to you shortly to learn about your event, answer questions and help determine how we can best help your fundraising efforts. Should you have any questions in the meantime, feel free to call us at 888-748-2323 or email <a href="mailto:partners@auctionsbycellular.com">partners@auctionsbycellular.com</a>.</p>
    </div>
</div>
{% endblock %}