{% extends 'InertiaWinspireBundle::layout.html.twig' %}

{% block title %}Winspire | Home{% endblock %}

{% block content_header '' %}

{% block content %}


<div id="con-home">

    <!-- Banner & Slides -->
    <section id="home-banner" class="home-slideshow">
        <div class="slide-wrapper">
            <div class="step" id="slide-1" data-x="2000" data-y="1000" data-z="3000" data-rotate="-20">
                <div class="slide-content">
                    <h2>The sky's the limit.</h2>
                    <h3>At Winspire, you purchase only what you sell<br/> making all our auction packages <strong>No Risk</strong>.</h3>
                    <a href="#">Learn More <span aria-hidden="true" class="icon-arrow-right"></span></a>
                </div>
                <img src="/img/home-banner-bg1.png" alt=""/>
            </div>
            <div class="step" id="slide-2" data-x="1000" data-z="2000" data-rotate="20">
                <div class="slide-content">
                    <div class="testimonial">
                        <p class="salutation">Dear Winspire,</p>
                        <p>We've just returned from our trip to New York City, and we were <strong>absolutely
                        thrilled with the quality of the trip!</strong> We plan to attend the South Bay Musical
                        Theater auction again next year and <strong>bid on another Winspire trip</strong>.
                        Thanks for all of your assistance with our vacation!</p>
                        <p class="author"><em>Kari Bennet</em><br/>
                        Winning Bidder<br/>
                        Annual Crab &amp; Pasta Feed Fundraiser<br/>
                        <strong>South Bay Musical Theater</strong></p>
                    </div>
                    <div class="package">
                        <p>New York Amazing Long Weekend</p>
                        <a href="#">View 2 Options <span aria-hidden="true" class="icon-arrow-right"></span></a>
                        <img src="/img/home-banner-2-suitcase.png" width="74" height="49" alt=""/>
                    </div>
                </div>
                <img src="/img/home-banner-bg2.png" alt=""/>
            </div>
            <div class="step" id="slide-3" data-x="2000" data-y="1500" data-z="1000" data-rotate="20">
                <div class="slide-content">
                    <p>Excite your donors with once-in-a-lifetime travel Experiences at your fundraising event.</p>
                    <p style="text-align:right;"><a href="#">Learn How <span aria-hidden="true" class="icon-arrow-right"></span></a></p>
                </div>
                <img src="/img/home-banner-bg3.png" alt=""/>
            </div>
        </div>
    </section>
    <!-- Banner & Slides -->
    
	<!-- Experiences CTAs -->
	<div id="home-experiences">
		<div class="c-wrap">
		
            <!-- Experiences & Featured Suitcases -->
            <div class="shadow-wrapper">
                <div id="home-featured" class="drop-shadow curved curved-hz-2">
                    <div id="e-browse">
                        <h2><span class="small">Inspired Items for</span><br/> Nonprofit Auctions.</h2>
                        <h3>Winspire helps Nonprofits <strong>maximize fundraising revenue</strong> by providing highly sought after, hard to find and priceless Experiences for use as <strong>unique auction items</strong> in charity events and fundraisers. Start planning your next event now!</h3>
                        <a href="{{ path('packageList') }}" class="ws-btn"><span aria-hidden="true" class="ico-search"></span> Browse Experiences</a>
                    </div>
                    
                    <div class="shadow-wrapper">
                        <div id="e-featured" class="drop-shadow lifted">
                            <a href="{{ path('packageList') }}" class="f-all">See All Packages <span aria-hidden="true" class="icon-arrow-right"></span></a>
                            <h4>Featured Packages</h4>
                            
                            <!-- Featured Suitcase Slides -->
                            <ul id="featured-slides" class="cycle-slideshow"
                                data-cycle-fx="carousel"
                                data-cycle-timeout="0"
                                data-cycle-swipe="true"
                                data-cycle-log="false"
                                data-cycle-carousel-visible="3"
                                data-cycle-slides="> div"
                                data-cycle-prev="#featured-prev"
                                data-cycle-next="#featured-next"
                                >
                                <div>
                                    <li>
                                        <img src="/img/home-featured-1.png" alt=""/>
                                        <p>The Ultimate Escape in Maui or Kawaii</p>
                                        <a href="#" class="f-options">6 more options <span aria-hidden="true" class="icon-arrow-right"></span></a>
                                        <a href="#" class="f-add"><span aria-hidden="true" class="ico-suitcase"></span><em>Add to </em>Suitcase</a>
                                    </li>
                                    <li>
                                        <img src="/img/home-featured-2.png" alt=""/>
                                        <p>Fighter Pilot for A Day</p>
                                        <a href="#" class="f-options">4 more options <span aria-hidden="true" class="icon-arrow-right"></span></a>
                                        <a href="#" class="f-add"><span aria-hidden="true" class="ico-suitcase"></span><em>Add to </em>Suitcase</a>
                                    </li>
                                    <li>
                                        <img src="/img/home-featured-3.png" alt=""/>
                                        <p>Samuel Adams&reg; Brewery Private Tour</p>
                                        <a href="#" class="f-options">1 more options <span aria-hidden="true" class="icon-arrow-right"></span></a>
                                        <a href="#" class="f-add"><span aria-hidden="true" class="ico-suitcase"></span><em>Add to </em>Suitcase</a>
                                    </li>
                                </div>
                                <div>
                                    <li>
                                        <img src="/img/home-featured-1.png" alt=""/>
                                        <p>The Ultimate Escape in Maui or Kawaii</p>
                                        <a href="#" class="f-options">6 more options <span aria-hidden="true" class="icon-arrow-right"></span></a>
                                        <a href="#" class="f-add"><span aria-hidden="true" class="ico-suitcase"></span><em>Add to </em>Suitcase</a>
                                    </li>
                                    <li>
                                        <img src="/img/home-featured-2.png" alt=""/>
                                        <p>Fighter Pilot for A Day</p>
                                        <a href="#" class="f-options">4 more options <span aria-hidden="true" class="icon-arrow-right"></span></a>
                                        <a href="#" class="f-add"><span aria-hidden="true" class="ico-suitcase"></span><em>Add to </em>Suitcase</a>
                                    </li>
                                    <li>
                                        <img src="/img/home-featured-3.png" alt=""/>
                                        <p>Samuel Adams&reg; Brewery Private Tour</p>
                                        <a href="#" class="f-options">1 more options <span aria-hidden="true" class="icon-arrow-right"></span></a>
                                        <a href="#" class="f-add"><span aria-hidden="true" class="ico-suitcase"></span><em>Add to </em>Suitcase</a>
                                    </li>
                                </div>
                            </ul>
                            <div class="reset"></div>
                            
                            <!-- Next/Prev -->
                            <div id="featured-next" class="feat-np forward">
                                <span aria-hidden="true" class="icon-arrow-right"></span>
                                <div class="tab-behind"></div>
                            </div>
                            <div id="featured-prev" class="feat-np backward">
                                <span aria-hidden="true" class="icon-arrow-left"></span>
                                <div class="tab-behind"></div>
                            </div>
                            <!-- Next/Prev -->
                        </div>
                    </div>
                    <div class="reset"></div>
                </div>
            </div>
            <!-- Experiences & Featured Suitcases -->
            
			<!-- Success Panels -->
			<div id="home-success">
				
				<h2>Winspire Simplifies Fundraising Success</h2>
			
				<!-- Panels -->
				<div id="success-panels">
					<ul>
						<li>
							<img src="/img/winspire-success-select-your-experiences.png" alt=""/>
							<h4>Select Experiences.</h4>
							<p>Choose from the largest selection of highly sought after, unique charity auction items for your fundraiser. Include any of them in your event at <a href="#">No Risk</a> to your Nonprofit.</p>
						</li>
						<li>
							<img src="/img/winspire-success-impress-your-donors.png" alt=""/>
							<h4>Impress Your Donors.</h4>
							<p>Winspire Experiences create the kind of “buzz” that drives up bidding and impresses donors. Work with our practiced Event Consultants who will help you find the most attractive items for your audience.</p>
						</li>
						<li>
							<img src="/img/winspire-success-reap-the-rewards.png" alt=""/>
							<h4>Reap the Rewards.</h4>
							<p>After your event, we will make sure your Winning Bidders are well taken care of. Winspire has a team of experienced travel professionals to help them book their Experience down to every last detail.</p>
						</li>
					</ul>
				</div>
				<!-- Panels -->

			</div>
			<!-- Success Panels -->
			
            <!-- Stats Panels -->
            <div id="home-stats">
                <!-- Panels -->
                <div id="stats-panels">
                    <ul id="stat-slides">
                        <li id="slide1">
                            <h5>30K Satisfied Winning Bidders</h5>
                            <h6>Your most important patrons will be raving about their Experience at your next event.</h6>
                        </li>
                        <li id="slide2">
                            <h5>200,000 Events Worldwide</h5>
                            <h6>We know what it takes to throw a successful event. Your personal Event Consultant will be on hand to help you select the best Experiences for your audience.</h6>
                        </li>
                        <li id="slide3">
                            <h5>20.6 Million</h5>
                            <h6>Winspire has helped Nonprofits raise over $20.6 million through the use of unique Winspire Experiences. We love raising money almost as much as our Winning Bidders love their Experiences.</h6>
                        </li>
                    </ul>
                </div>
                <!-- Panels -->
            </div>
            <!-- Stats Panels -->
		
		
		</div>
	</div>
	<!-- Experiences CTAs -->
    
    <div id="home-footer">
        <div class="c-wrap">
            <div id="home-f-loved">
                <img src="/img/home-lovedby.png" alt="Loved By..." width="180" height="82"/>
                <ul id="loved-by">
                    <li><a href="#"><img src="/uploads/client-logos/wounded-warrior-project.png" alt="Wounded Warrior Project" width="150" height="82"/></a></li>
                    <li><a href="#"><img src="/uploads/client-logos/girl-scouts.png" alt="Girl Scouts" width="150" height="82"/></a></li>
                    <li><a href="#"><img src="/uploads/client-logos/united-way.png" alt="United Way" width="150" height="82"/></a></li>
                    <li><a href="#"><img src="/uploads/client-logos/tony-hawk-foundation.png" alt="Tony Hawk Foundation" width="150" height="82"/></a></li>
                    <li><a href="#"><img src="/uploads/client-logos/boy-scouts-of-america.png" alt="Boy Scouts of America" width="150" height="82"/></a></li>
                    <li><a href="#"><img src="/uploads/client-logos/american-heart-association.png" alt="American Heart Association" width="150" height="82"/></a></li>
                    <li><a href="#"><img src="/uploads/client-logos/make-a-wish.png" alt="Make A Wish" width="150" height="82"/></a></li>
                    <li><a href="#"><img src="/uploads/client-logos/susan-g-koman.png" alt="Susan G Koman" width="150" height="82"/></a></li>
                    <li><a href="#"><img src="/uploads/client-logos/big-brothers-big-sisters.png" alt="Big Brothers Big Sisters" width="150" height="82"/></a></li>
                    <li><a href="#"><img src="/uploads/client-logos/national-kidney-foundation.png" alt="National Kidney Foundation" width="150" height="82"/></a></li>
                    <li><a href="#"><img src="/uploads/client-logos/boys-girls-club-of-america.png" alt="Boys &amp; Girls Clubs of America" width="150" height="82"/></a></li>
                    <li><a href="#"><img src="/uploads/client-logos/arthritis-foundation.png" alt="Arthritis Foundation" width="150" height="82"/></a></li>
                    <li><a href="#"><img src="/uploads/client-logos/orangewood-childrens-foundation.png" alt="Orangewood Children's Foundation" width="150" height="82"/></a></li>
                    <li><a href="#"><img src="/uploads/client-logos/american-red-cross.png" alt="American Red Cross" width="150" height="82"/></a></li>
                    <li><a href="#"><img src="/uploads/client-logos/ymca.png" alt="YMCA" width="150" height="82"/></a></li>
                    <li><a href="#"><img src="/uploads/client-logos/dreamcenter.png" alt="DreamCenter" width="150" height="82"/></a></li>
                </ul>
            </div>
            
            <div id="home-f-testimonials">
                <h4>Testimonials</h4>
                <div id="home-f-testimonial">
                    <div id="home-testimonial">
                        <a href="#"><img src="/img/home-testimonial-logo.png" alt=""/></a>
                        <p class="t-quote"><span class="quote-mark"><span class="qm-start">&ldquo;</span></span>We could not have <strong>met our fundraising goals</strong> without the help of Winspire. Their team helped us pick experiences that seem to fit the taste of our donors perfectly.  In fact, <strong>we sold every single package</strong>, and some of them multiple times!<span class="quote-mark"><span class="qm-end">&rdquo;</span></span></p>
                        <p class="t-quote-e">Bruce Fetter, <span class="e-title">C.E.O.</span></p>
                        <div class="reset">&nbsp;</div>
                    </div>
                </div>
            </div>
            
            <div id="home-f-latestnews">
                <h4>Latest News</h4>
                <div id="home-f-ln">
                    <div id="latest-news">
                        <ul>
                            <li>
                                <a href="#"><img src="/img/home-ln-placeholder-1.png" alt=""/></a>
                                <a href="#"><h6>An Open Plea to Hold Better Events</h6></a>
                                <p>Posted on October 24, 2012
                            </li>
                            <li>
                                <a href="#"><img src="/img/home-ln-placeholder-2.png" alt=""/></a>
                                <a href="#"><h6>6 Ways to Engage with Millenials</h6></a>
                                <p>Posted on July 26, 2012
                            </li>
                            <li>
                                <a href="#"><img src="/img/home-ln-placeholder-3.png" alt=""/></a>
                                <a href="#"><h6>How Social Media &amp; Fundraising Fit Together</h6></a>
                                <p>Posted on August 15, 2012
                            </li>
                            <li>
                                <a href="#"><img src="/img/home-ln-placeholder-4.png" alt=""/></a>
                                <a href="#"><h6>Expensive Travels</h6></a>
                                <p>Posted on July 26, 2012
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
