{% extends 'InertiaWinspireBundle::layout.html.twig' %}

{% block title %}Winspire | Home{% endblock %}

{% block content_header '' %}

{% block content %}


<div id="con-home">

	<!-- Banner & Slides -->
	<div id="home-banner">
		<div class="c-wrap">
			<!-- Slides -->
			<div id="banner-slides">
				<div class="banner-slide">
					<h2>The sky's the limit.</h2>
					<h3>At Winspire, you purchase only what you sell<br/> making all our auction packages <strong>No Risk</strong>.</h3>
					<a href="#">Learn More about No Risk Auction Items <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
					<img src="/img/home-banner-bg1.png" />
				</div>
				<div class="banner-slide">
					<h2>The limit's the sky.</h2>
					<h3>At Winspire, you purchase only what you sell<br/> making all our auction packages <strong>No Risk</strong>.</h3>
					<a href="#">Learn More about No Risk Auction Items <span aria-hidden="true" class="ico-arrow-right icom-icon"></a>
					<img src="/img/home-banner-bg1.png" />
				</div>
				<div class="banner-slide">
					<h2>The sky is limitless.</h2>
					<h3>At Winspire, you purchase only what you sell<br/> making all our auction packages <strong>No Risk</strong>.</h3>
					<a href="#">Learn More about No Risk Auction Items <span aria-hidden="true" class="ico-arrow-right icom-icon"></a>
					<img src="/img/home-banner-bg1.png" />
				</div>
			</div>
			<!-- Slides -->
			
			
			
		</div>
		
		<!-- Control -->
		<div id="slide-controls">
			<div id="slides-control">
				<ul class="slide-tabs">
					<li><div><!-- the div is the dot --></div></li>
					<li><div><!-- the div is the dot --></div></li>
					<li><div><!-- the div is the dot --></div></li>
				</ul>
			</div>
		</div>
		<!-- Control -->
		
		
	</div>
	<!-- Banner & Slides -->
	
	
	<!-- Experiences CTAs -->
	<div id="home-experiences">
		<div class="c-wrap">
		
			<!-- Experiences & Featured Suitcases -->
			<div id="home-featured">
				<div id="e-browse">
					<h2><span class="small">Inspired Items for</span><br/> Nonprofit Auctions.</h2>
					<h3>Winspire helps Nonprofits <strong>maximize fundraising revenue</strong> by providing highly sought after, hard to find and priceless Experiences for use as <strong>unique auction items</strong> in charity events and fundraisers. Start planning your next event now.</h3>
					<a href="#" class="ws-btn"><span aria-hidden="true" class="ico-search icom-icon"></span> <strong>Browse Experiences</strong></a>
				</div>
			
				<div id="e-featured">
					
					<a href="#" class="f-all">See All Packages <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
					<h4>Featured Packages</h4>
					
					
					
					<!-- Featured Suitcase Slides -->
					<ul id="featured-slides">
						<li>
							<img src="/img/home-featured-1.png" />
							<p>The Ultimate Escape in Maui or Kawaii</p>
							<a href="#" class="f-options">6 more options <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
							<a href="#" class="f-add"><span aria-hidden="true" class="ico-briefcase icom-icon"></span><em>Add to</em><strong>Suitcase</strong></a>
						</li>
						<li>
							<img src="/img/home-featured-2.png" />
							<p>Fighter Pilot for A Day</p>
							<a href="#" class="f-options">4 more options <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
							<a href="#" class="f-add"><span aria-hidden="true" class="ico-briefcase icom-icon"></span><em>Add to</em><strong>Suitcase</strong></a>
						</li>
						<li>
							<img src="/img/home-featured-3.png" />
							<p>Samuel Adams&reg; Brewery Private Tour</p>
							<a href="#" class="f-options">1 more options <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
							<a href="#" class="f-add"><span aria-hidden="true" class="ico-briefcase icom-icon"></span><em>Add to</em><strong>Suitcase</strong></a>
						</li>				
					</ul>
					<div class="reset"></div>
					
					<!-- Control -->
					<div id="featured-controls">
						<div id="featured-control">
							<ul class="featured-tabs">
								<li><div><!-- the div is the dot --></div></li>
								<li><div><!-- the div is the dot --></div></li>
								<li><div><!-- the div is the dot --></div></li>
							</ul>
						</div>
					</div>
					<!-- Control -->

				</div>
				<div class="reset"></div>
			</div>
			<!-- Experiences & Featured Suitcases -->
			
			<!-- Success Panels -->
			<div id="home-success">
				
				<h2>Winspire Makes it Easy to be a Nonprofit Success</h2>
			
				<!-- Panels -->
				<div id="success-panels">
					<ul>
						<li>
							<img src="/img/winspire-success-select-your-experiences.png" />
							<h4>Select Experiences.</h4>
							<p>Choose from the largest selection of highly sought after, unique auction experiences for your charity event. Include any of them in your event with <a href="#">No Risk</a> to your Nonprofit.</p>
						</li>
						<li>
							<img src="/img/winspire-success-impress-your-donors.png" />
							<h4>Impress your Donors.</h4>
							<p>Winspire Experiences creates the kind of &ldquo;<a href="#">buzz</a>&rdquo; that drives up bidding and impresses donors. Work with our experienced Event Consultants to find the most attractive items to maximize your profit.</p>
						</li>
						<li>
							<img src="/img/winspire-success-reap-the-rewards.png" />
							<h4>Reap the Rewards..</h4>
							<p>After your event, we will make sure your Winning Bidders are well taken care of. Winspire is a fully operational travel agency, helping them book their Experience down to every last detail.</p>
						</li>
					</ul>
				</div>
				<!-- Panels -->

			</div>
			<!-- Success Panels -->
			
			<!-- Stats Panels -->
			<div id="home-stats">
				<!-- Panels -->
				<div id="stats-panels">
					<ul>
						<li>
							<img class="stat-panel-bg" src="/img/home-stats-bg-1.png" />
							<div class="stat-content">
								<img src="/img/home-stats-thestat-1.png" />
								<h5>Satisfied Winning Bidders</h5>
								<h6>We ensure your most important patrons are raving<br/> about their Experience at your next event.</h6>
							</div>
						</li>
						<li>
							<img class="stat-panel-bg" src="/img/home-stats-bg-2.png" />
							<div class="stat-content">
								<img src="/img/home-stats-thestat-1.png" />
							</div>
						</li>
						<li>
							<img class="stat-panel-bg" src="/img/home-stats-bg-3.png" />
							<div class="stat-content">
								<img src="/img/home-stats-thestat-1.png" />
							</div>
						</li>
					</ul>
				</div>
				<!-- Panels -->
			</div>
			<!-- Stats Panels -->
		
		
		</div>
	</div>
	<!-- Experiences CTAs -->
	
	
	<div id="home-footer">
		<div class="c-wrap">
		
			<div id="home-f-loved">
				<img src="/img/home-lovedby.png" />
				<div id="loved-by">
					<ul>
						<li><img src="/img/home-loved-makeawish.png" /></li>
						<li><img src="/img/home-loved-bigbrothers.png" /></li>
						<li><img src="/img/home-loved-boysgirlsclub.png" /></li>
						<li><img src="/img/home-loved-arthritis.png" /></li>
						<li><img src="/img/home-loved-orangewood.png" /></li>
					</ul>
				</div>
			</div>
			
			<div id="home-f-testimonials">
				<h4>Testimonials</h4>
			
			
			</div>
			
			<div id="home-f-latestnews">
				<h4>Latest News</h4>
				
				
				<div id="home-f-ln">
					<div id="latest-news">
						<ul>
							<li>
								<img src="/img/home-ln-placeholder.png" />
								<h6>An Open Plea to Hold Better Events</h6>
								<p>Posted on October 24, 2012
							</li>
							<li>
								<img src="/img/home-ln-placeholder.png" />
								<h6>An Open Plea to Hold Better Events</h6>
								<p>Posted on October 24, 2012
							</li>
							<li>
								<img src="/img/home-ln-placeholder.png" />
								<h6>An Open Plea to Hold Better Events</h6>
								<p>Posted on October 24, 2012
							</li>
							<li>
								<img src="/img/home-ln-placeholder.png" />
								<h6>An Open Plea to Hold Better Events</h6>
								<p>Posted on October 24, 2012
							</li>
						</ul>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>


</div>


            
{% endblock %}
