{% extends 'InertiaWinspireBundle::layout.html.twig' %}

{% block title %}Winspire | Home{% endblock %}

{% block content_header '' %}

{% block content %}


<div id="con-home">

	<!-- Banner & Slides -->
	<div id="home-banner">
		<div class="c-wrap">
			<!-- Slides -->
			<div id="banner-slides">
				<div class="banner-slide">
					<h2>The sky's the limit.</h2>
					<h3>At Winspire, you purchase only what you sell<br/> making all our auction packages <strong>No Risk</strong>.</h3>
					<a href="#">Learn More about No Risk Auction Items <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
					<img src="/img/home-banner-bg1.png" />
				</div>
				<div class="banner-slide">
					<h2>The limit's the sky.</h2>
					<h3>At Winspire, you purchase only what you sell<br/> making all our auction packages <strong>No Risk</strong>.</h3>
					<a href="#">Learn More about No Risk Auction Items <span aria-hidden="true" class="ico-arrow-right icom-icon"></a>
					<img src="/img/home-banner-bg1.png" />
				</div>
				<div class="banner-slide">
					<h2>The sky is limitless.</h2>
					<h3>At Winspire, you purchase only what you sell<br/> making all our auction packages <strong>No Risk</strong>.</h3>
					<a href="#">Learn More about No Risk Auction Items <span aria-hidden="true" class="ico-arrow-right icom-icon"></a>
					<img src="/img/home-banner-bg1.png" />
				</div>
			</div>
			<!-- Slides -->
			
			
			
		</div>
		
		<!-- Control -->
		<div id="slide-controls">
			<div id="slides-control">
				<ul class="slide-tabs">
					<li><div><!-- the div is the dot --></div></li>
					<li><div><!-- the div is the dot --></div></li>
					<li><div><!-- the div is the dot --></div></li>
				</ul>
			</div>
		</div>
		<!-- Control -->
		
		
	</div>
	<!-- Banner & Slides -->
	
	
	<!-- Experiences CTAs -->
	<div id="home-experiences">
		<div class="c-wrap">
		
			<!-- Experiences & Featured Suitcases -->
			<div id="home-featured">
				<div id="e-browse">
					<h2>Inspired Items for<br/> Nonprofit Auctions.</h2>
					<p>Winspire helps Nonprofits <strong>maximize fundraising revenue</strong> by providing highly sought after, hard to find and priceless Experiences for use as <strong>unique auction items</strong> in charity events and fundraisers. Start planning your next event now.</p>
					<a href="#">[mag] Browse Experiences</a>
				</div>
			
				<div id="e-featured">
					
					<h4>Featured Packages</h4>
					<a href="#">See All Packages [ra]</a>
					
					
					<!-- Featured Suitcase Slides -->
					<ul>
						<li>
							[image]
							<div>
								<span>Elon Musk for One Hour</span>
								<a href="#"># more options [ra]</a>
								<a href="#">Add to Suitcase</a>
							</div>
						</li>
						<li>
							[image]
							<div>
								<span>Elon Musk for One Hour</span>
								<a href="#"># more options [ra]</a>
								<a href="#">Add to Suitcase</a>
							</div>
						</li>
						<li>
							[image]
							<div>
								<span>Elon Musk for One Hour</span>
								<a href="#"># more options [ra]</a>
								<a href="#">Add to Suitcase</a>
							</div>
						</li>				
					</ul>
					
					<!-- Control -->
					<ul>
						<li>1</li>
						<li>2</li>
						<li>3</li>
						<li>4</li>
					</ul>
					<!-- Control -->

				</div>
			</div>
			<!-- Experiences & Featured Suitcases -->
			
			<!-- Success Panels -->
			<div>
				
				<h2>Winspire Makes it Easy to be a Nonprofit Success</h2>
			
				<!-- Panels -->
				<ul>
					<li>
						[image]
						<h4>Select Experiences.</h4>
						<p>Choose from the largest selection of highly sought after, unique auction experiences for your charity event. Include any of them in your event with <a href="#">No Risk</a> to your Nonprofit.</p>
					</li>
					<li>
						[image]
						<h4>Impress your Donors.</h4>
						<p>Winspire Experiences creates the kind of &ldquo;<a href="#">buzz</a>&rdquo; that drives up bidding and impresses donors. Work with our experienced Event Consultants to find the most attractive items to maximize your profit.</p>
					</li>
					<li>
						[image]
						<h4>Reap the Rewards..</h4>
						<p>After your event, we will make sure your Winning Bidders are well taken care of. Winspire is a fully operational travel agency, helping them book their Experience down to every last detail.</p>
					</li>
				</ul>
				<!-- Panels -->

			</div>
			<!-- Success Panels -->
			
			<!-- Stats Panels -->
			<div>[Stats Slides]</div>
			<!-- Stats Panels -->
		
		
		</div>
	</div>
	<!-- Experiences CTAs -->
	
	
	<div>
	
		<div>[Partners Slider]</div>
		
		<div>[Testimonials]</div>
		
		<div>[Latest News]</div>
	
	</div>


</div>


            
{% endblock %}
