{% extends 'InertiaWinspireBundle::layout.html.twig' %}

{% block title %}Winspire | Home{% endblock %}

{% block content_header '' %}

{% block content %}


<div id="con-home">

	
	<div id="home-banner">
		<div class="c-wrap">
			<ul id="banner-slides">
				<li>Slide 1</li>
				<li>Slide 2</li>
				<li>Slide 3</li>
				<li>Slide 4</li>
			</ul>
		</div>
	</div>
	
	<div>
		<div>[Experiences]</div>
		
		<div>[CTA Panels]</div>
		
		<div>[Experiences Slides]</div>
	
	</div>
	
	<div>
	
		<div>[Partners Slider]</div>
		
		<div>[Testimonials]</div>
		
		<div>[Latest News]</div>
	
	</div>


</div>


            
{% endblock %}
