                    <div id="core-suitcase">
                        <div id="suitcase-toggle">
                            <div class="btn-label">
                                <span aria-hidden="true" class="icon-suitcase-2"></span>
                                <em>my</em><strong>Suitcase</strong>
                            </div>
                            <div class="btn-drop">
                                <span aria-hidden="true" class="icon-arrow-down"></span>
                            </div>
                        </div>
                        
                        <!-- Suitcase Drop -->
                        <div id="suitcase-panel">
                            <div class="panel-tab">
                                <div class="the-tab">
                                    <div class="tab-btn">
                                        <span aria-hidden="true" class="icon-arrow-down"></span>
                                    </div>
                                </div>
                                <form action="{{ path("fos_user_security_check") }}" method="post" novalidate="novalidate">
                                <div class="the-panel">
                                    <div class="panel-email panel-field">
                                        <input type="text" class="pf-text" name="_username" placeholder="Email Address"/>
                                    </div>
                                    
                                    <div class="panel-password panel-field">
                                        <input type="password" class="pf-text" name="_password" placeholder="Password"/>
                                        <input type="button" class="pf-button" value="Forgot?" onclick="window.location='{{ path('fos_user_resetting_request') }}';" />
                                    </div>
                                    
                                    <div class="remember">
                                        <input type="checkbox" name="_remember_me" id="remember_me" value="on" checked="checked"/>
                                        <label for="remember_me">Remember me</label>
                                    </div>
                                    
                                    <div class="panel-buttons">
                                        <a class="pa-button pa-su" href="{{ path('accountCreate') }}">Sign Up</a>
                                        <button class="pa-button pa-li" type="submit">Log In</button>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                        <div class="reset"></div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                        <!-- Suitcase Drop -->
                    </div>