{% extends 'InertiaWinspireBundle::layout.html.twig' %}

{% block title %}Winspire | Package Detail{% endblock %}

{% block content_header '' %}

{% block content %}
<div id="con-pd">
	
	<div id="pd-header">
	
		<div class="c-wrap">
			<a href="#" class="pd-b2-pl"><span aria-hidden="true" class="ico-arrow-left icom-icon"></span> Back To Search Results</a>
			<div class="reset"></div>
			
			<div class="pd-banner">
				<img src="/img/placeholder/pdetail-top.jpg" />
			</div>
			
		</div>
	</div>
	
	
	<div id="pd-container" class="row">
		<div class="c-wrap">
			<div class="pd-actions">
				<div class="pd-action">
					
					<div class="pd-a-srv"><span class="srv-value">$2,789.00</span> <span class="srv-label">Suggested Retail Value</span></div>
					<span class="pd-a-npcost"><span class="npc-value">$1,995.00</span> Non-Profit Cost</span>
					
					
					<a href="#" class="pd-a-add"><span aria-hidden="true" class="ico-briefcase icom-icon"></span><em>Addto</em><strong>Suitcase</strong></a>
					
					<hr />
					
					<h2>All Package Experiences</h2>
					
					<ul class="pd-a-options">
						<li>
							<input id="package1" type="radio" name="package1" value="package1"/>
							<label for="package1">
								<div class="a-o-fauxradio"><div class="a-o-f-dot"><div class="f-dot-inner"><!-- Fake Dot --></div></div></div>
								<div class="a-o-pdetail">
									<ul class="pd-detailpanel">
										<li><span aria-hidden="true" class="ico-user icom-icon"> <span class="pd-c-usercount">1</span></li>
										<li><span aria-hidden="true" class="ico-bed icom-icon"> <span class="pd-c-nightcount">3</span></li>
										<li><span aria-hidden="true" class="ico-airplane icom-icon"> <span class="pd-c-airfare">2</span></li>
									</ul>
									<p>Experience for one with a 3-night Stay and Airfare for two.</p>
								</div>
							</label>
						</li>
						<li>
							<input id="package2" type="radio" name="package1" value="package2"/>
							<label for="package2">
								<div class="a-o-fauxradio"><div class="a-o-f-dot"><div class="f-dot-inner"><!-- Fake Dot --></div></div></div>
								<div class="a-o-pdetail">
									<ul class="pd-detailpanel">
										<li><span aria-hidden="true" class="ico-user icom-icon"> <span class="pd-c-usercount">2</span></li>
										<li><span aria-hidden="true" class="ico-bed icom-icon"> <span class="pd-c-nightcount">3</span></li>
										<li><span aria-hidden="true" class="ico-airplane icom-icon"> <span class="pd-c-airfare">4</span></li>
									</ul>
									<p>Experience for two with a 3-night Stay and Airfare for four.</p>
								</div>
							</label>
						</li>
						<li>
							<input id="package3" type="radio" name="package1" value="package3"/>
							<label for="package3">
								<div class="a-o-fauxradio"><div class="a-o-f-dot"><div class="f-dot-inner"><!-- Fake Dot --></div></div></div>
								<div class="a-o-pdetail">
									<ul class="pd-detailpanel">
										<li><span aria-hidden="true" class="ico-user icom-icon"> <span class="pd-c-usercount">3</span></li>
										<li><span aria-hidden="true" class="ico-bed icom-icon"> <span class="pd-c-nightcount">3</span></li>
										<li><span aria-hidden="true" class="ico-airplane icom-icon"> <span class="pd-c-airfare">8</span></li>
									</ul>
									<p>Experience for three with a 3-night Stay and Airfare for eight.</p>
								</div>
							</label>
						</li>
					</ul>
					
					
				</div>
				
				<div class="pd-suggest">
					
					<!-- Next/Prev -->
					<div id="featured-next" class="feat-np forward">
						<span aria-hidden="true" class="ico-arrow-right icom-icon"></span>
						<div class="tab-behind"></div>
					</div>
					<div id="featured-prev" class="feat-np backward">
						<span aria-hidden="true" class="ico-arrow-left icom-icon"></span>
						<div class="tab-behind"></div>
					</div>
					<!-- Next/Prev -->
				
					<div class="pd-s-inner">
						<h2>You Might Also Like...</h2>
						
						
						
						<ul>
							<li>
								<img src="/img/home-featured-1.png" />
								<p>The Ultimate Escape in Maui or Kawaii</p>
								<a href="#" class="pd-s-add"><span aria-hidden="true" class="ico-briefcase icom-icon"></span> <em>Addto</em><strong>Suitcase</strong></a>
								<a href="#" class="pd-s-mo"><span>6</span> More Options <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
							</li>
							<li>
								<img src="/img/home-featured-2.png" />
								<p>Fighter Pilot For A Day</p>
								<a href="#" class="pd-s-add"><span aria-hidden="true" class="ico-briefcase icom-icon"></span> <em>Addto</em><strong>Suitcase</strong></a>
								<a href="#" class="pd-s-mo"><span>6</span> More Options <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
							</li>
						</ul>
						<div class="reset"></div>
					</div>
				</div>				
			</div><!-- pd-actions end -->
			
			
			
			
			
			
			<div class="pd-details">
				<div class="pd-detail">
					
					<h1>Indy-Style Open Wheel Racing</h1>
					<h3>Experience for <span class="pd-d-excount">1</span> with a <span class="pd-d-nicount">3</span>-Night Stay 
					and Airfare for <span class="pd-d-afcount">2</span> <br/>(<span class="pd-d-itemnumber">5018-1</span>)</h3>
					
					<div class="pd-d-utilbar">
						
						
						<ul class="pd-detailpanel">
							<li><span aria-hidden="true" class="ico-user icom-icon"> <span class="pd-c-usercount">1</span></li>
							<li><span aria-hidden="true" class="ico-bed icom-icon"> <span class="pd-c-nightcount">3</span></li>
							<li><span aria-hidden="true" class="ico-airplane icom-icon"> <span class="pd-c-airfare">2</span></li>
						</ul>
							
						<div class="pd-d-addthis">
							<img src="/img/placeholder/pdetail-smaddthis.jpg" />
						</div>
						
						
						
					</div>
					
					<h4>This Experience Includes</h4>
					<ul>
						<li>1 at your choice of participating locations in the contiguous U.S.</li>
						<li>3-night stay in a standard guest room at participating Hyatt Place Hotels.</li>
						<li>Round-trip coach class airfare for two within the 48 contiguous U.S. &amp; Canada</li>
					</ul>
					<h4>Complimentary Booking</h4>

					<div class="detail-info">
						<p><strong>Have the need for speed?</strong> Looking for the perfect gift? Feeling adventurous? The Mario Andretti Racing School Experience offers your party of one an unforgettable and thrilling racing experience. Mario Andretti Racing School Experience, "The World's Fastest Driving Experience" puts you behind the wheel of a full sized, Indy-style race car. If driving these cars weren't thrilling enough, add the fact that you'll be taking laps on the world's premiere superspeedways.</p>
						<p>Your hands are on the wheel, white knuckled all the way for two thrilling 8-minute sessions with top speeds reaching up to 150 mph. Following the checkered flag on your first	session, you'll get feedback from an instructor on pit road, and then head back on the race track for session two; working on going faster. Note: You can purchase an additional racing experience for one individual for $650</p>
						<p><strong>Have the need for speed?</strong> Looking for the perfect gift? Feeling adventurous? The Mario Andretti Racing School Experience offers your party of one an unforgettable and thrilling racing experience. Mario Andretti Racing School Experience, "The World's Fastest Driving Experience" puts you behind the wheel of a full sized, Indy-style race car. If driving these cars weren't thrilling enough, add the fact that you'll be taking laps on the world's premiere superspeedways.</p>
						<p>Your hands are on the wheel, white knuckled all the way for two thrilling 8-minute sessions with top speeds reaching up to 150 mph. Following the checkered flag on your first	session, you'll get feedback from an instructor on pit road, and then head back on the race track for session two; working on going faster. Note: You can purchase an additional racing experience for one individual for $650</p>
					</div>					
					
					<a class="d-i-mi"><span class="d-i-ml">More</span> Info +</a>
					
				</div>
				
				<div class="pd-discuss">
					<h5>Join the Discussion</h5>
					<p>After you comment, click Post. If you're not already logged in you will be asked to log in or register.</p>
					
					<div id="disqus-box">
					
						[Disqus]
					
					</div>
					
				</div>
			</div><!-- pd-details end -->
				
		</div>
	</div>
	

</div>     
{% endblock %}
