{% extends 'InertiaWinspireBundle::layout.html.twig' %}

{% block title %}Winspire | Home{% endblock %}

{% block content_header '' %}

{% block content %}
<div id="con-plp">
	
	<div id="plp-header">
	
		<div class="c-wrap">
			<h1>Discover Your Experiences</h1>
			<h3>Cras vestibulum porttitor tortor at condimentum. Donec mauris mi, molestie sit amet<br/>
			ultrices id, molestie et dolor. Duis arcu risus, venin  auctor vel, ultrices porta velit.</h3>
		</div>
	</div>
	
	
	<div id="plp-container" class="row">
		<div class="c-wrap">
			
			<div class="plp-filter">
				
				<h4>Filter Your Results</h4>
				
				<div class="plpf-divider"><!-- Divider --></div>
				
				[Search]
				
				<div class="plpf-divider"><!-- Divider --></div>
				
				<a href="#">All Experiences ></a>
				
				<div class="plpf-divider"><!-- Divider --></div>
				
				<div class="plpf-groups">
					
					[groups]
				
				
				</div>
				
				
				
			
			</div>
			
			<div class="plp-results">
				
				<div class="row plp-sort">
					
					<ul>
						<li><a href="#" class="selected">All</a></li>
						<li><a href="#">Most Popular</a></li>
						<li><a href="#">Newest</a></li>
					</ul>

					<div class="plp-sort-select">
						<select>
							<option selected="selected" value="alphabeticalaz">Alphabetical A-Z</option>
							<option value="alphabeticalza">Alphabetical Z-A</option>
						</select>
					</div>
					
				</div>
				
				<div class="row">
				
					<ul class="plp-items">
						<li>
							<div class="i-inner">
								<div class="i-image"><img src="/img/placeholder/plp-i-image.png" /></div>
								<div class="i-actions">
									<div class="i-a-add"><span aria-hidden="true" class="ico-briefcase icom-icon"></span><em>Addto</em><strong>Suitcase</strong></div>
									<div class="i-a-options">
										<a href="#">View Details <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
										<a href="#">View (<span class="i-o-count">9</span>) Options <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
									</div>
								</div>
								<div class="i-details">
									<h3>U.S. Capital VIP Tour Lorem Ipsum</h3>
									<p>Behind-the-Scenes Tour of the US Capitol Building with a Noted Historian in Washington DC, 4-Night Stay and Airfare for four.</p>
									<div class="i-srv">
										<span class="i-sv">$3,289.00</span><span class="srv-n">Suggested Retail Value</span>
									</div>
									<div class="i-npc"><span class="i-cost">$8999.99</span> Non-Profit Cost</div>
								</div>
								
							</div>
						</li>
						
						<li>
							<div class="i-inner">
								<div class="i-image"><img src="/img/placeholder/plp-i-image.png" /></div>
								<div class="i-actions">
									<div class="i-a-add"><span aria-hidden="true" class="ico-briefcase icom-icon"></span><em>Addto</em><strong>Suitcase</strong></div>
									<div class="i-a-options">
										<a href="#">View Details <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
										<a href="#">View (<span class="i-o-count">9</span>) Options <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
									</div>
								</div>
								<div class="i-details">
									<h3>Lorem Ipsum Dolor Sit Amit</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									<div class="i-srv">
										<span class="i-sv">$9000.01</span><span class="srv-n">Suggested Retail Value</span>
									</div>
									<div class="i-npc"><span class="i-cost">$8999.99</span> Non-Profit Cost</div>
								</div>
								
							</div>
						</li>
						
						<li>
							<div class="i-inner">
								<div class="i-image"><img src="/img/placeholder/plp-i-image.png" /></div>
								<div class="i-actions">
									<div class="i-a-add"><span aria-hidden="true" class="ico-briefcase icom-icon"></span><em>Addto</em><strong>Suitcase</strong></div>
									<div class="i-a-options">
										<a href="#">View Details <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
										<a href="#">View (<span class="i-o-count">9</span>) Options <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
									</div>
								</div>
								<div class="i-details">
									<h3>Lorem Ipsum Dolor Sit Amit</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									<div class="i-srv">
										<span class="i-sv">$9000.01</span><span class="srv-n">Suggested Retail Value</span>
									</div>
									<div class="i-npc"><span class="i-cost">$8999.99</span> Non-Profit Cost</div>
								</div>
								
							</div>
						</li>
						
						<li>
							<div class="i-inner">
								<div class="i-image"><img src="/img/placeholder/plp-i-image.png" /></div>
								<div class="i-actions">
									<div class="i-a-add"><span aria-hidden="true" class="ico-briefcase icom-icon"></span><em>Addto</em><strong>Suitcase</strong></div>
									<div class="i-a-options">
										<a href="#">View Details <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
										<a href="#">View (<span class="i-o-count">9</span>) Options <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
									</div>
								</div>
								<div class="i-details">
									<h3>Lorem Ipsum Dolor Sit Amit</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									<div class="i-srv">
										<span class="i-sv">$9000.01</span><span class="srv-n">Suggested Retail Value</span>
									</div>
									<div class="i-npc"><span class="i-cost">$8999.99</span> Non-Profit Cost</div>
								</div>
								
							</div>
						</li>
						
						<li>
							<div class="i-inner">
								<div class="i-image"><img src="/img/placeholder/plp-i-image.png" /></div>
								<div class="i-actions">
									<div class="i-a-add"><span aria-hidden="true" class="ico-briefcase icom-icon"></span><em>Addto</em><strong>Suitcase</strong></div>
									<div class="i-a-options">
										<a href="#">View Details <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
										<a href="#">View (<span class="i-o-count">9</span>) Options <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
									</div>
								</div>
								<div class="i-details">
									<h3>Lorem Ipsum Dolor Sit Amit</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									<div class="i-srv">
										<span class="i-sv">$9000.01</span><span class="srv-n">Suggested Retail Value</span>
									</div>
									<div class="i-npc"><span class="i-cost">$8999.99</span> Non-Profit Cost</div>
								</div>
								
							</div>
						</li>
						
					</ul>

				</div>

			</div>
		
		
			
		</div>
	</div>

</div>     
{% endblock %}
