{% extends 'InertiaWinspireBundle::layout.html.twig' %}

{% block title %}Winspire | Home{% endblock %}

{% block content_header '' %}

{% block content %}
<div id="con-plp">
	
	<div id="plp-header">
	
		<div class="c-wrap">
			<h1>Discover Your Experiences</h1>
			<h3>Cras vestibulum porttitor tortor at condimentum. Donec mauris mi, molestie sit amet<br/>
			ultrices id, molestie et dolor. Duis arcu risus, venin  auctor vel, ultrices porta velit.</h3>
		</div>
	</div>
	
	
	<div id="plp-container" class="row">
		<div class="c-wrap">
			
			<div class="plp-filter">
				
				<h4>Filter Your Results</h4>
				
				<div class="plpf-divider"><!-- Divider --></div>
				
				[Search]
				
				<div class="plpf-divider"><!-- Divider --></div>
				
				<a href="#">All Experiences ></a>
				
				<div class="plpf-divider"><!-- Divider --></div>
				
				<div class="plpf-groups">
					
					[groups]
				
				
				</div>
				
				
				
			
			</div>
			
			<div class="plp-results">
				
				<div class="row plp-sort">
					
					<ul>
						<li><a href="#" class="selected">All</a></li>
						<li><a href="#">Most Popular</a></li>
						<li><a href="#">Newest</a></li>
					</ul>

					<div class="plp-sort-select">
						<select>
							<option selected="selected" value="alphabeticalaz">Alphabetical A-Z</option>
							<option value="alphabeticalza">Alphabetical Z-A</option>
						</select>
					</div>
					
				</div>
				
				<div class="row">
				
					<ul class="plp-items">
						<li>
							<div class="i-inner">
								
								<div class="col i-image"><img src="/img/placeholder/plp-i-image.png" /></div>
								<div class="col i-details">[details]</div>
								<div class="col i-actions">[actions]</div>

							</div>
						</li>
						<li>
							<div class="i-inner">
								
								<div class="col i-image"><img src="/img/placeholder/plp-i-image.png" /></div>
								<div class="col i-details">[details]</div>
								<div class="col i-actions">[actions]</div>

							</div>
						</li>
						<li>
							<div class="i-inner">
								
								<div class="col i-image"><img src="/img/placeholder/plp-i-image.png" /></div>
								<div class="col i-details">[details]</div>
								<div class="col i-actions">[actions]</div>

							</div>
						</li>
						<li>
							<div class="i-inner">
								
								<div class="col i-image"><img src="/img/placeholder/plp-i-image.png" /></div>
								<div class="col i-details">[details]</div>
								<div class="col i-actions">[actions]</div>

							</div>
						</li>
						<li>
							<div class="i-inner">
								
								<div class="col i-image"><img src="/img/placeholder/plp-i-image.png" /></div>
								<div class="col i-details">[details]</div>
								<div class="col i-actions">[actions]</div>

							</div>
						</li>
					</ul>

				</div>

			</div>
		
		
			
		</div>
	</div>

</div>     
{% endblock %}
