            <div id="nav-site">
                <div class="c-wrap">
                    <nav id="site-nav">
                        <ul class="inline-nav">
                            <li id="nav-experiences">
                                <a href="#" class="has-sub">Experiences<span aria-hidden="true" class="ico-arrow-down"></a>
                                <div class="nav-sub">
                                    <a class="nav-tab" href="#">
                                        Experiences<span aria-hidden="true" class="ico-arrow-down"></span>
                                    </a>
                                    <div class="drop-panel">
                                        <div class="panel-inner">
                                            <ul>
                                                <!-- Column 1 -->
                                                <li>
                                                    <ul class="sub-set">
                                                        <li><a href="#">U.S. Travel</a></li>
                                                        <li>
                                                            <a href="#">International Travel</a>
                                                            <ul>
                                                                <li><a href="#">Canada</a></li>
                                                                <li><a href="#">Mexico</a></li>
                                                                <li><a href="#">Central/South America</a></li>
                                                                <li><a href="#">Caribbean</a></li>
                                                                <li><a href="#">Europe</a></li>
                                                                <li><a href="#">Africa</a></li>
                                                                <li><a href="#">Asia</a></li>
                                                                <li><a href="#">Australia/New Zealand</a></li>
                                                                <li><a href="#">South Pacific</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="#">Food &amp; Wine</a>
                                                            <ul>
                                                                <li><a href="#">Napa Valley</a></li>
                                                                <li><a href="#">Sonoma Valley</a></li>
                                                                <li><a href="#">Culinary</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <!-- Column 1 -->
                                                
                                                <!-- Column 2 -->
                                                <li>
                                                    <ul class="sub-set">
                                                        <li>
                                                            <a href="#">Sports</a>
                                                            <ul>
                                                                <li><a href="#">Golf</a></li>
                                                                <li><a href="#">Basketball</a></li>
                                                                <li><a href="#">Football</a></li>
                                                                <li><a href="#">Horse Racing</a></li>
                                                                <li><a href="#">Indy &amp; NASCAR</a></li>
                                                                <li><a href="#">Championship</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="#">Adventure</a>
                                                            <ul>
                                                                <li><a href="#">Boating</a></li>
                                                                <li><a href="#">Flying</a></li>
                                                                <li><a href="#">Driving</a></li>
                                                                <li><a href="#">Outdoors</a></li>
                                                                <li><a href="#">Animal Lovers</a></li>
                                                                <li><a href="#">Skiing/Snowboarding</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <!-- Column 2 -->
                                                
                                                <!-- Column 3 -->
                                                <li>
                                                    <ul class="sub-set">
                                                        <li>
                                                            <a href="#">Shopping &amp; Fashion</a>
                                                            <ul>
                                                                <li><a href="#">Saks Fifth Ave</a></li>
                                                                <li><a href="#">Bloomingdales</a></li>
                                                                <li><a href="#">Paris Boutique</a></li>
                                                                <li><a href="#">Fashion Week</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="#">Award Shows</a>
                                                            <ul>
                                                                <li><a href="#">Grammys</a></li>
                                                                <li><a href="#">Emmys</a></li>
                                                                <li><a href="#">ESPYs</a></li>
                                                                <li><a href="#">CMAs</a></li>
                                                                <li><a href="#">Kids Choice/MTV</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <!-- Column 3 -->
                                                
                                                <!-- Column 4 -->
                                                <li>
                                                    <ul class="sub-set">
                                                        <li>
                                                            <a href="#">Entertainment</a>
                                                            <ul>
                                                                <li><a href="#">Broadway Theatre</a></li>
                                                                <li><a href="#">Vegas Shows</a></li>
                                                                <li><a href="#">New Orleans Jazz</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Family Friendly</a></li>
                                                        <li><a href="#">Spa &amp; Relaxation</a></li>
                                                        <li><a href="#">Cruises</a></li>
                                                        <li><a href="#">VIP Tours</a></li>
                                                    </ul>
                                                    
                                                    <ul class="sub-set all-experiences">
                                                        <li><a href="{{ path('packageList') }}">All Experiences</a></li>
                                                        <li><hr/></li>
                                                        <li><a href="#">Most Popular</a></li>
                                                        <li><a href="#">Newest</a></li>
                                                    </ul>
                                                </li>
                                                <!-- Column 4 -->
                                            </ul>
                                            
                                            <div class="reset">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="#" class="has-sub">How it Works<span aria-hidden="true" class="ico-arrow-down"></span></a>
                                <div class="nav-sub">
                                    <a class="nav-tab" href="#">
                                        How it Works<span aria-hidden="true" class="ico-arrow-down"></span>
                                    </a>
                                    <div class="drop-panel" id="sub-howitworks">
                                        <div class="panel-inner">
                                            <ul>
                                                <li><a href="#">How does Winspire work?</a></li>
                                                <li><a href="#">FAQs</a></li>
                                            </ul>
                                            <div class="reset">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="#" class="has-sub">Why Winspire<span aria-hidden="true" class="ico-arrow-down"></span></a>
                                <div class="nav-sub">
                                    <a class="nav-tab" href="#">
                                        Why Winspire<span aria-hidden="true" class="ico-arrow-down"></span>
                                    </a>
                                    <div class="drop-panel" id="sub-whywinspire">
                                        <div class="panel-inner">
                                            <ul>
                                                <li><a href="#">Why Winspire</a></li>
                                                <li><a href="#">Why We're Different</a></li>
                                                <li><a href="#">About Us</a></li>
                                                <li><a href="#">Testimonials</a></li>
                                            </ul>
                                            <div class="reset">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="#" class="no-sub">Winning Bidders</a></li>
                        </ul>
                    </nav>
                    <div id="site-search">
                        <input type="text" class="search-text" value="Search for Experiences..."/>
                        <input type="button" class="search-submit" value="Search"/>
                    </div>
                </div>
                <!-- end c-wrap -->
            </div>
            <!-- end nav-site -->