.buildpath
.project
.settings
.DS_Store
.idea
web/bundles/
#app/bootstrap.php.cache
app/cache/*
app/config/parameters.yml
app/logs/*
app/documents/*
app/invoices/*
build/
/vendor
composer.phar
web.config
