@font-face {
  font-family: 'ws-icom';
  src:url('/fonts/ws-icom.eot');
  src:url('/fonts/ws-icom.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ws-icom.svg#ws-icom') format('svg'),
    url('/fonts/ws-icom.woff') format('woff'),
    url('/fonts/ws-icom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'ws-icom';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="ico-"]:before, [class*=" ico-"]:before {
  font-family: 'ws-icom';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.ico-twitter:before {
  content: "\e000";
}
.ico-facebook:before {
  content: "\e001";
}
.ico-youtube:before {
  content: "\e002";
}
.ico-search:before {
  content: "\e003";
}
.ico-suitcase:before {
  content: "\e004";
}
.ico-arrow-up:before {
  content: "\e005";
}
.ico-arrow-right:before {
  content: "\e006";
}
.ico-arrow-left:before {
  content: "\e007";
}
.ico-arrow-down:before {
  content: "\e008";
}
.ico-bed:before {
  content: "\e009";
}
.ico-airplane:before {
  content: "\e00a";
}
.ico-feed:before {
  content: "\e00b";
}
.ico-envelope:before {
  content: "\e00c";
}
.ico-user:before {
  content: "\e00d";
}
.ico-menu:before {
  content: "\e00e";
}
.ico-html5:before {
  content: "\e00f";
}
