@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon.eot');
    src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.woff') format('woff'),
        url('/fonts/icomoon.ttf') format('truetype'),
        url('/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-html5:before, .icon-menu:before, .icon-user:before, .icon-envelope:before, .icon-feed:before, .icon-airplane:before, .icon-bed:before, .icon-arrow-down:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-arrow-up:before, .icon-search:before, .icon-youtube:before, .icon-facebook:before, .icon-twitter:before, .icon-suitcase:before, .icon-bubble:before, .icon-double-up:before, .icon-double-down:before, .icon-comment:before, .icon-minus:before, .icon-suitcase-2:before, .icon-plus:before, .icon-play:before, .icon-suitcase-locked:before, .icon-checkmark:before, .icon-download:before, .icon-x:before, .icon-warning:before, .icon-megaphone:before, .icon-speech-check:before, .icon-trophy:before, .icon-crown:before, .icon-lock:before, .icon-heart:before, .icon-book:before, .icon-clock:before, .icon-open-circle:before, .icon-closed-circle:before, .icon-phone:before, .icon-envelope-2:before, .icon-facebook-2:before, .icon-twitter-2:before, .icon-youtube-2:before, .icon-pencil:before, .icon-cancel:before, .icon-truck:before, .icon-pin:before, .icon-eye:before, .icon-trash:before, .icon-pinterest, .icon-google-plus, .icon-google-plus-2, .icon-gplus {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-html5:before {
    content: "\e00f";
}
.icon-menu:before {
    content: "\e00e";
}
.icon-user:before {
    content: "\e00d";
}
.icon-envelope:before {
    content: "\e00c";
}
.icon-feed:before {
    content: "\e00b";
}
.icon-airplane:before {
    content: "\e00a";
}
.icon-bed:before {
    content: "\e009";
}
.icon-arrow-down:before {
    content: "\e008";
}
.icon-arrow-left:before {
    content: "\e007";
}
.icon-arrow-right:before {
    content: "\e006";
}
.icon-arrow-up:before {
    content: "\e005";
}
.icon-search:before {
    content: "\e003";
}
.icon-youtube:before {
    content: "\e002";
}
.icon-facebook:before {
    content: "\e001";
}
.icon-twitter:before {
    content: "\e000";
}
.icon-suitcase:before {
    content: "\e004";
}
.icon-bubble:before {
    content: "\e010";
}
.icon-double-up:before {
    content: "\e011";
}
.icon-double-down:before {
    content: "\e012";
}
.icon-comment:before {
    content: "\e013";
}
.icon-minus:before {
    content: "\e014";
}
.icon-suitcase-2:before {
    content: "\e015";
}
.icon-plus:before {
    content: "\e016";
}
.icon-play:before {
    content: "\e017";
}
.icon-suitcase-locked:before {
    content: "\e018";
}
.icon-checkmark:before {
    content: "\e019";
}
.icon-download:before {
    content: "\e01a";
}
.icon-x:before {
    content: "\e01b";
}
.icon-warning:before {
    content: "\e01c";
}
.icon-megaphone:before {
    content: "\e01d";
}
.icon-speech-check:before {
    content: "\e01e";
}
.icon-trophy:before {
    content: "\e01f";
}
.icon-crown:before {
    content: "\e020";
}
.icon-lock:before {
    content: "\e021";
}
.icon-heart:before {
    content: "\e022";
}
.icon-book:before {
    content: "\e023";
}
.icon-clock:before {
    content: "\e024";
}
.icon-open-circle:before {
    content: "\e025";
}
.icon-closed-circle:before {
    content: "\e026";
}
.icon-phone:before {
    content: "\e02c";
}
.icon-envelope-2:before {
    content: "\e027";
}
.icon-facebook-2:before {
    content: "\e028";
}
.icon-twitter-2:before {
    content: "\e029";
}
.icon-youtube-2:before {
    content: "\e02a";
}
.icon-pencil:before {
    content: "\e02b";
}
.icon-cancel:before {
    content: "\e02d";
}
.icon-truck:before {
    content: "\e02e";
}
.icon-pin:before {
    content: "\e02f";
}
.icon-eye:before {
    content: "\e030";
}
.icon-trash:before {
    content: "\e031";
}
.icon-pinterest:before {
    content: "\e032";
}
.icon-google-plus:before {
    content: "\e033";
}
.icon-google-plus-2:before {
    content: "\e034";
}
.icon-gplus:before {
    content: "\e035";
}