@import "colors";
@import "media-queries";
@import "mixins";
@import "utilities";
@import "reset";
@import "selectboxit";


@ws-font-defaultsize: 16px;

@ws-arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
@ws-garamond: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
@ws-lucida: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;



/* Global */
html, body { }
body { font-family:@ws-arial;font-size:@ws-font-defaultsize;background:rgb(40,119,174); }
a, a:active, a:visited { color:@ws-lightblue; }
a:hover { color:@ws-darkblue; }
ul, h1, h2, h3, h4, h5, h6, p { padding:0;margin:0; }


h2 { color:@ws-darkblue; }
h3 { color:@ws-gray85;font-weight:normal; }
h4 { color:@ws-darkblue; }
h5 { color:@ws-gray85; }
h6 { color:@ws-gray85;font-weight:normal; }


header .c-wrap, footer .c-wrap { padding:0 20px;width:1000px; }
header .c-wrap { height:65px; }

/* Core Navigation */
#nav-core { height:65px;
  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWRhZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(218,218,218) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(218,218,218))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(218,218,218) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(218,218,218) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(218,218,218) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(218,218,218) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=0 ); /* IE6-8 */
  &:after { clear:both; }
  
}
#core-home { display:block;float:left;height:65px; }
#core-nav { float:right;margin:22px 0 0 0; 
  li { padding:0 10px;border-right:1px solid @ws-lightblue;height:10px;line-height:10px;
    &:last-child { border:none; }
  }
  a { font-size:0.750em; }
}
#core-suitcase { color:@ws-darkblue;font-family: @ws-lucida;height:30px;line-height:33px;padding:0 5px 0 15px;margin:8px 0 0 10px;
  float:right;cursor:pointer;position:relative;
  border:1px solid rgb(208,223,223);border-radius: 3px;-moz-border-radius:3px;-webkit-border-radius:3px;background: rgb(248,249,249);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNGU1ZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgb(248,249,249) 0%, rgb(212,229,240) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(248,249,249)), color-stop(100%,rgb(212,229,240))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(248,249,249) 0%,rgb(212,229,240) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(248,249,249) 0%,rgb(212,229,240) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(248,249,249) 0%,rgb(212,229,240) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(248,249,249) 0%,rgb(212,229,240) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9f9', endColorstr='#d4e5f0',GradientType=0 ); /* IE6-8 */
  em { font-family: @ws-garamond; }
  .btn-label {
      height:30px;
      line-height:30px;
      float:left;
      span {
          font-size:125%;
      }
  }
  .btn-drop { float:right;margin:4px 0 0 5px;
    .btn-blue(3px);width:20px;height:20px;line-height:22px;font-size:18px;line-height:24px;
  }
  &:hover { -webkit-box-shadow:  0px 0px 3px 1px rgba(0, 0, 0, .1);box-shadow:  0px 0px 3px 1px rgba(0, 0, 0, .1); }
  #suitcase-panel { position:absolute;top:0;right:0;z-index:2002;cursor:auto;display:none;
    .panel-tab { position:relative; }
    .the-tab { height:30px;position:relative;z-index:52;cursor:pointer;
      .tab-btn { -webkit-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, .25);box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, .25);
        height:30px;width:26px;position:absolute;right:0;top:0;.rc-trbl(5px,5px,0,0);
        border:2px solid @ws-white;border-bottom:none;background:@ws-notwhite;
        font-size:18px;
        span {
            line-height:18px;
            display:block;
            position:absolute;
            top:4px;
            left:3px;
        }
      }
    }
    .the-panel { .rc-trbl(5px,0,5px,5px);border:2px solid @ws-white;background:@ws-notwhite;position:relative;z-index:51;
      padding:10px;-webkit-box-shadow:0px 1px 2px 0px rgba(0,0,0,.25);box-shadow:0px 1px 2px 0px rgba(0,0,0,.25);
      .panel-field { width:184px;height:21px;margin:2px 0 12px 0;.rc-trbl(5px,5px,5px,5px);padding:3px;
        background:@ws-white;color:@ws-notblack;
        -webkit-box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, .25);box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, .25);
        input { border:none;height:20px;line-height:20px;margin:0;padding:0;
          &.pf-text { color:#d8d8d8;font-size:.750em;width:123px;float:left;height:18px;line-height:18px;margin:3px 0 0 0;padding:0 5px;outline:none; }
          &.pf-button { .btn-blue(3px);width:50px;height:18px;margin:2px 1px 0 0;float:right;font-size:.675em; }
        }
      }
      
      .pa-button { .btn-blue(5px);width:90px;height:26px;float:left;font-size:.833em;font-weight:900;
        &.pa-li { float:right; }
      }
      
    }
  }
}

/* Site Nav */
#nav-site {
  height:50px;
  border-top: 1px solid rgb(74,177,245);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .25);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .25);
  position:relative;
  z-index:2001;
  
  background: rgb(41,169,254); /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5YTlmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDVlYjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgb(41,169,254) 0%, rgb(0,94,182) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(41,169,254)), color-stop(100%,rgb(0,94,182))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(41,169,254) 0%,rgb(0,94,182) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(41,169,254) 0%,rgb(0,94,182) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(41,169,254) 0%,rgb(0,94,182) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(41,169,254) 0%,rgb(0,94,182) 100%); /* W3C */

  /* Header -> Site Nav */
  #site-nav { float:left;height:50px;
    /* Main Nav */
    li { background:url('/img/ws-nav-vr.png') right no-repeat transparent;position:relative;height:50px;
      &:last-child, li { background:none;padding:0; }
      span {
          font-size:18px;
          margin:0 0 0 15px;
          position:relative;
          top:2px;
      }
    }
    a { padding:0 20px 0 15px;line-height:50px;color:@ws-white;font-weight:900;font-size:0.833em;white-space:nowrap;
      &:hover { color:@ws-yellow; } 
    }
    .no-sub { font-size:15px;text-shadow: 0 -1px 0 #555; }
    .has-sub { z-index:60;font-size:15px;text-shadow: 0 -1px 0 #555; }
    .active a { color:@ws-yellow; }
    /* Main Nav */
   
    /* Sub Nav */
    .nav-sub { position:relative;top:-50px;left:0;visibility:hidden;
      a { font-weight:normal;color:@ws-darkgray;line-height:25px;
        &.nav-tab { background:@ws-white;font-size:15px;font-weight:900;color:@ws-medblue;line-height:50px;margin:0 2px 0 0;
          -webkit-box-shadow: inset 0px 2px 1px 1px rgba(0, 0, 0, .35);box-shadow: inset 0px 2px 1px 1px rgba(0, 0, 0, .35);
          border-radius: 5px 5px 0px 0px;-moz-border-radius: 5px 5px 0px 0px;-webkit-border-radius: 5px 5px 0px 0px;
        }
        &:hover { color:@ws-medblue; }
      }
      .drop-panel { position:absolute;background:@ws-white;z-index:2001;display:block;width:auto;top:40px;
        width:215px;margin:0;padding:0;
        border-radius: 0px 5px 5px 5px;-moz-border-radius: 0px 5px 5px 5px;-webkit-border-radius: 0px 5px 5px 5px;
        -webkit-box-shadow:  0px 8px 8px 0px rgba(0, 0, 0, .25);box-shadow:  0px 8px 8px 0px rgba(0, 0, 0, .25);
        .panel-inner { -webkit-box-shadow: inset 0px -2px 1px 1px rgba(0, 0, 0, .35);
          box-shadow: inset 0px -2px 1px 1px rgba(0, 0, 0, .35);border-radius: 0px 5px 5px 5px;
          -moz-border-radius: 0px 5px 5px 5px;-webkit-border-radius: 0px 5px 5px 5px; 
        }
        ul { padding:10px 0;margin:0;display:block;
          ul { padding:0; }
          &:after { clear:both; } 
        }
        li { height:auto;display:block; }
        a { &:hover { background:rgba(0,0,0,.10); } }
      }
    }
    
      /* Experiences Drop */
      #nav-experiences { 
        .drop-panel { width:auto;
          ul { padding:0;position:relative;white-space:nowrap;display:table; }
          li { min-height:300px;border-right:1px solid @ws-gray;padding:10px 0;display:table-cell;
            ul { display:block; }
            a { line-height:25px;font-weight:900;color:@ws-medblue; }
            li { min-height:0;border:none;float:none;padding:0;display:block; }
            &:last-child { border:none; }
          }
          .sub-set {
            li { li { a { line-height:20px;font-weight:normal;color:@ws-darkgray; } }
              ul li { text-indent:5px; }
            }
            &.all-experiences { margin:30px 0 0 0;
              li:first-child a { color:@ws-orange; }
              hr { height:1px;color:@ws-silver;margin:2px 20px 2px 15px; }
            }
          }
        }
      }
      /* Experiences Drop */
     
    /* Sub Nav */
  }
  /* Header -> Site Nav */
  #site-search { margin:9px 0 0 0;float:right;width:245px;height:30px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;
    background:@ws-white;-webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .25);box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .25);
    input { border:none;background:none transparent;
      &.search-text {
          font-size:12px;
          height:20px;
          line-height:20px;
          padding:6px 15px 4px 15px;
          width:184px;
          color:#d8d8d8;
          font-style:italic;
          float:left;
          outline:none !important;
      }
      &.search-submit { margin:0 1px 0 0;height:30px;width:30px;float:right;text-indent:100%;white-space:nowrap;overflow:hidden;padding:0;
        background: url('/img/ws-core-search-btn.png') center center no-repeat transparent;
      }
    }
  }
  &:after { clear:both; }
}

footer, #footer { height:220px;border-top:1px solid rgb(195,213,224);
  background: rgb(31,124,184); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmN2NiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iIzU1OWVjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODc3YWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgb(31,124,184) 0%, rgb(85,158,206) 31%, rgb(40,119,174) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(31,124,184)), color-stop(31%,rgb(85,158,206)), color-stop(100%,rgb(40,119,174))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(31,124,184) 0%,rgb(85,158,206) 31%,rgb(40,119,174) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(31,124,184) 0%,rgb(85,158,206) 31%,rgb(40,119,174) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(31,124,184) 0%,rgb(85,158,206) 31%,rgb(40,119,174) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(31,124,184) 0%,rgb(85,158,206) 31%,rgb(40,119,174) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f7cb8', endColorstr='#2877ae',GradientType=0 ); /* IE6-8 */
}

#nav-social { width:400px;height:120px;position:relative;float:left;
  .social-bg { position:absolute;top:-38px;left:-43px;z-index:1; }
  #social-nav { position:relative;z-index:5;padding:30px 0 0 232px;
    li { margin:0 3px;
      a { border:1px solid @ws-white;background:@ws-silver;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;
        width:30px;height:30px;color:@ws-darkblue;font-size:1.333em;text-align:center;line-height:34px;
      
        &:hover {
          -webkit-box-shadow:  0px 0px 3px 1px rgba(0, 0, 0, .5);
          box-shadow:  0px 0px 3px 1px rgba(0, 0, 0, .5);
        }
      }
    }
  }
}

#nav-sitemap { 
  float:right;margin-right:-10px;margin-top:24px;
  #sitemap-nav { 
    a { color:@ws-white;font-size:0.9em;padding:1px 10px; 
      &:hover { color:@ws-yellow; }
    }
    li { 
      ul { margin:0;padding:0;
        li { display:block; }
      }  
    }
  }
}

#nav-legal { clear:both;
  #legal-nav { float:left; 
    a { 
      color:@ws-white;font-size:0.9em;padding:1px 9px; 
      &:hover { color:@ws-yellow; }  
    }
  }
  #legal-copyright { display:block;text-align:right;color:@ws-white;font-size:0.9em; }
}
.content {
    background:@ws-white;
    position:relative;
}

/* End Global */




/* Page Specific Styles */
#con-home {
  
  h2 { font-size:2.500em; }
  h3 { font-size:1.500em;line-height:1.275em;margin:0 0 40px 0; }
  h6 { font-size:1.417em;line-height:1.275em; }
  a { color:@ws-orange;text-decoration:none; &:hover { color:@ws-darkblue; } }


    #home-banner {
        position:relative;
        border-bottom:1px solid @ws-darksilver;
        height:362px;
        width:100%;
        min-width:1040px;
        
        .slide-wrapper {
            width: auto;
            min-width: 1040px;
            height: 362px;
            background-color: #fff;
            -webkit-background-clip: padding;
            -moz-background-clip: padding;
            background-clip: padding-box;
            outline: none;
            -webkit-transition: background-color 1s linear;
            -moz-transition: background-color 1s linear;
            -o-transition: background-color 1s linear;
            -ms-transition: background-color 1s linear;
            transition: background-color 1s linear;
            overflow:hidden;
            
            .step {
                width: 1040px;
                height: 362px;
                display: block;
                position:relative;
                -webkit-transition: opacity 1s;
                -moz-transition:    opacity 1s;
                -ms-transition:     opacity 1s;
                -o-transition:      opacity 1s;
                transition:         opacity 1s;
            }
            
            .step:not(.active) {
                opacity: 0;
                filter: alpha(opacity=0); /* internet explorer */
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
            }
            
            .step img {
                position:absolute;
                right:0;
                top:0;
                z-index:1;
            }
        }
        
        .nav-dots {
            width:100%;
            position:absolute;
            text-align:center;
            left:0px;
            bottom:27px;
            z-index:2000;
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            -o-user-select:none;
            user-select:none;
            span {
                display:inline-block;
                position:relative;
                width:13px;
                height:13px;
                border-radius:50%;
                background:#ccc;
                margin:0 8px;
                cursor:pointer;
                -webkit-box-shadow:inset 0px 2px 2px 0px rgba(122, 122, 122, 1);
                box-shadow:inset 0px 2px 2px 0px rgba(122, 122, 122, 1);
                &.nav-dots-current {
                    background: #7dbeff;
                    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYmVmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzE2OGJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDZjYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                    background: -moz-linear-gradient(top,  #7dbeff 0%, #168bff 50%, #1d6cbb 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7dbeff), color-stop(50%,#168bff), color-stop(100%,#1d6cbb));
                    background: -webkit-linear-gradient(top,  #7dbeff 0%,#168bff 50%,#1d6cbb 100%);
                    background: -o-linear-gradient(top,  #7dbeff 0%,#168bff 50%,#1d6cbb 100%);
                    background: -ms-linear-gradient(top,  #7dbeff 0%,#168bff 50%,#1d6cbb 100%);
                    background: linear-gradient(to bottom,  #7dbeff 0%,#168bff 50%,#1d6cbb 100%);
                    -webkit-box-shadow:none;
                    box-shadow:none;
                }
            }
        }
        
        /* Banner Slides */
        .slide-content {
            top:0;
            left:0;
            position:absolute;
            z-index:2;
        }
        
        .background-1 {
            background: rgb(143,198,221);
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmYzZkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top,  rgb(143,198,221) 0%, rgb(255,255,255) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(143,198,221)), color-stop(100%,rgb(255,255,255))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgb(143,198,221) 0%,rgb(255,255,255) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgb(143,198,221) 0%,rgb(255,255,255) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgb(143,198,221) 0%,rgb(255,255,255) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgb(143,198,221) 0%,rgb(255,255,255) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc6dd', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
        }
        
        #slide-1 {
            .slide-content {
                left:22px;
                h2 {
                    font-size:60px;
                    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
                    padding:69px 0 0 0;
                    letter-spacing:-1px;
                }
                h3 {
                    margin:0 0 10px 5px;
                    padding:4px 0 0 0;
                }
                a {
                    margin:0 0 0 8px;
                    font-weight:bold;
                    line-height:110%;
                    span {
                        font-size: 140%;
                        font-weight: normal;
                        vertical-align: middle;
                    }
                }
            }
            img {
                right:10px;
            }
        }
        
        .background-2 {
            background:url('/img/home-banner-background2.png') 0 0 repeat-x;
        }
        
        #slide-2 {
            .slide-content {
                top:auto;
                left:739px;
                bottom:43px;
                a {
                    margin:0;
                    font-size:12px;
                    font-weight:bold;
                    line-height:110%;
                    span {
                        font-size:140%;
                        font-weight:normal;
                        margin-left:-2px;
                        vertical-align:middle;
                    }
                }
            }
            img {
                right:10px;
            }
        }
        
        .background-3 {
            background:url('/img/home-banner-background3.png') 0 0 repeat-x;
        }
        
        #slide-3 {
            .slide-content {
                top:auto;
                left:41px;
                bottom:49px;
                a {
                    margin:0;
                    font-size:18px;
                    font-weight:bold;
                    line-height:110%;
                    span {
                        font-size:140%;
                        font-weight:normal;
                        margin-left:-8px;
                        vertical-align:middle;
                    }
                }
            }
            img {
                right:10px;
            }
        }
    }
  #home-experiences { padding:40px 0 0 0;background: url('/img/home-experiences-bg.png') transparent; }
  #home-featured {
    border:1px solid @ws-white;
    padding:15px;
    background: #eddeae url(/img/home-featured-bg.png) repeat-x;
    
    #e-browse { width:375px;float:left;margin:1px 0 0 16px;
      h2 {
        font-size:2.167em;
        line-height:.833em;
        margin:0 0 13px 0;
        .small { font-size:50%; }
        text-shadow:0px 1px 1px #ffffff;
      }
      h3 { font-size:1em;line-height:1.5em;margin:0 0 28px 0; }
      a.ws-btn { width:250px;height:50px;line-height:50px;margin:0 0 0 50px;font-size:1.333em;letter-spacing:-1px;
        .btn-blue(3px);
        span { position:relative;top:1px;margin:0 3px 0 0; }
        &:hover { -webkit-box-shadow:0px 0px 3px 1px rgba(0, 0, 0, .25);box-shadow:0px 0px 3px 1px rgba(0, 0, 0, .25); }
      }
    }
    
    #e-featured { -webkit-box-shadow:0px 0px 5px 1px rgba(0, 0, 0, .25);box-shadow:0px 0px 5px 1px rgba(0, 0, 0, .25);position:relative;
      width:516px;float:right;margin:9px 9px 9px 0;padding:0 19px 13px;background:rgb(251,250,233);border:2px solid @ws-white;
      h4 { font-size:1.250em;line-height:1em;margin:13px 0 11px 11px; }
      .f-all { float:right;margin:16px 1px 0 0;font-size:.833em;
          span { margin:0 3px 0 0;font-size:1.375em;line-height:0;position:relative;top:4px; }
      }
      
      #featured-slides {
        height:190px;
        overflow:hidden;
        &:after { clear:both; }
        .cycle-carousel-wrap {  }
        li { display:block;float:left;width:150px;margin:0;padding:0 11px;position:relative !important;height:190px;
          img { border:3px solid @ws-darkersilver;margin:0 0 1px 0; }
          p { font-size:0.833em;line-height:1em;white-space:normal; }
          a { display:block; }
          .f-add { .btn-blue(2px);position:absolute;bottom:0;width:150px;height:28px;line-height:28px;font-size:0.917em;
            em { word-spacing:-2px;font-family: @ws-garamond; }
            span { margin:0 3px 0 0;font-size:1.375em;line-height:1em;position:relative;top:2px; }
            &:hover { -webkit-box-shadow:0px 0px 3px 1px rgba(0, 0, 0, .25);box-shadow:0px 0px 3px 1px rgba(0, 0, 0, .25); }
          }
          .f-options { position:absolute;bottom:35px;font-size:.833em;
              span { font-size:1.3em;position:relative;top:3px; }
          }
        }
      }
      .feat-np { position:absolute;top:50%;margin-top:-15px;cursor:pointer;
        width:18px;height:30px;text-align:center;background:@ws-silver;
        line-height:34px;
        font-size:22px;
        span { color:@ws-burnorange;margin-left:-2px }
        -webkit-box-shadow:  0px 0px 2px 1px rgba(0, 0, 0, .25);
        box-shadow:  0px 0px 2px 1px rgba(0, 0, 0, .25);
        &:hover span { color:@ws-darkblue; }
      }
      #featured-next { right:-6px;
        .tab-behind { width:0;border-bottom:8px solid transparent;border-left:4px solid @ws-gray85;position:absolute;right:0;bottom:-8px; }
      }
      #featured-prev { left:-6px;
        .tab-behind { width:0;border-bottom:8px solid transparent;border-right:4px solid @ws-gray85;position:absolute;left:0;bottom:-8px; }
      }
      #featured-controls {  }
      #featured-control { display:table;margin:0 auto;position:relative;
        ul { height:37px;
          li { display:inline-block;cursor:pointer;padding:12px 8px 12px 8px;
            div { width:13px;height:13px;background:rgb(204,204,204);
              -webkit-border-radius: 6px 6px 6px 6px;border-radius: 6px 6px 6px 6px;
              -webkit-box-shadow: inset 0px 2px 2px 0px rgba(122, 122, 122, 1);
              box-shadow: inset 0px 2px 2px 0px rgba(122, 122, 122, 1);
            }
            &.current, &:hover { div { background: rgb(125,190,255);
              -webkit-box-shadow: inset 0px -6px 6px 0px rgba(6, 93, 179, 1);
              box-shadow: inset 0px -6px 6px 0px rgba(6, 93, 179, 1);
              } 
            }
          } 
        }
      }
    }
    
  } /* End Home Featured */
 
  #home-success { margin-bottom:30px;
    &:after { clear:both; }
    h2 {
      text-align:center;
      margin:40px 0 30px 0;
      text-shadow: 0px 1px 1px #ffffff;
    }
    #success-panels { display:table;margin:0 auto;
      li { 
        width:300px;display:inline-block;vertical-align:top;margin:0 15px;
        img { width:300px;margin:0 0 15px 0; }
        a { color:@ws-lightblue; &:hover { color:@ws-darkblue; } }
        h4 { font-size:1.417em;margin:0 0 7px 0; }
        p { font-size:0.875em;color:@ws-gray85;line-height:1.65em; }
      }
    }
  } /* End Home Success */
 
    #home-stats {
        position:relative;
        .carousel-container {
            outline:none;
            position:relative;
            .carousel-nav span {
                width:18px;
                height:33px;
                position:absolute;
                text-indent:100%;
                overflow:hidden;
                white-space:nowrap;
                background:url(/img/sprite-icons.png) no-repeat;
                background-size:36px 99px;
                cursor:pointer;
                top:130px;
                &.carousel-prev {
                    left:14px;
                    &.slide1 {
                        background-position:0 -33px;
                    }
                    &.slide2 {
                        background-position:0 0px;
                    }
                    &.slide3 {
                        background-position:0 -66px;
                    }
                }
                &.carousel-next {
                    right:14px;
                    &.slide1 {
                        background-position:-18px -33px;
                    }
                    &.slide2 {
                        background-position:-18px 0px;
                    }
                    &.slide3 {
                        background-position:-18px -66px;
                    }
                }
            }
        }
        
        .carousel-frame {
            overflow:hidden;
            position:relative;
        }
        
        .carousel-slider {
            list-style:none;
            margin:0;
            padding:0;
            position:relative;
            width:100%;
            /* Trigger hardware acceleration */
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
        .carousel-slide {
            float:left;
            margin:0;
            padding:0;
            height:260px;
            width:1040px;
            position:relative;
            h5 {
                margin:0;
                padding:0;
                text-indent:100%;
                overflow:hidden;
                white-space:nowrap;
                letter-spacing:normal;
                position:absolute;
            }
            h6 { line-height:1.05em; }
        }
        
        #slide1 {
            background:url(/img/home-stats-bg-1.png) no-repeat;
            h5 {
                background:url(/img/home-stats-thestat-1.png) no-repeat;
                width:718px;
                height:109px;
                left:134px;
                top:90px;
            }
            
            h6 {
                width:570px;
                text-align:justify;
                margin:128px 0 0 347px;
            }
        }
        
        #slide2 {
            background:url(/img/home-stats-bg-2.png) no-repeat;
            h5 {
                background:url(/img/home-stats-thestat-2.png) no-repeat;
                width:789px;
                height:100px;
                left:121px;
                top:56px;
            }
            
            h6 {
                line-height:1.3em;
                width:789px;
                text-align:justify;
                margin:161px 0 0 121px;
            }
        }
        
        #slide3 {
            background:url(/img/home-stats-bg-3.png) no-repeat;
            h5 {
                background:url(/img/home-stats-thestat-3.png) no-repeat;
                width:166px;
                height:136px;
                left:92px;
                top:80px;
            }
            
            h6 {
                font-size:1.3em;
                line-height:1.55em;
                width:620px;
                margin:105px 0 0 290px;
            }
        }
    } /* End Home Stats */
  
  #home-footer {
    position:relative;
    padding:0 0 30px 0;
    -webkit-box-shadow:  0px -5px 10px 0px rgba(0, 0, 0, .25);
    box-shadow:  0px -5px 10px 0px rgba(0, 0, 0, .25);
    background: rgb(245,249,253); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjlmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZmVhZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgb(245,249,253) 0%, rgb(207,234,249) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(245,249,253)), color-stop(100%,rgb(207,234,249))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(245,249,253) 0%,rgb(207,234,249) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(245,249,253) 0%,rgb(207,234,249) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(245,249,253) 0%,rgb(207,234,249) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgb(245,249,253) 0%,rgb(207,234,249) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9fd', endColorstr='#cfeaf9',GradientType=0 ); /* IE6-8 */
    
    #home-f-loved { height:82px;position:relative;background:url('/img/home-lovedby-bbg.png') bottom center no-repeat transparent;
        
        li {
            position:relative;
            width:150px;
            height:82px;
            div {
                position:absolute;
                top:0;
                left:0;
                width:150px;
                height:82px;
                background-size:150px 164px;
                background-repeat:no-repeat;
                &.bw {
                    background-position:0 0;
                }
                &.color {
                    background-position:0 -82px;
                    display:none;
                }
            }
            img {
                display:none;
            }
        }
        
        
        
        
        .carousel-container {
            float:right;
            margin:0 60px 0 0;
            outline:none;
        }
        
        .carousel-frame {
            width:750px;
            overflow: hidden;
            position: relative;
        }
        
        .carousel-slider {
            
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
            /* Trigger hardware acceleration */
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
        .carousel-slide {
            float: left;
            margin: 0;
            padding: 0;
        }
        
        
        
    }

    #home-f-testimonials { margin:16px 60px 0 60px;
      background:url('/img/home-lovedby-bbg.png') bottom center no-repeat transparent;
      h4 { margin:0 0 19px 0;font-size:1.417em; }
      #home-testimonial { margin:0 41px;
        cursor:pointer;
        .t-quote { color:@ws-darkblue;font-size:1em;line-height:1.405em;font-style:italic;margin:0 300px 0 0;
          word-spacing:1px;
          strong { font-size:1.417em; }
        }
        .quote-mark { position:relative;height:0;line-height:0; 
          span { position:absolute;font-size:3em;color:rgb(137,157,178);font-family: Cooper Black, Arial Black, Sans-Serif; font-style:normal; }
        }
        .qm-start { right:7px;top:13px; }
        .qm-end { left:7px;bottom:-3px; }
        
        .t-quote-e { color:@ws-gray85;margin:16px 0 0 0;font-size:.833em;font-weight:900; }
        .e-title { color:@ws-darkblue; }
        img { float:right;position:relative;top:-30px;right:-30px; }
      }
       
    }
    
    #home-f-latestnews { position:relative;clear:both;padding:14px 0 0 0;
      h4 { margin:0 0 12px 60px;font-size:1.417em; }
      #latest-news { display:table;margin:0 auto;
        li { display:inline-block;width:160px;vertical-align:top;margin:0 44px; }
        img { border:1px solid @ws-gray; }
        a:hover img, a.hover img { border:1px solid @ws-darkblue; }
        h6 { font-size:0.833em;font-weight:900;line-height:1.125em;margin:5px 0 3px 0; }
        a:hover h6, a.hover h6 { color:@ws-darkblue; }
        p { font-size:0.750em;color:@ws-gray85; }
      }
    }
  } /* End Chunky Footer */

}

 


 





#con-pl { background: url('/img/home-experiences-bg.png') transparent;padding:0 0 40px 0;
  
  .c-wrap { padding:0 20px;width:1000px; }
  
  h1 { font-size:3.000em;line-height:1em;color:@ws-darkblue; }
  h3 { font-size:1.083em;line-height:1.375em;color:@ws-gray85; }

  #pl-header { padding:39px 0 66px 0;position:relative;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkzY2JlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2VhZTEiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(147,203,234,1) 0%, rgba(227,234,225,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,203,234,1)), color-stop(100%,rgba(227,234,225,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(147,203,234,1) 0%,rgba(227,234,225,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(147,203,234,1) 0%,rgba(227,234,225,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(147,203,234,1) 0%,rgba(227,234,225,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(147,203,234,1) 0%,rgba(227,234,225,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cbea', endColorstr='#00e3eae1',GradientType=0 ); /* IE6-8 */
    .c-wrap { position:relative; }
    h1, h3 { position:relative;z-index:5; }
    h1 { margin:0 0 6px 0; }
    .pl-h-cloud { position:absolute;z-index:3;
      &.c-1 { top:-16px;right:195px;width:316px;height:139px; }
      &.c-2 { top:88px;right:51px;width:140px;height:63px; }
    }
  }

  .pl-filter { width:205px;border:2px solid @ws-white;background:@ws-notwhite;float:left;padding:4px 5px;
    -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .5);
    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .5);
    .f-search {
        .rc-trbl(3px,3px,3px,3px);
        margin:9px 7px 9px 7px;
        width:180px;
        background:@ws-white;
        -webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .25);
        box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .25);
        input {
            border:none;
            background:none transparent;
            &.search-text {
                height:20px;
                line-height:20px;
                padding:5px 5px 5px 10px;
                color:#d8d8d8;
                font-style:italic;
                width:130px;
                font-size:12px;
                outline:none;
            }
            &.search-submit {
                margin:0 1px 0 0;
                height:30px;
                width:30px;
                float:right;
                background: url('/img/ws-core-search-btn.png') center center no-repeat transparent;
            }
        }
    }

    section { padding:10px 5px 12px 5px;background:url('/img/pl-section-border.png') bottom no-repeat transparent;
      &:last-child { background:none; }
      h4 { font-size:1.125em;margin:0 4px 5px 4px; }
      a { color:@ws-orange;text-decoration:none;font-size:.833em;font-weight:900;margin:0 10px;
        &:hover { color:@ws-darkblue; }
        .icom-icon { font-size:1.125em;position:relative;top:2px; }
      }
      
      #pl-link-all {
          color:@ws-darkblue;
          &:hover,
          &.active {
              color:@ws-orange;
          }
      }
      
      .f-group { border-bottom:1px solid rgb(226,226,226);border-top:1px solid rgb(255,255,255);padding:5px 0;position:relative;
        &:first-child { border-top:none; }
        &:last-child { border-bottom:none; }
        
        li { position:relative; }
        .f-select {
            select {
                display:none;
            }
            .selectboxit-container {
                margin:4px 0 0 9px;
                .selectboxit-options {
                    max-height:150px;
                    .selectboxit-option-anchor {
                        margin:0;
                        font-weight:normal;
                        color:#284669;
                    }
                }
            }
            .selectboxit {
                width:180px;
            }
        }
        ul { li { display:none; } li:nth-child(0), li:nth-child(1), li:nth-child(2) { display:block; } }
        .more-shown li { display:block; }
      }
      li {
        display:block;
        input[type="checkbox"] {
            font-size:12px;
            margin:0 4px 0 9px;
        }
        label {
            cursor:pointer;
            font-size:.750em;
            position:relative;
            .noselect;
            font-weight:900;
            color:@ws-darkblue;
            line-height:20px;
            &.active {
                color:@ws-orange;
            }
        }
        
        li label {
            color:@ws-gray85;
            font-weight:100;
            &.active {
                font-weight:bold;
            }
        }
        &.f-g-sm {
            color:@ws-orange;
            cursor:pointer;
            font-size:0.625em;
            font-weight:900;
            padding:0 0 0 29px;
            .icom-icon { font-size:1.125em;position:relative;top:2px; }
            &:hover { color:@ws-darkblue; }
        }
      }
    }
  }
  
  .pl-results { float:right;width:760px; &:after { .clearfix; } }
  .pl-sort { margin:0 0 20px 0;border:2px solid @ws-white;background:@ws-notwhite;padding:5px 228px 5px 7px;height:27px;line-height:27px;
    position:relative;
    -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .5);
    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .5);

    li { height:17px;line-height:17px;margin:5px 0;
      display:block;float:left;.clearfix;border-right:1px solid @ws-darkblue;
      &:last-child { border:none; }
    }
    a { display:block;height:37px;position:relative;top:-10px;line-height:37px;padding:0 15px;
      font-size:0.875em;color:@ws-darkblue;
      text-decoration:none;
      &:hover, &.selected { text-decoration:underline;color:@ws-yarblack; }
      &.selected { font-weight:900; }
    }
    
    .pl-sort-select {
        position:absolute;
        right:8px;
        top:6px;
        
        #sortOrder {
            display:none;
        }
        
        .selectboxit {
            width:180px;
        }
    }
  }
  .pl-items { position:relative; z-index:0;
    li { display:block;position:relative;margin:0 0 5px 0;padding-bottom:1em;
      .i-inner { border:2px solid @ws-white;background:@ws-notwhite;padding:5px;position:relative;z-index:2;
        -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .5);box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .5);
        &:after { content:"";display:block;height:0;clear:both;visibility:hidden; }
        .i-image { float:left;margin:0 0 0 12px;border:3px solid @ws-darkersilver;width:129px;height:85px;position:relative;top:11px; }
        .i-details { margin:0 183px 17px 168px;
          h3 {
              font-size:1.417em;
              color:@ws-darkblue;
              line-height:1em;
              font-weight:600;
              letter-spacing:.6px;
              margin:0 0 8px 0;
              padding:13px 0 0 0;
              a {
                  text-decoration:none;
                  color:@ws-darkblue;
                  &:hover {
                      color:@ws-orange;
                  }
              }
          }
          p { font-size:0.833em;word-spacing:1px;letter-spacing:.06em;margin:0 50px 0 0; }
          .i-srv { margin:13px 0 0 0; 
            .i-sv { font-weight:600;font-size:1.125em;margin:0 5px 0 0; }
            .srv-n { color:@ws-medblue;font-size:0.833em;font-style:italic; }
          }
          .i-npc { font-size:.833em; }
        }
        .i-actions { float:right;width:169px;margin:0 11px 0 0;text-align:right;position:relative;top:9px;
          .i-a-add { .btn-blue(3px);height:37px;line-height:37px;cursor:pointer;margin:0 3px 16px 0;padding:0 13px;float:right;
            font-size:13px;position:relative;text-align:right;
            em { font-family: @ws-garamond; word-spacing:-1px; margin:0 -2px 0 0; }
            span { font-size:1.4em;margin:0 4px 0 0; position:relative; top:2px;}
          }
          .i-a-options { clear:both; 
            a { display:block;font-size:0.750em;color:@ws-orange;text-decoration:none;padding:2px 0 1px 0;
            &:hover { color:@ws-darkblue; } .icom-icon { font-size:1.125em;position:relative;top:2px; } } 
          }
        }
      }
    }
  }
}


#con-pd { background: url('/img/home-experiences-bg.png') transparent;padding:0 0 40px 0;
  .c-wrap { padding:0 20px;width:1000px; }
  h1 { font-size:2.167em;line-height:1em;color:@ws-darkblue;margin:0 0 11px 0;letter-spacing:.75px; }
  h3 { font-size:1.167em;line-height:1em;color:@ws-yarblack;margin:0 0 14px 0;font-weight:600;line-height:1.125em;letter-spacing:.5px; }
  h4 { font-size:1em;line-height:1em;color:@ws-yarblack;margin:0 0 8px 0; }
  /* Detail Panel */
 .pd-detailpanel { float:left;.rc-trbl(2px,2px,2px,2px);border:1px solid @ws-darksilver;padding:0 3px;
    background: rgb(232,233,234);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZTllYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(232,233,234,1) 0%, rgba(209,209,209,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,233,234,1)), color-stop(100%,rgba(209,209,209,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(232,233,234,1) 0%,rgba(209,209,209,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(232,233,234,1) 0%,rgba(209,209,209,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(232,233,234,1) 0%,rgba(209,209,209,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(232,233,234,1) 0%,rgba(209,209,209,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e9ea', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-8 */
    li { display:block;height:15px;line-height:15px;margin:7px 0 !important;padding:0 7px;float:left;
      border-right:1px solid rgb(155,155,155);border-left:1px solid rgb(230,230,230);
      text-shadow: 0px 1px 1px #FFFFFF;filter: dropshadow(color=#FFFFFF, offx=0, offy=1);
      &:first-child { border-left:none; }
      &:last-child { border-right:none; }
      span { font-size:1.167em;font-weight:600;color:rgb(92,92,92); }
      .icom-icon { font-size:1.225em; }
    }
 }
 
  /* Package Detail Header */
  #pd-header { padding:14px 0 27px 0;position:relative;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkzY2JlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2VhZTEiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(147,203,234,1) 0%, rgba(227,234,225,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,203,234,1)), color-stop(100%,rgba(227,234,225,0)));
    background: -webkit-linear-gradient(top,  rgba(147,203,234,1) 0%,rgba(227,234,225,0) 100%);
    background: -o-linear-gradient(top,  rgba(147,203,234,1) 0%,rgba(227,234,225,0) 100%);
    background: -ms-linear-gradient(top,  rgba(147,203,234,1) 0%,rgba(227,234,225,0) 100%);
    background: linear-gradient(to bottom,  rgba(147,203,234,1) 0%,rgba(227,234,225,0) 100%);
    .c-wrap {
        position:relative;
        z-index:1
    }
    .pd-b2-pl { font-size:.833em;font-weight:900;text-decoration:none;margin:0 0 20px 0;display:block;float:left; }
    .pd-banner {
        background:@ws-white;
        position:relative;
        img {
            border:3px @ws-white solid;
            display:block;
        }
    }
  }
  
  /* Package Details */
  .pd-details { width:640px;
    .pd-detail, .pd-discuss { border:2px solid @ws-white;background:@ws-notwhite;padding:28px 37px;margin:0 0 25px 0;
      -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .5);box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .5);
    }
    /* Detail Box */
    .pd-detail {
      .pd-d-utilbar { margin:0 0 38px 2px;height:31px; }
      .pd-d-addthis { float:right; }
      li { list-style:inside;margin:0 0 17px 20px;font-size:.833em;font-weight:600; }
      p { font-size:.833em;margin:0 0 20px 0;line-height:1.333em; }
      a { text-decoration:none;color:@ws-orange;font-size:.833em;font-weight:600; &:hover { color:@ws-darkblue; } }
      
      .detail-info {
          display:none;
          &.active {
              display:block;
          }
      }
      
      .d-i-mi { cursor:pointer; }
    }
    /* Comments Box */
    .pd-discuss { padding:30px 40px;
      h5 { color:rgb(185,0,0);font-size:.833em;font-weight:900;text-transform:uppercase; }
      p { font-size:.750em;font-family:@ws-garamond; }
    }
  }
 
  /* Package Actions */
  .pd-actions { float:right;width:340px;
    .pd-action, .pd-s-inner { border:2px solid @ws-white;background:@ws-notwhite;padding:30px 15px 15px 15px;
      -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .5);box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .5);
    }
    .pd-action, .pd-suggest { margin:0 0 25px 0; }
    .pd-action { 
      h2 { font-size:1.417em;margin:0 0 10px 10px; }
      .pd-a-srv { margin:0 13px; }
      .srv-value { font-size:1.417em;font-weight:600;color:@ws-darkblue; }
      .srv-label { font-size:.833em;font-style:italic;color:@ws-medblue; }
      .pd-a-npcost { font-size:.833em;margin:0 13px; }
      .pd-a-add { .btn-blue(3px);height:37px;line-height:32px;text-decoration:none;margin:15px 0 19px 0; 
        em { font-size:.833em; }
        strong { font-size:0.917em; }
        .icom-icon { font-size:1.333em;margin:0 5px 0 0;position:relative;top:2px; }
      }
      hr { height:0px;border:none;border-top:1px solid @ws-darksilver; }
      .pd-a-options {
        li { display:block;clear:both;margin:0 0 9px 0; }
        input[type="radio"] { display:none; }
        label { cursor:pointer; }
        .a-o-fauxradio { float:left;width:44px;height:40px;.rc-trbl(5px,0,0,5px); }
        .a-o-f-dot { width:25px;height:25px;.rc-trbl(12px,12px,12px,12px);position:relative;margin:7px 0 0 10px;background:@ws-white;
          -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .5);box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .5);
          .f-dot-inner { width:19px;height:19px;.rc-trbl(9px,9px,9px,9px);
            position:relative;top:3px;left:3px;background:rgb(205,205,205);
            -webkit-box-shadow: inset 0px -4px 9px 0px rgba(0, 0, 0, .5);
            box-shadow: inset 0px -4px 9px 0px rgba(0, 0, 0, .5);
          }
        }
        .a-o-pdetail { padding:6px 9px;.rc-trbl(0,5px,5px,5px);margin:0 0 0 44px;font-size:.833em;
          ul { margin:0 0 8px 0; li { clear:none;font-size:.833em; } }
          p { clear:both; }
        }
        input[type="radio"]:checked + label { 
          .f-dot-inner { background:rgb(40,168,253); 
            -webkit-box-shadow: inset 0px 5px 9px -1px rgba(0, 0, 0, .75);
            box-shadow: inset 0px 5px 9px -1px rgba(0, 0, 0, .75);
          }
          .a-o-fauxradio { background:rgb(211,232,246); }
          .a-o-pdetail { background:rgb(211,232,246); }
        }
        input[type="radio"] + label:hover {
          .a-o-fauxradio { background:rgb(166,204,229); }
          .a-o-pdetail { background:rgb(166,204,229); }
        }
      }
    }
    
    .pd-suggest { position:relative;
      &:before, &:after { content:"";position:absolute;z-index:0;bottom:20px;box-shadow:0 25px 10px rgba(0, 0, 0, 0.65);
        height:20%;left:10px;transform:rotate(-4deg);width:46.86%;
      }
      &:after { left:auto;right:10px;transform: rotate(4deg); }
      .pd-s-inner { position:relative;z-index:1;padding-top:11px;padding-bottom:11px; }
      .pd-s-add { .btn-blue(3px);height:28px;line-height:20px;text-decoration:none;margin:0 0 10px 0;
        em { font-size:.750em;font-style:italic; }
        strong { font-size:.833em; }
        .icom-icon { font-size:1.333em;position:relative;top:3px; }
      }
/*       ul { width:20000em; } */
      h2 { margin:0 0 15px 0; }
      li { display:inline-block;width:150px;height:220px;margin:0 2px 0 0;
        img { border:3px solid @ws-darkersilver; }
        p { font-size:.833em;display:block;height:50px;font-weight:600; }
      }
      .pd-s-mo { color:@ws-orange;text-decoration:none;font-size:.833em;font-weight:600; 
        .icom-icon { position:relative;top:1px; }
        &:hover { color:@ws-darkblue; } 
      }
      
      .feat-np { position:absolute;top:50%;margin-top:-15px;cursor:pointer;z-index:2;
        width:18px;height:30px;text-align:center;background:@ws-silver;
        .icom-icon { height:30px;line-height:30px;color:@ws-burnorange; }
        -webkit-box-shadow:  0px 0px 2px 1px rgba(0, 0, 0, .25);
        box-shadow:  0px 0px 2px 1px rgba(0, 0, 0, .25);
      }
      #featured-next { right:-5px;
        .tab-behind { width:0;border-bottom:8px solid transparent;border-left:4px solid @ws-gray85;position:absolute;right:0;bottom:-8px; }
      }
      #featured-prev { left:-5px;
        .tab-behind { width:0;border-bottom:8px solid transparent;border-right:4px solid @ws-gray85;position:absolute;left:0;bottom:-8px; }
      }
      
    }
  }
}

#variant-holder {
    display:none;
}


.shadow-wrapper {
    position:relative;
    z-index:1;
}

.drop-shadow {
    position:relative;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute;
    z-index:-2;
}

/* Lifted corners */
.lifted:before,
.lifted:after {
    -moz-border-radius:4px;
    border-radius:4px;
    bottom:12px;
    left:20px;
    width:50%;
    height:20%;
    max-width:300px;
    max-height:100px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
}

.lifted:after {
    right:20px;
    left:auto;
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
}

.lifted2:before,
.lifted2:after {
    -moz-border-radius:4px;
    border-radius:4px;
    bottom:26px;
    left:5px;
    width:50%;
    height:20%;
    max-width:376px;
    max-height:100px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.4);
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.4);
    -webkit-transform:rotate(-1deg);
    -moz-transform:rotate(-1deg);
    -ms-transform:rotate(-1deg);
    -o-transform:rotate(-1deg);
    transform:rotate(-1deg);
}

.lifted2:after {
    right:5px;
    left:auto;
    -webkit-transform:rotate(1deg);
    -moz-transform:rotate(1deg);
    -ms-transform:rotate(1deg);
    -o-transform:rotate(1deg);
    transform:rotate(1deg);
}

.lifted3:before,
.lifted3:after {
    -moz-border-radius:4px;
    border-radius:4px;
    bottom:8px;
    left:10px;
    width:50%;
    height:20%;
    max-width:490px;
    max-height:100px;
    -webkit-box-shadow:0 12px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 12px 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 12px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform:rotate(-1.5deg);
    -moz-transform:rotate(-1.5deg);
    -ms-transform:rotate(-1.5deg);
    -o-transform:rotate(-1.5deg);
    transform:rotate(-1.5deg);
}

.lifted3:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(1.5deg);
    -moz-transform:rotate(1.5deg);
    -ms-transform:rotate(1.5deg);
    -o-transform:rotate(1.5deg);
    transform:rotate(1.5deg);
}

/* Curved shadows */
.curved:before {
    top:10px;
    bottom:10px;
    left:0;
    right:50%;
    -webkit-box-shadow:0 0 30px rgba(0,0,0,0.7);
    -moz-box-shadow:0 0 30px rgba(0,0,0,0.7);
    box-shadow:0 0 30px rgba(0,0,0,0.7);
    -moz-border-radius:10px / 100px;
    border-radius:10px / 100px;
}

.curved-hz-2:before {
    top:5px;
    bottom:0;
    left:20px;
    right:20px;
    -moz-border-radius:300px / 10px;
    border-radius:300px / 10px;
}
