/* Utility */
.c-wrap { width:1040px;margin:0 auto; }
.inline-nav, .il-nav, .inline-block, .ilb { font-size:0;padding:0;margin:0;
  li { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;font-size:@ws-font-defaultsize; }
}
.inline-nav, .il-nav { li { a { display:block;text-decoration:none;cursor:pointer; }}}
.il-nav .blk-lst li { display:block; }
.reset { clear:both;font-size:0;line-height:0;height:0; }

.row:after, .clr:after, .group:after { content:"";display:block;height:0;clear:both;visibility:hidden; }
.col { display:block;float:left; }