<div class="c-wrap">
    <div class="footerPanel">
        <a href="http://www.alpertenterprises.com/" alt="Alpert Enterprises Home"><img src="/img/whitelabel/alpertenterprises/alpertenterprises-footer.png" alt="AlpertEnterprises Footer"/></a>
    </div>
</div>