<div class="header-bk">
	<div class="c-wrap">
		<img src="/img/whitelabel/alpertenterprises/alpertenterprises-contact.png" alt="Contact Alpertenterprises"/>
		<div id="secondary-menu">	
			<ul class="nav">  
				<li><a href="http://www.alpertenterprises.com/?page_id=12">Blogs</a></li>
				<li><a href="http://www.alpertenterprises.com/?page_id=9">Clients</a></li>
				<li><a href="http://www.alpertenterprises.com/?page_id=7">Services</a></li>
				<li><a href="http://www.alpertenterprises.com/?page_id=2">About Us</a></li>
				<li><a href="http://www.alpertenterprises.com/">Home</a></li> 		
			</ul>
		</div>
	</div>
</div>