{% extends base_template %}

{% block title %}{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="thank-you">
    <div class="c-wrap">
    	<h1>Thank you!</h1>
    	<p>Thanks for your inquiry. Someone from Alpert Enterprises will reach out to you shortly.</p>
    	<p>Should you have any questions in the meantime, feel free to contact us at:</p>
    	<p>855-233-8368 (AE-EVENTS)<br><a href="mailto:info@AlpertEnterprises.com">info@AlpertEnterprises.com</a></p>
    	
    </div>
</div>
{% endblock %}