<div class="test-left"></div>
<div class="c-wrap">
    <a href="http://www.barcodedauctions.com/default.html"><img src="/img/whitelabel/barcodedauctions/AuctionStar-logo.jpg" alt="AuctionStar" class="logo"></a>
    <ul class="nav">    	
        <li><a href="http://example.experiencecharity.com/">Experiences</a></li>
        <li><a href="/thank-you">How it Works</a></li>
        <li><a href="/learn-more">Learn More</a></li>
        <li><a href="#">Nonprofit</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</div>