header {    
}

header .c-wrap {
    width: 100%;
    height: 61px;
	z-index: 100;
	background: white;
	padding: 0;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.25);
	box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.25);
    
}

header .logo {
    position:absolute;
    top:10px;
    left:10px;
    width: 288px;
}

header .nav {
	background:#ffffff;
	padding: 0px 20px 0px 0px;
    font-family: Arial,Helvetica,sans-serif;
    margin:0px;
}

header .nav li {
    color: #676767;
    padding:0px;
    list-style: none;
    float:right;
    margin: 0px;
}

header .nav li a {
    display: inline-block;
	color: #777;
	font-size: 15px;
	height: 52px;
	line-height: 60px;
	padding: 0 16px;
	font-weight: 600;
	border-bottom: none;
	font-style: normal;
	margin-left: 0;
	text-decoration: none;
	font-family: 'Open Sans',"Trebuchet MS", Helvetica,sans-serif;
}

header .nav li a:hover {
    opacity: 1;
}


/*-----DEFAULT CONTENT-----*/

#pl-header {
	background: #1565a4;
	background: -moz-linear-gradient(top, #1565a4 50%, #0f4b7b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#1565a4), color-stop(100%,#0f4b7b));
	background: -webkit-linear-gradient(top, #1565a4 50%,#0f4b7b 100%);
	background: -o-linear-gradient(top, #1565a4 50%,#0f4b7b 100%);
	background: -ms-linear-gradient(top, #1565a4 50%,#0f4b7b 100%);
	background: linear-gradient(to bottom, #1565a4 50%,#0f4b7b 100%);
}

.c-wrap .main-content {        	
    /*background: url(/img/whitelabel/experience-catalog-banner-sm.png) no-repeat;*/
    background-position:right;
	padding:40px 15px 30px;
	margin-bottom:20px;
}

#con-pl h1 {   
	width: 550px;
	text-shadow: 0 -1px 0 #000;
	color:#ffffff;
	font-size: 40px;
	margin-bottom:10px;
}

#con-pl h1 span {   
	color:#55b6f6;
	display:block;
	font-size:55px;
	line-height:60px;
}

.c-wrap .main-content p {     
	width:640px;
	color:#fff;
}

.c-wrap .main-content a {     
	color:#55b6f6;
	text-decoration: none;
}

.content .return-link {
	padding: 15px 0px 0px;
}

#lm-header {
	width:100%;
	background: url('/img/whitelabel/auctionsbycellular/abc-bubble-background.png');
	height:131px;
}

#lm-header .lm-wrap {
	width: 1040px;
	margin; 0px auto;
}

#lm-header h1 {
	color: #fff;
	padding: 40px;
}

.learn-more .c-wrap {
	/*background: url(/img/whitelabel/experience-catalog-banner-sm-more.png) no-repeat;*/
	background-position:right top;
	height:200px;
	padding-top:20px;
}
	
.learn-more .c-wrap	h1 {
	border-bottom: 1px dotted #ccc;
	width: 450px;
}
	
.learn-more .c-wrap	p {
	width:450px;
}
	
.how-works .c-wrap h1 {
	border-bottom: 1px dotted #ccc;
	width: 450px;
}

	
.how-works .c-wrap img {
	margin:0px auto;
}

/*-----END DEFAULT CONTENT-----*/

footer {
	background: #1565a4;

}

footer .c-wrap {
    margin-top: 40px;
    padding:15px;
}

footer .footerPanel {
    width: 100%;
    height: 70px;
}

footer .footerPanel strong a {
    color: #ffffff;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align:right;
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
    color: #4cb8ff;
    text-decoration: none;
}

footer .btmtrm {
    margin-top: 8px;
    width: 100%;
    float: left;
    border-top: solid 1px rgba(0,0,0,.2);
}

footer .btmtrm li {
    list-style: none;
    float: left;
    padding: 0px 10px;
	margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 25px;
    font-weight: normal;
    color: #676767;
    border-right: solid 1px rgba(0,0,0,.2);
}