body {
	height: 100%;
}

.containter {
	height: 100%;
	position: relative;
}

header {    
}

header .c-wrap {
    width: 100%;
    height: 61px;
	z-index: 100;
	background: white;
	padding: 0;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.25);
	box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.25);
    
}

header .logo {
    position:absolute;
    top:10px;
    left:10px;
    width: 288px;
}

header .nav {
	background:#ffffff;
	padding: 0px 20px 0px 0px;
    font-family: Arial,Helvetica,sans-serif;
    margin:0px;
}

header .nav li {
    color: #676767;
    padding:0px;
    list-style: none;
    float:right;
    margin: 0px;
}

header .nav li a {
    display: inline-block;
	color: #777;
	font-size: 15px;
	height: 52px;
	line-height: 60px;
	padding: 0 16px;
	font-weight: 600;
	border-bottom: none;
	font-style: normal;
	margin-left: 0;
	text-decoration: none;
	font-family: 'Open Sans',"Trebuchet MS", Helvetica,sans-serif;
}

header .nav li a:hover {
    opacity: 1;
}


/*-----DEFAULT CONTENT-----*/

#pl-header {
	background: #1565a4;
	background: -moz-linear-gradient(top, #1565a4 50%, #0f4b7b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#1565a4), color-stop(100%,#0f4b7b));
	background: -webkit-linear-gradient(top, #1565a4 50%,#0f4b7b 100%);
	background: -o-linear-gradient(top, #1565a4 50%,#0f4b7b 100%);
	background: -ms-linear-gradient(top, #1565a4 50%,#0f4b7b 100%);
	background: linear-gradient(to bottom, #1565a4 50%,#0f4b7b 100%);
}

.c-wrap .main-content {        	
    /*background: url(/img/whitelabel/experience-catalog-banner-sm.png) no-repeat;*/
    background-position:right;
	padding:40px 15px 30px;
	margin-bottom:20px;
}

.abc-img {
	display:block;
	height:300px;
	width:212px;
	padding-right: 35px;
	float:right;
	background: url(/img/whitelabel/auctionsbycellular/abc-travel-package-logo.png) no-repeat;
}

#con-pl h1 {   
	width: 550px;
	text-shadow: 0 -1px 0 #000;
	color:#ffffff;
	font-size: 40px;
	margin-bottom:10px;
}

#con-pl h1 span {   
	color:#55b6f6;
	display:block;
	font-size:55px;
	line-height:60px;
}

.c-wrap .main-content p {     
	width:640px;
	color:#fff;
}

.c-wrap .main-content a {     
	color:#55b6f6;
	text-decoration: none;
}

.content .return-link {
	padding: 15px 0px 0px;
}

#lm-header {
	width:100%;
	background: url('/img/whitelabel/auctionsbycellular/abc-bubble-background.png');
	height:131px;
}

#lm-header h1 {
	color: #fff;
	padding: 40px;
	text-align: center;
	text-shadow: 0 1px 1px #000;
}

.learn-more .c-wrap {
	padding:40px 0px 20px;
}
	
.learn-more .c-wrap	h1 {
	border-bottom: 1px dotted #ccc;
	width: 450px;
}
	
.learn-more .c-wrap	p {
	font-size: 16px;
	text-align: center;
	line-height: 1.5;
	font-family: 'Open Sans',"Trebuchet MS", Helvetica,sans-serif;
}
	
.how-works .c-wrap h1 {
	border-bottom: 1px dotted #ccc;
	width: 450px;
}

	
.how-works .c-wrap img {
	margin:0px auto;
}

.thank-you .c-wrap {
	margin-bottom:100px;
}

.thank-you .c-wrap h1 {
	padding-top:30px;
}

.thank-you .c-wrap ul li {
	font-family: Arial,Helvetica,sans-serif;
	color: #555;
	font-size: 14px;
	line-height: 160%;
	margin-left: 50px;
}

/*-----END DEFAULT CONTENT-----*/

footer {
	background: #1670ae;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 360px;
	width: 100%;

}

footer .c-wrap {
    padding:15px;
}

footer .footerPanel {
    width: 100%;
    height: 330px;
}
