html {
	position: relative;
    min-height: 100%;
}

body {
	margin: 0 0 420px;
}

header {    
}

header .c-wrap {
    width: 100%;
    height: 56px;
	z-index: 100;
	background: white;
	padding: 0;
    border-bottom: 1px solid #e4e4e4;
}

header .logo {
    position:absolute;
    top:15px;
    left:20px;
}

header .nav {
	background:#ffffff;
	padding: 0px 20px 0px 0px;
    font-family: Arial,Helvetica,sans-serif;
    margin:0px;
}

header .nav li {
    padding:0px;
    list-style: none;
    float:right;
    margin: 0px;
    text-transform: uppercase;
  	letter-spacing: 1px;
}

header .nav li a {
    display: inline-block;
	color: #444444;
	font-size: 15px;
	height: 52px;
	line-height: 60px;
	padding: 0 16px;
	font-weight: 600;
	border-bottom: none;
	font-style: normal;
	margin-left: 0;
	text-decoration: none;
	font-family: 'Open Sans',"Trebuchet MS", Helvetica,sans-serif;
}

header .nav .login {
	margin-left: 20px;
  	background-color: #EFEFEF;
  	padding:0px 4px;
}

header .nav .login a {
	color:#666;
}

header .nav .order {
  background-color: #8dc63f;
  margin: 0px 10px;
  padding: 0px 5px;
}

header .nav .order a {
  	color:#fff;
  	font-weight: normal;
}

header .nav li a:hover {
    color:#00a4a9;
}


/*-----DEFAULT CONTENT-----*/

#pl-header {
	background: #f0f0f0;
}

.c-wrap .main-content {        	
    /*background: url(/img/whitelabel/experience-catalog-banner-sm.png) no-repeat;*/
    background-position:right;
	padding:40px 15px 30px;
	margin-bottom:20px;
}

.abc-img {
	display:block;
	height:300px;
	width:212px;
	padding-right: 35px;
	float:right;
	background: url(/img/whitelabel/auctionsbycellular/abc-travel-package-logo.png) no-repeat;
}

#con-pl h1 {   
	width: 600px;
	color:#999;
	font-size: 40px;
	margin-bottom:10px;
}

#con-pl h1 span {   
	color:#0685c1;
	display:block;
	font-size:55px;
	line-height:60px;
}

.c-wrap .main-content p {     
	width:640px;
	color:#777;
}

.c-wrap .main-content a {     
	color:#55b6f6;
	text-decoration: none;
}

.content .return-link {
	padding: 15px 0px 0px;
}

#lm-header {
	width:100%;
	background: #f0f0f0;
	height:131px;
}

#lm-header h1 {
	color: #777;
	padding: 40px;
	text-align: center;
}

.learn-more {
  height: 1100px;
}

.learn-more .c-wrap {
	padding:40px 0px 20px;
}
	
.learn-more .c-wrap	h1 {
	border-bottom: 1px dotted #ccc;
	width: 450px;
}
	
.learn-more .c-wrap	p {
	font-size: 16px;
	text-align: center;
	line-height: 1.5;
	font-family: 'Open Sans',"Trebuchet MS", Helvetica,sans-serif;
}
	
.how-works .c-wrap h1 {
	border-bottom: 1px dotted #ccc;
	width: 450px;
}

	
.how-works .c-wrap img {
	margin:0px auto;
}

.thank-you .c-wrap {
	margin-bottom:100px;
}

.thank-you .c-wrap h1 {
	padding-top:30px;
}

.thank-you .c-wrap ul li {
	font-family: Arial,Helvetica,sans-serif;
	color: #555;
	font-size: 14px;
	line-height: 160%;
	margin-left: 50px;
}

/*-----END DEFAULT CONTENT-----*/

footer {
	background: #3d4045;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 435px;
	width: 100%;

}

footer .c-wrap {
    padding:0px;
}

footer .footerPanel {
}
