header {
	background: #271584;
	background: linear-gradient(top, #0E0831 0, #4022D8 1050px) no-repeat;
	background: -webkit-linear-gradient(top, #0E0831 0, #4022D8 1050px) no-repeat;
	background: -moz-linear-gradient(top, #0E0831 0, #4022D8 1050px) no-repeat;
	background: -o-linear-gradient(top, #0E0831 0, #4022D8 1050px) no-repeat;
	background: -ms-linear-gradient(top, #0E0831 0, #4022D8 1050px) no-repeat;
	background: linear-gradient(top, #0E0831 0, #4022D8 1050px) no-repeat;
	-svg-background: linear-gradient(top, #0E0831 0, #4022D8 1050px) no-repeat;
}

header .c-wrap {
	text-align: center;
}

header .logo{
    margin:10px auto;
}

header .nav {
	padding:7px 0px;
    font-family: Arial,Helvetica,sans-serif;
    height: 27px;
    margin:0px;
}

header .nav li {
    padding:5px 45px;
    font-weight:bold;
    list-style: none;
    float: left;
    font-size: 14px;
    margin-right: 2px;
}

header .nav li a {
    color: #ffffff;
    text-decoration: none;
}

header .nav li a:hover {
    background: #9fd765;
}


/*-----DEFAULT CONTENT-----*/

.c-wrap .main-content {        
	height: 250px;	
    background: url(/img/whitelabel/experience-catalog-banner-sm.png) no-repeat;
    background-position:right;
	padding:20px 15px 30px;
	margin-bottom:20px;
}

.c-wrap .main-content h1 {   
	width: 550px;
	border-bottom: 1px dotted #ccc;
}

.c-wrap .main-content h1 span {   
	color:#006bb5;
}

.c-wrap .main-content p {     
	width:640px;
	}

.learn-more .c-wrap {
	background: url(/img/whitelabel/experience-catalog-banner-sm-more.png) no-repeat;
	background-position:right top;
	height:200px;
	padding-top:20px;
}
	
.learn-more .c-wrap	h1 {
	border-bottom: 1px dotted #ccc;
	width: 450px;
}
	
.learn-more .c-wrap	p {
	width:450px;
}
	
.how-works .c-wrap h1 {
	border-bottom: 1px dotted #ccc;
	width: 450px;
}

	
.how-works .c-wrap img {
	margin:0px auto;
}

/*-----END DEFAULT CONTENT-----*/

footer {

}

footer .c-wrap {
   background: #ffffff;
    margin-top: 40px;
    padding:15px;
}

footer .footerPanel {
    width: 100%;
    height: 70px;
}

footer .footerPanel strong a {
    color: #676767;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align:right;
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
    color: #676767;
    text-decoration: none;
}

footer .btmtrm {
    margin-top: 8px;
    width: 100%;
    float: left;
    border-top: 1px dotted #cccccc;
}

footer .btmtrm li {
    list-style: none;
    float: left;
    padding: 0px 10px;
	margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 25px;
    font-weight: normal;
    color: #676767;
    border-right: 1px dotted #cccccc;
}