header {
	background: #003354;
	border-bottom: 3px solid #89b8cf;
	height: 30px;
}

header .c-wrap {
	background: #002e4b;
	border-left: 1px solid #1a4865;
	border-right: 1px solid #1a4865;
}

header .c-wrap p {
	font-size: .7em;
	font-family: 'Lucida Grande', 'Trebuchet MS', Helvetica, Arial;
	line-height: 30px;
	margin: 0;
	text-transform: uppercase;
	z-index: 10;
	color: #6899b1;
}

header .nav {
	padding:7px 0px;
    width:300px;
    float:right;
}

header .nav li {
    list-style: none;
    float: right;
    font-size: .8em;
    margin-left: 1em;    
}

header .nav li a {
    color: #6899b1;
    text-decoration: none;
    display:block;
    font-family: 'Lucida Grande', 'Trebuchet MS', Helvetica, Arial;
    border-right: 1px dotted #6899b1;
	padding-right: 1em;
}

header .nav li a:hover {
    color:#dd6301;
}

header .nav li a.loginLink {
	border:none;
}


/*-----DEFAULT CONTENT-----*/

body {
	background: #eaeaea;
}

#logo {
	width:375px;
	float:left;
}

#logo img {
	margin: 23px 5px 0 10px;
}

#secondary-menu ul.nav {
	float:right;
	width:550px;
	margin: 35px 10px 0 0;
}

#secondary-menu ul.nav li {
	display: block;
	float: left;
	list-style: none;
	list-style-image: none;
	margin: 0 0 0 1.7em;
	position: relative;
}

#secondary-menu ul.nav li a {
	text-decoration: none;
	color: #055e98;
	font-size: .7em;
	text-transform: uppercase;
	font-family: 'Lucida Grande', 'Trebuchet MS', Helvetica, Arial;
}

#secondary-menu ul.nav li a.hover {
	color:#f26101;
}

.content {
	background: #ffffff;
	width: 1000px;
	margin: 0px auto;
	padding: 0px 20px;
	border-right: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
}

.c-wrap .main-content {        
	height: 250px;	
    /*background: url(/img/whitelabel/experience-catalog-banner-sm.png) no-repeat;*/
    background-position:right;
	padding:30px 15px 30px;
	margin-bottom:20px;
}

.c-wrap .main-content h1 {   
	border: 1px solid #ddd;
	border-left: none;
	border-right: none;
	clear: none;
	font-size: 2.5em;
	font-style: italic;
	font-weight: 300;
	line-height: 50px;
	margin: 0 0 .5em;
	padding: 10px 0;
	font-family: 'Ubuntu', 'Lucida Grande', Helvetica, sans-serif;
	color: #555;
}
}

.c-wrap .main-content h1 span {   
	color:#006bb5;
}

.c-wrap .main-content p {     
	width:640px;
	}

.learn-more .c-wrap {
	background: url(/img/whitelabel/experience-catalog-banner-sm-more.png) no-repeat;
	background-position:right top;
	height:200px;
	padding-top:20px;
}
	
.learn-more .c-wrap	h1 {
	border-bottom: 1px dotted #ccc;
	width: 450px;
}
	
.learn-more .c-wrap	p {
	width:450px;
}
	
.how-works .c-wrap h1 {
	border-bottom: 1px dotted #ccc;
	width: 450px;
}

	
.how-works .c-wrap img {
	margin:0px auto;
}

/*-----END DEFAULT CONTENT-----*/

footer {

}

footer .c-wrap {
   background: #ffffff;
    margin-top: 40px;
    padding:15px;
}

footer .footerPanel {
    width: 100%;
    height: 70px;
}

footer .footerPanel strong a {
    color: #676767;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align:right;
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
    color: #676767;
    text-decoration: none;
}

footer .btmtrm {
    margin-top: 8px;
    width: 100%;
    float: left;
    border-top: 1px dotted #cccccc;
}

footer .btmtrm li {
    list-style: none;
    float: left;
    padding: 0px 10px;
	margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 25px;
    font-weight: normal;
    color: #676767;
    border-right: 1px dotted #cccccc;
}