header {
    height: 190px;
}

header .c-wrap {
    background-position: -110px top;
    height: 159px;
    position: relative;
    z-index: 2;
}

header .logo{
    margin:10px 0px;
}

header .test-left {
    position: absolute;
    top: 66px;
    width: 50%;
    height: 46px;
    z-index: 1;
}

header .nav {
	background:#15548b;
	padding:10px;
    font-family: Arial,Helvetica,sans-serif;
    height: 15px;
}

header .nav li {
    color: #FFFFFF;
    background:#6c7e9c;
    padding:5px 15px 0px;
    list-style: none;
    float: left;
    border-top: 2px solid #81a5b7;
	border-right: 2px solid #353d43;
    font-size: 12px;
    margin-right: 2px;
	height: 27px;
}

header .nav li a {
    color: #FFFFFF;
    text-decoration: none;
}

header .nav li a:hover {
    opacity: 1;
}

footer {
    background: url(/img/whitelabel/biddingowl/bg-footer.png) repeat-x;
    background-position: 0 20px;
    height: 306px;
    overflow: hidden;
    padding-top: 15px;
    -webkit-font-smoothing: auto;
}

footer .c-wrap {
    color: #fff;
    padding-top: 105px;
}

footer .footerPanel {
    float: left;
    width: 212px;
    padding: 5px 15px 15px 15px;
    height: 110px;
    line-height: 28px;
    border-right: 1px solid #cecece;
}

footer .footerPanel strong {
    color: #6e5f34;
    display: block;
    font-size: 26pt;
    font-weight: normal;
    margin-bottom: 28px;
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
    color: #fff;
    text-decoration: none;
}

footer .btmtrm {
    margin-left: 35px;
    margin-top: 8px;
    width: 400px;
    float: left;
}

footer .btmtrm li {
    list-style: none;
    float: left;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 25px;
    font-weight: bold;
}