html {
	position: relative;
    min-height: 100%;
}

body {
	background: #e6e7e2;
}

header .c-wrap {
	background-color: #D46E34;
	text-align: center;
	border-top: 1px solid #833E1D;
	color: #FFFFFF;
	margin-top:5px;
	padding:0px;
	width:1040px;
}

header .nav {
	padding: 4px 0px 6px;
	height: .7em;
    width: 730px;
    margin:0px auto;
}

header .nav li {
    list-style: none;
    float: left;
    font-size: .7em;
    margin-left: 7px;    
}

header .nav li a {
    color: white;
    text-decoration: none;
    display:block;
    font-family: Arial, Helvetica, Geneva;
    border-right: 1px solid #ffffff;
	padding-right: 7px;
}

header .c-wrap img {
	display:block;
	width:100%;
}


/*-----DEFAULT CONTENT-----*/

body {
	background: #eaeaea;
}

.content {
	background: #ffffff;
	width: 1000px;
	margin: 0px auto;
	padding: 0px 20px;
	border-right: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
}

.c-wrap .main-content {     
    background: url(/img/whitelabel/experience-catalog-banner-sm.png) no-repeat;
    background-position: right bottom;
	padding:30px 15px 0px;
}

#con-pl h1 {   
	margin: 20px 0px 15px;
	font-size: 1.8em;
	color: #555;
}

.c-wrap .main-content p {     
	width:620px;
	font-size:12px;
	line-height:160%;
}

#con-pl #pl-container {
	padding-top: 30px;
}


/*---fix padding issue on package page--*/
#con-pd .c-wrap {
	padding:0px;
}

.content .return-link {
	padding-top:20px;
}

.learn-more {
	padding-bottom: 50px;
}

.learn-more .c-wrap {
	background: url(/img/whitelabel/experience-catalog-banner-sm-more.png) no-repeat;
	background-position:right;
	height:200px;
	width:850px;
	padding-top:20px;
}
	
.learn-more .c-wrap	h1 {
	margin: 20px 0px 15px;
	font-size: 1.8em;
	color: #555;
}
	
.learn-more .c-wrap	p {
	font-size:12px;
	line-height:160%;
	width:580px;
}

.thank-you {
	padding-bottom: 300px;
}

.thank-you .c-wrap h1 {
	margin: 20px 0px 15px;
	font-size: 1.8em;
	color: #555;
	width:580px;
}

.thank-you .c-wrap	p {
	font-size:13px;
	width:580px;
}
	

/*-----END DEFAULT CONTENT-----*/

footer {

}

footer .c-wrap {
	margin:0 auto;
	padding:0px;
	width:1040px;
}

footer .footerPanel {
    width: 100%;
    text-align:center;
}
