.container {
	background:#fafafa;
}

header {
    height: 77px;
    border-bottom: 1px solid #dadada;
	margin-bottom: 40px;
	background: #fafafa;
}

header .c-wrap, footer .c-wrap {
	padding: 0 20px;
	width: 1130px;
}

header .c-wrap {
    position: relative;
}

header .logo{
    position:absolute;
    top:5px;
    left:0px;
}

header .nav {
	padding: 20px 0px 0px;
	height: 77px;
}

header .nav li {
    color: #676767;
    padding:0px;
    list-style: none;
    float:right;
    margin: 0px;
    line-height: 20px;
}

header .nav li a {
    font-size: 13px;
	font-weight: 400;
	color: #212121;
	display: inline-block;
	float: none;
	padding: 10px 15px 10px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font-family: "Source Sans Pro",sans-serif;
}

header a.btn-blue {
	background: #3498db;
	color: #fff;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	border-radius: 4px;
	font-size: 17px;
	padding: 6px 17px;
	border:none;
	font-weight:bold;
	margin-left: 15px;
	
}

header .nav li a:hover {
    text-decoration:underline;
}

/*-----DEFAULT CONTENT-----*/

.container {
	margin-bottom: 100px;
}

.c-wrap .main-content {        
	height: 250px;	
    background: url(/img/whitelabel/experience-catalog-banner-sm.png) no-repeat;
    background-position:right;
	padding:20px 15px 30px;
	margin-bottom:20px;
}

.c-wrap .main-content h1 {   
	width: 550px;
	border-bottom: 1px dotted #ccc;
}

.c-wrap .main-content h1 span {   
	color:#006bb5;
}

.c-wrap .main-content p {     
	width:640px;
	}

.learn-more .c-wrap {
	background: url(/img/whitelabel/experience-catalog-banner-sm-more.png) no-repeat;
	background-position:right top;
	height:200px;
	padding-top:20px;
}
	
.learn-more .c-wrap	h1 {
	border-bottom: 1px dotted #ccc;
	width: 450px;
}
	
.learn-more .c-wrap	p {
	width:450px;
}
	
.how-works .c-wrap h1 {
	border-bottom: 1px dotted #ccc;
	width: 450px;
}

	
.how-works .c-wrap img {
	margin:0px auto;
}

/*-----END DEFAULT CONTENT-----*/

footer {
	background:#fafafa;
}

footer .c-wrap {
   background: #fafafa;
    margin-top: 40px;
    padding:15px;
}

footer .footerPanel {
    width: 100%;
    text-align:center;
}