{% extends 'InertiaWinspireBundle:Page:display.html.twig' %}
{% block title %}Winspire Web Site Privacy Policy{% endblock %}
{% block description %}{% endblock %}
{% block style %}
<style>
#standard-page h2 {
    text-align:center;
    line-height:55px;
}

#standard-page h3 {
    padding-top:16px;
}
</style>
{% endblock %}
{% block inside %}
<div class="page-content">
    <div class="c-wrap">
        <h1>Privacy Policy</h1>
        
        <div class="wrapper">
    <img src="/img/ws-logo.png" alt="" width="238" height="55" style="float:left; margin-bottom:27px;"/>
    
    <h2 style="padding-right:238px; margin-bottom:27px;">Web Site Privacy Policy</h2>
    
    <p>Winspire, Inc. (“Winspire,” “we,” “us” or “our”) values your privacy and the privacy of the visitors and users of our website at http://www.winspireme.com (or successor URLs) (“Website”), as well as any purchaser or user of our products and services (“You” or “Your”). This Privacy Policy describes what information we gather from our customers, including from non-profits who reserve auctions items through us and winning bidders who purchase an auction item (“Experience”), how we use that information and in some instances how we share that information.  This Privacy Policy does not apply to the practices of companies that Winspire does not own or control or to people that Winspire does not employ or manage.  By using or purchasing products or services from us, or using the Website, You expressly consent to the information handling practices described in this Privacy Policy. This Privacy Policy is a part of our Agreement and Terms of Use. Any capitalized terms not otherwise defined in this Privacy Policy shall have the meanings used in our Agreement and Terms of Use.</p>
    
    <h3>INFORMATION COLLECTION AND USE</h3>
    
    <p>No registration is required in order to browse content we provide on our Website. However, in order to purchase products or services through our Website, You will be required to create an account. You will not be required to open any personal accounts if You purchase our products or services outside of our Website, however, You will also need to provide certain personal information in order to complete such purchase.</p>
    
    <p>Whether through our Website or otherwise, when You reserve or purchase one of our travel Experiences, we ask for information such as Your name, mailing address, e-mail address, phone number, credit card information and other personal indentifying information. Winspire uses this collected information to fulfill Your requests for services, improve our services, contact You regarding promotions, surveys, services and other matters, conduct research, and provide anonymous reporting for internal and external clients.</p>
    
    <h3>INFORMATION SHARING AND DISCLOSURE</h3>
    
    <p>Winspire does not rent, sell, or share personal information about You with other people or nonaffiliated companies except to provide products or services You’ve requested, or when we have Your permission. We provide the information to trusted partners who work on behalf of or with Winspire to provide the products or services You have requested.  You agree that these companies may use Your personal information to help us communicate with You about offers or surveys from Winspire and our partners.  We do not grant these companies the right to share this information. We use reasonable efforts to: (a) see that these parties process such information in compliance with this Privacy Policy, (b) limit their use of such information, and (c) see that these parties use other appropriate confidentiality and security measures. Notwithstanding these efforts, we have limited involvement with (and cannot be responsible for) the activities of such third party providers.</p>
    
    <p>To protect the security of Your information during transmission through the Website, we use Secure Sockets Layer (SSL) software, which encrypts information You input.</p>
    
    <p>We may share Your information if we believe it necessary in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Winspire’s Agreement and Terms of Use, or as otherwise required by law. Furthermore, we will share Your information when responding to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims.</p>
    
    <p>In addition, if Winspire or if certain of its assets are acquired by or assigned to a third party, personally identifiable information may be one of the assets transferred or assigned.  Winspire reserves the right to transfer all personal information in its possession to a successor organization in the event of a merger, acquisition, or bankruptcy or other sale of all or a portion of Winspire’s assets.  Other than to the extent ordered by a court, the use and disclosure of all transferred personal information will be subject to this Privacy Policy, or a new policy if you are given notice of that new policy as provided herein.</p>
    
    <h3>DO NOT TRACK and THIRD PARTY DATA COLLECTION</h3>
    
    <p>This Website does not recognize “do not track” signals, browser settings or other mechanisms intended to block the collection of personally identifiable information about a user’s online activities over time and across third-party sites or services. It is possible that third parties, such as ad networks or analytics providers, may have access to this Website and may collect personally identifiable information when you use this Website about your online activities over time and across different sites.</p>
    
    <h3>OPTING-OUT</h3>
    
    <p>To keep You in control of Your personal information and the communications directed to You, we allow You to opt-out of receiving certain communications from us. If You desire to stop receipt of certain communications You may notify us at <a href="mailto:info@winspireme.com">info@winspireme.com</a>.</p>
    
    <h3>SERVER LOGS</h3>
    
    <p>Like most websites, our Website logs, database, and other server software to monitor usage and to access information. This information may include Your internet protocol (IP) address, which in many cases can be translated to an affiliation (such as Your work, school, or internet service provider), or a geographical location. Winspire collects such information for the purposes of system administration and to audit the use of our Website. We do not link such information to anything personally identifiable, which means that Your session will be logged, but You remain anonymous to us.</p>
    
    <h3>COOKIES</h3>
    
    <p>While browsing our Website, a small number of text files referred to as “cookies” may be created on Your local file system by Your web browser at the request of our servers. These files allow us to personalize the browsing experience for both registered and non-registered users. The data collected may be linked to the personal information You have chosen to share with us when You register. You are free to delete them at any time, or configure Your browser not to create them.</p>
    
    <p>Our Website may contain hyperlinks to websites operated by parties other than Winspire. This Privacy Policy, however, does not apply to third party cookies, or their collection of data or personal information. Third party use of cookies and Your data or personal information is subject to their own privacy policies.</p>
    
    <h3>SURVEYS</h3>
    
    <p>Winspire conducts user surveys to better target our content to our audience. Participation in these surveys is completely voluntary, and the user therefore has a choice whether or not to disclose such information. We sometimes share the aggregated demographic information in these surveys with our partners. We never share any personally identifiable information collected through surveys with such third parties.</p>
    
    <h3>CONFIDENTIALITY AND SECURITY</h3>
    
    <p>To protect Your privacy and security, we take reasonable steps to verify Your identity before granting profile access on our Website. You are responsible for maintaining the secrecy of Your unique password and account information at all times.</p>
    
    <p>We take, and our Website has, commercially reasonable safeguards in place to protect against the loss, misuse and alteration of the information under our control. Notwithstanding these efforts, we can make no assurances that the information You submit to us will be secure, and that unauthorized third parties will not be successful in breaching our security measure and accessing your information. You should always use caution when submitting personally identifying information online. If a security breach occurs, You agree that we may advise You about the breach by posting a notice on the Website or sending an email to You at any email address You may have provided to us.</p>
    
    <p>We limit access to personal information about You to employees who we believe reasonably need to come into contact with that information to provide services to You or in order to do their jobs.</p>
    
    <h3>YOUR ABILITY TO EDIT AND DELETE YOUR ACCOUNT INFORMATION</h3>
    
    <p>You can edit Your Winspire account information at any time. To change any of Your personally-identifiable information in our database, You can do so by logging into Your account and following the directions. This process will automatically change the information contained in our database. You can delete Your Winspire account on our Website by sending an e-mail notice to <a href="mailto:info@winspireme.com">info@winspireme.com</a>.</p>
    
    <h3>CHILDREN AND INTERNATIONAL VISITORS</h3>
    
    <p>Winspire does not does not knowingly collect or solicit personal information from anyone under the age of 13 or knowingly allow such persons to register.  If You are under 13, You should not attempt to create an account or send information about yourself to us, including Your name, address, telephone number, or email address.  No one under age 13 may provide any personal information to or on the Winspire Website.  If a child under 13 submits information through any part of the Website without verification of parental consent, and Winspire learns the person submitting the information is a child or such consent has not been verified, Winspire will attempt to delete this information as soon as possible.  Because Winspire does not knowingly collect any personal information from children under 13, Winspire does not use or disclose such information to third parties.  If You believe that Company may have any information about a child under 13, please contact us at <a href="mailto:info@winspireme.com">info@winspireme.com</a> or at:</p>
    
    <p style="margin-left:40px;">Winspire, Inc.<br/>
    Attn: President<br/>
    15520 Rockfield Blvd., Suite J-100<br/>
    Irvine, California 92618<br/>
    Phone: 877-544-8555</p>
    
    <p>This Website is hosted in the United States.  If You are visiting from the European Union or other regions with laws governing data collection and use that may differ from United States law, please note that You are transferring Your personal data to the United States and by providing Your personal data You consent to that transfer.</p>
    
    <h3>CHANGES TO THIS PRIVACY POLICY</h3>
    
    <p>Winspire may update this Privacy Policy from time to time. We will notify You about significant changes in the way we treat personal information by sending a notice to the primary e-mail address specified in Your account or by placing a prominent notice on our Website.</p>
    
    <h3>YOUR ACCEPTANCE OF THESE TERMS</h3>
    
    <p>By purchasing or using our services or by visiting our Website, You accept the Agreement and Terms of Use and the terms of this Privacy Policy.  If You do not agree with the Agreement and Terms of Use or this Privacy Policy, please do not use our services and do not visit our Website.</p>
    
    <p>Any continued use of our Website following the posting of changes to these terms will mean You accept those changes. Any such change, update or modification will be effective immediately upon posting to the Website, unless otherwise stated.</p>
    
    <p>&nbsp;</p>
    
    <p>Effective Date: {{ 'now' | date('F jS, Y') }}</p>
        </div>
    </div>
</div>
{% endblock %}