{% extends 'InertiaWinspireBundle:Page:display2.html.twig' %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block style %}
<style>
.standard-page .page-content {
    padding-top:0;
}

.standard-page .wrapper {
    padding-top:38px;
    padding-bottom:26px;
    margin-top:0;
    background:#f7f7f7;
}

.c-wrap {
    z-index:0;
}

.wrapper h1 {
    font-size:24px;
    line-height:24px;
    color:#28466c;
    margin:0;
    padding:0;
    border-bottom:1px dashed #d3d3d3;
}

.page-header {
    position:relative;
}

.standard-page .page-header p {
    font-size:12px;
    font-weight:bold;
    line-height:100%;
    color:#777777;
    text-align:right;
    position:absolute;
    bottom:4px;
    right:0;
    margin:0;
    padding:0;
}

.page-header p a {
    text-decoration:none;
    font-weight:normal;
    color:#0578c8;
}

.banner {
    position:relative;
    width:696px;
    height:113px;
    border:2px solid #fff;
    margin:34px 0 0 -52px;
    padding:23px 270px 0 50px;
    
    background: rgb(106,146,196);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZhOTJjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDVkOWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(106,146,196,1) 0%, rgba(0,93,159,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(106,146,196,1)), color-stop(100%,rgba(0,93,159,1)));
    background: -webkit-linear-gradient(top,  rgba(106,146,196,1) 0%,rgba(0,93,159,1) 100%);
    background: -o-linear-gradient(top,  rgba(106,146,196,1) 0%,rgba(0,93,159,1) 100%);
    background: -ms-linear-gradient(top,  rgba(106,146,196,1) 0%,rgba(0,93,159,1) 100%);
    background: linear-gradient(to bottom,  rgba(106,146,196,1) 0%,rgba(0,93,159,1) 100%);
    
    -webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.banner img {
    display:block;
    position:absolute;
    width:208px;
    height:297px;
    bottom:-142px;
    right:42px;
}

.banner:before,
.banner:after {
    display:block;
    position:absolute;
    content:'';
    bottom:-12px;
    left:-2px;
    width:10px;
    height:10px;
    background:url(/uploads/pages/winning-bidders/fold.png) no-repeat;
    background-size:20px 10px;
}

.banner:after {
    left:auto;
    right:-2px;
    background-position:-10px;
}

.banner h2 {
    font-size:36px;
    line-height:100%;
    color:#ffe988;
    margin:0 0 9px 0;
    padding:0;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}

.standard-page .banner p {
    font-size:18px;
    color:#fff;
    line-height:120%;
    margin:0;
    padding:0;
}

.inner-wrapper {
    padding:40px 19px;
    margin:0;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background:#fff;
}

.inner-wrapper .text {
    padding:0 180px 0 20px;
    margin:0 0 45px 0;
}

.inner-wrapper .holder {
    background:url(/uploads/pages/winning-bidders/redeem.png) no-repeat;
    background-size:179px 149px;
    background-position:0 -2px;
    min-height:149px;
    padding:0 40px 0 220px;
}

.inner-wrapper .holder ul {
	color:#565656;
	padding-left:20px;
}
	
.inner-wrapper .holder ul li {	
	font-size:12px;
	margin-bottom:10px;
}

.inner-wrapper .text h3 {
    font-size:20px;
    line-height:100%;
    color:#565656;
    padding:0 0 4px 0;
    margin:0 0 23px 0;
    border-bottom:1px dashed #d3d3d3;
}

.inner-wrapper .text p {
    font-size:14px;
    line-height:22px;
    color:#565656;
    padding:0;
    margin:0 0 15px 0;
}

.inner-wrapper .text p span {
    color:#d18000;
    font-weight:bold;
}

.form-wrapper p {
    color:inherit;
    font-size:inherit;
}

.form-wrapper p span {
    color:inherit;
    font-size:inherit;
}

.page-footer {
    margin:32px 172px 0 172px;
    width:572px;
    height:49px;
    background:url(/uploads/pages/about-us/logo-small.png) no-repeat;
    background-size:572px 49px;
}
</style>
{% endblock %}
{% block inside %}
<div class="page-content">
    <div class="c-wrap">
        <div class="wrapper">
            <div class="page-header">
                <h1>Winning Bidders</h1>
                <p>Questions about your Experience? <a href="/contact-us">Contact Us</a></p>
            </div>
            
            <div class="banner">
                <h2>Redemption Form</h2>
                
                <p>Thank you for supporting charity by purchasing a Winspire Experience!<br/>
                Our <em>Winspire Booking &amp; Concierge Service</em> will now help you fulfill your trip.</p>
                
                <img src="/uploads/pages/winning-bidders/ribbon.png" width="208" height="297" alt=""/>
            </div>
            
            <div class="inner-wrapper">
                <div class="text">
                    <h3>Please complete the form below to begin the reservation process.</h3>
                    
                    <div class="holder">
                        <p>Please note that requests must be submitted at least <strong>60 days prior to your desired travel date</strong> and all reservations are subject to availability.</p>
                        
                        <p><strong><span>Here is what you can expect</span> once your information is submitted:</strong>
							<ul>
								<li>One of our booking agents will be assigned your trip and personally contact you within the next 7 days.</li>
								<li>Availability will be checked and reservations held for your requested dates.</li>
								<li>You will have the ability to bring up any other requests or questions you have regarding the trip.</li>
								<li>Our agent will ask for your approval before finalizing any reservations.</li>
								<li>You will be sent a final itinerary followed by any necessary travel documents (sent by FedEx within 2 weeks).</li>
								<li>We hope you have an amazing experience!</li>
							</ul>
						</p>
                    </div>
                </div>
                
                <div class="form-wrapper">
<script type="text/javascript" src="https://www.formstack.com/forms/js.php?1496759-XT2Xh2A2bg-v3"></script><noscript><a href="https://www.formstack.com/forms/?1496759-XT2Xh2A2bg" title="Online Form">Online Form - Winspire Form</a></noscript>
                </div>
            </div>
            <div class="page-footer">&nbsp;</div>
        </div>
    </div>
</div>
{% endblock %}