{% extends 'InertiaWinspireBundle:Page:display.html.twig' %}
{% block title %}Winspire Website Agreement and Terms of Use{% endblock %}
{% block description %}{% endblock %}
{% block style %}
<style>
#standard-page h2 {
    text-align:center;
    line-height:55px;
}

#standard-page h3 {
    padding-top:16px;
}

ol {
    list-style-type:upper-roman;
}

ol li ol {
    list-style-type:decimal;
}

ol li ol li ol {
    list-style-type:upper-alpha;
}

ol em {
    font-style:normal;
    text-decoration:underline;
}
</style>
{% endblock %}
{% block inside %}
<div class="page-content">
    <div class="c-wrap">
        <h1>Terms of Use</h1>
        
        <div class="wrapper">
    <img src="/img/ws-logo.png" alt="" width="238" height="55" style="float:left; margin-bottom:27px;"/>
    
    <h2 style="padding-right:238px; margin-bottom:27px;">Website Agreement and Terms of Use</h2>
    
    <p>PLEASE READ THIS WINSPIRE AGREEMENT AND TERMS OF USE (“AGREEMENT”) CAREFULLY BEFORE USING THE WEBSITE LOCATED AT www.winspireme.com (“WEBSITE”).  WINSPIRE, INC. (“COMPANY”) PROVIDES THIS WEBSITE AND WINSPIRE SERVICES TO YOU, YOUR EMPLOYEES, AGENTS AND CONTRACTORS, AND ANY OTHER ENTITY ON WHOSE BEHALF YOU ACCEPT AND AGREE TO THIS AGREEMENT (COLLECTIVELY, “YOU”) SUBJECT TO THESE TERMS.  IF YOU DO NOT AGREE TO ALL OF THESE TERMS, DO NOT USE THIS WEBSITE OR SERVICES IN ANY MANNER.</p>
    
    <p>By accessing the Website in any way (including, without limitation, browsing the Website), using any Services, downloading or uploading any materials, and/or creating an account or reserving one or more auction items, You agree to and are bound by the terms of use described in this Agreement.  If You are using the Website on behalf of Your employer, You represent and warrant that You are authorized to accept these Terms on Your employer’s behalf.</p>
    
    <p>If You wish to reserve auction items for an event, You will be required to sign or otherwise affirmatively accept and agree to the terms of an additional agreement for that event (“Event Agreement”).  If there is a conflict between the Event Agreement terms and this Agreement, the Event Agreement terms will control Your relationship with the Company.</p>
    
    <ol>
        <li>
            <p><strong>Services</strong></p>
            <ol>
                <li>
                    <p><em>Description of Services</em>. The Website makes available to users information regarding travel and experience packages that Company provides on a no-risk basis for non-profit auctions.  Non-profits have the opportunity to sell as many packages at their events as they wsh, and are only responsible for the items sold at their fundraising auction events.  The Website assists non-profits by creating and providing the non-profit community with unique auction item experiences and high quality services.</p>
                </li>
            </ol>
        </li>
        
        <li>
            <p><strong>Registration and User Accounts</strong></p>
            <ol>
                <li>
                    <p><em>Registration</em>.  You must register on the Website in order to create an account.  Once You have an account and agree to the terms of an Event Agreement, You can reserve auction items.</p>
                </li>
                <li>
                    <p><em>Registration Information</em>.  You must complete the registration process by providing Company with true, current, complete and accurate information as prompted by the registration form, and You will maintain and promptly update such information to keep it true, current, complete and accurate.  You grant Company the right to independently verify any information that You post on the Website about Yourself, although Company does not routinely undertake any verification and does not have the obligation to do so.  During the registration process, You must choose a user name and password.  You are responsible for maintaining the confidentiality of any password(s) You create to access any part of the Website, and You are fully responsible for all activities that occur under Your password(s) and account, and agree to notify Company immediately of any unauthorized use of Your account or any other breach of security.  Company will not be liable for any loss that You may incur as a result of someone else using Your password or account, either with or without Your knowledge.  However, You could be held liable for losses incurred by Company or any other party due to someone else using Your account or password.  You may not use anyone else's account at any time, without the permission of the account holder.  If You provide any information that is false, inaccurate, out of date or incomplete, or Company has reasonable grounds to suspect that such information is false, inaccurate, not current or incomplete, Company may suspend or terminate Your account and refuse any and all current or future use of the Services or any portion thereof.</p>
                </li>
            </ol>
        </li>
        
        <li>
            <p><strong>Your Conduct and Use of the Website and Services</strong></p>
            <ol>
                <li>
                    <p><em>Condition of Use</em>. As a condition of Your use of the Services, You agree that You will not use the Services for any purpose that is unlawful or contrary to this Agreement.  You may not use the Services in any manner that could damage, disable, overburden, or impair the Services or interfere with any other party's use and enjoyment of them.  You may not attempt to gain unauthorized access to any account, computer systems or networks associated with the Services.  You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Services. The Website is intended solely for users who are 13 years of age or older. Any registration by, use of, or access to the Website by anyone under 13 is unauthorized, unlicensed and in violation of this Agreement. By using the Website, You represent and warrant that You are 13 or older.  Company may terminate Your use of or access to the Website if we believe that You are under 13 years of age.</p>
                </li>
                <li>
                    <p><em>User Conduct</em>.  You agree that You will not use the Website or the Services to: (i) pretend to be Company or someone else, or spoof Company’s or someone else's identity; (ii) transmit spam, bulk or unsolicited communications; (iii) forge headers or otherwise manipulate identifiers (including URLs) in order to disguise the origin of any Content transmitted through the Services; (iv) collect or store personal data about other users unless specifically authorized by such users; (v) harvest or collect email addresses or other contact information of other users from the Service or the Website by electronic or other means for the purposes of sending unsolicited emails or other unsolicited communications; (vi) misrepresent Your affiliation with a person or entity; (vii) engage in activities that would violate any fiduciary relationship, any applicable local, state, national or international law, or any regulations having the force of law, including but not limited to attempting to compromise the security of any networked account or site, operating an illegal lottery or gambling operation, stalking, or making threats of harm; (viii) disrupt the normal flow of dialogue or otherwise act in a manner that negatively affects other users' ability to use the Website or the Services; (ix) register for a user account on behalf of an individual or entity other than Yourself, except to the extent that You are authorized by an entity to register on such entity’s behalf; (x) upload, post, transmit, share, store or otherwise make publicly available on the Website or Services any private information of any third party, including, addresses, phone numbers, email addresses, Social Security numbers and credit card numbers; (xi) solicit personal information from anyone under 18 or solicit passwords or personally identifying information for commercial or unlawful purposes; or (xii) upload, post, transmit, share, store or otherwise make available any pictures graphics or videos other than those of persons whose image You are authorized to post.  Company reserves the right at all times to disclose any information as Company deems necessary to satisfy any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in Company’s sole discretion.  You agree that Company would be irreparably harmed by the use, by You or others, of the Website or the Services in connection with the transmission of spam newsgroup postings or unsolicited e-mail in violation of this Agreement, and that Company is entitled to obtain injunctive relief against any such transmission (in addition to all other remedies available at law or in equity).  Company reserves the right to block, filter or delete unsolicited e-mail.</p>
                </li>
                <li>
                    <p><em>Data Backup</em>.  Company makes reasonable efforts to run backups on its servers and takes reasonable steps to save the backup data for a limited period of time, but has no obligation to do so.  Notwithstanding the foregoing, You have sole responsibility for adequate protection and backup of data and/or equipment You use in connection with the Website.</p>
                </li>
                <li>
                    <p><em>Content</em>.</p>
                    <ol>
                        <li>
                            <p>The term “Content” includes photographs, graphics, text, data, video, contact information, plans or other documents or media of any kind that may be uploaded, shared, distributed, transmitted or posted to or via the Website by Company, You or third parties.</p>
                        </li>
                        <li>
                            <p>You are solely responsible for all Content that You upload, post or otherwise transmit via the Website or the Services.  You agree not to upload, post, share, distribute, or transmit via the Website or the Services, Content that: (a) includes unauthorized disclosure of personal information; (b) is inaccurate, unlawful, libelous, deceptive, harmful, obscene, pornographic, defamatory, racist, violent, offensive, harassing, or otherwise objectionable; (c) contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment; or (d) violates or infringes anyone's intellectual property rights.  Company has no obligation to monitor the Services.  However, Company reserves the right to review materials posted to the Services and to remove and/or edit any materials in its sole discretion.  You understand that by using the Website, You may be exposed to Content from others that is offensive, indecent or otherwise objectionable.</p>
                        </li>
                        <li>
                            <p>Company will have no obligation with respect to Content that (a) is or falls into the public domain; (b) was in the Company’s possession without any obligation of confidentiality prior to receipt thereof from You; (c) is independently developed by the Company without use of or reference to Your Content, or (d) is rightfully obtained by the Company from a third party without any obligation of confidentiality to You.  Further, nothing shall prohibit the Company from disclosing Your Content if legally required to do so by judicial or governmental order or in a judicial or governmental proceeding.</p>
                        </li>
                        <li>
                            <p>You hereby grant to Company a non-exclusive, perpetual, irrevocable, royalty free, fully paid-up, worldwide right and license to use, create, modify, host and display Your Content solely to perform the Services.  You represent and warrant that You have proper authorization for the worldwide transfer and processing among Company, its affiliates, and third-party providers of any Content that You may provide on the Website and upload, post or transmit using the Services.  This paragraph is not applicable to any personally identifiable information that You provide in connection with Your registration for the Services.  For terms and conditions governing the use of such information and for more information on how the Services work, please refer to the <a href="/privacy">Privacy Policy</a>.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p><em>Use of Public Forums</em>.  Please remember that any information that is disclosed in public forums on the Website becomes public information and You should exercise caution when deciding to disclose Your personal information.  COMPANY WILL TREAT ANY MESSAGE BOARD POSTINGS, FEEDBACK, EMAILS OR SUGGESTIONS YOU PROVIDE TO US AS NON-CONFIDENTIAL AND NON-PROPRIETARY.  IF YOU CHOOSE TO USE YOUR REAL NAME, YOUR NAME WILL BE AVAILABLE TO AND VIEWABLE BY ANYONE USING THE WORLD WIDE WEB AND/OR USING A SEARCH ENGINE.  YOU ARE NOT REQUIRED TO USE YOUR REAL NAME AND THE DECISION TO DO SO IS MADE AT YOUR SOLE DISCRETION.</p>
                </li>
                <li>
                    <p><em>Feedback</em>.</p>
                    <ol>
                        <li>
                            <p>Unless Company has entered into a separate written agreement with You that explicitly states to the contrary, You agree that any information, feedback, questions, comments or the like that You provide to Company in connection with this Website or the Services (“Submissions”) will be deemed to be provided to Company on a non-confidential and non-proprietary basis and will become and remain the property of Company. Company has no obligations of any kind with respect to any Submissions and will be free to reproduce, use, disclose and/or distribute any Submissions for any purpose whatsoever, without limitation.  You also agree that Company will be free to use any ideas, concepts or techniques embodied in the Submissions for any purpose whatsoever, including, without limitation, developing, manufacturing, and marketing products or services incorporating such ideas, concepts, or techniques without any payment obligation to any party.</p>
                        </li>
                        <li>
                            <p>NEITHER COMPANY NOR ANY OF ITS EMPLOYEES ACCEPT OR CONSIDER UNSOLICITED IDEAS, INCLUDING IDEAS FOR NEW ADVERTISING CAMPAIGNS, NEW PROMOTIONS, NEW PRODUCTS OR TECHNOLOGIES, PROCESSES, MATERIALS, MARKETING PLANS OR NEW PRODUCT NAMES.  THE SOLE PURPOSE OF THIS POLICY IS TO AVOID POTENTIAL MISUNDERSTANDINGS OR DISPUTES WHEN COMPANY’s PRODUCTS OR MARKETING STRATEGIES MIGHT SEEM SIMILAR TO IDEAS SUBMITTED TO COMPANY.  PLEASE DO NOT SEND YOUR UNSOLICITED IDEAS TO COMPANY OR ANYONE AT COMPANY.  IF, DESPITE OUR REQUEST THAT YOU NOT SEND US YOUR IDEAS AND MATERIALS, YOU STILL SEND THEM, PLEASE UNDERSTAND THAT COMPANY MAKES NO ASSURANCES THAT YOUR IDEAS AND MATERIALS WILL BE TREATED AS CONFIDENTIAL OR PROPRIETARY.</p>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <p><strong>Content Provided Via Third Party Links</strong></p>
            <ol>
                <li>
                    <p><em>Third Party Links</em>. The Website may provide a link to other sites by allowing the user to leave the Website to access third-party material or by bringing the third-party material into the Website via “inverse” hyperlinks and framing technology (each a “Linked Website”).  Company has no discretion to alter, update, or control the content on a Linked Website, and is not responsible if any Linked Website is not working appropriately.  Company is not responsible for webcasting or any other form of transmission received from Linked Websites.  Company provides these links as a convenience only, and Company’s provision of a link to a site is not an endorsement, authorization, sponsorship, or affiliation with respect to such site, its owners, or its providers.  There are inherent risks in using, retrieving, or relying upon any information found on the internet, and You are responsible for understanding these risks before using, retrieving, or relying upon any such information from a Linked Website.  You acknowledge and agree that Company is not responsible for the availability of Linked Websites, and is not responsible or liable for any content, advertising, products or other materials on or available from such Linked Websites.  Company will not be responsible or liable, directly or indirectly, for any actual or alleged damage or loss caused by or in connection with use of or reliance on any such content, goods or services available on or through any Linked Website.</p>
                </li>
                <li>
                    <p><em>Advertising</em>.  Company may run advertisements and promotions from third parties on the Website.  Your correspondence or business dealings with, or participation in promotions of, advertisers other than Company found on or through the Website, including payment and delivery of related goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between You and such advertiser.  Company is not responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of such non-Company advertisers on the Website.</p>
                </li>
            </ol>
        </li>
        
        <li>
            <p><strong>Intellectual Property Rights</strong></p>
            <ol>
                <li>
                    <p><em>Company’s Intellectual Property Rights</em>.</p>
                    <ol>
                        <li>
                            <p>All materials contained in the Website are the copyrighted property of Company, its affiliated companies and/or third-party licensors.  All trademarks, service marks, and trade names are proprietary to Company, its affiliated companies and/or third-party licensors. Except as expressly authorized in writing by Company, You will not  reproduce, modify, rent, lease, loan, sell, distribute, mirror, frame, republish, download, transmit, or create derivative works of the content of others, in whole or in part, by any means.  You must not modify, decompile, or reverse engineer any software Company discloses or licenses to You, and You must not remove or modify any copyright or trademark notice, or other notice of ownership.</p>
                        </li>
                        <li>
                            <p>Company may have patents, patent applications, trademarks, copyrights, or other intellectual property rights covering subject matter in the Services, including the Web pages that are part of the Services.  Except as expressly provided in this Agreement, the provision of the Services and the furnishing of such Web pages to You does not give You any license to these patents, trademarks, copyrights, or other intellectual property.  Any rights not expressly granted herein are reserved to Company and its licensors.</p>
                        </li>
                        <li>
                            <p>"Company Trademarks" means all names, marks, brands, logos, designs, trade dress, slogans and other designations Company uses in connection with its products and services, including but not limited to “Winspire,” the Winspire logo, and “Winspireme.”  You may not use Company Trademarks without express written permission from Company. You may not remove or alter any Company Trademarks, or co-brand Your own products or material with Company Trademarks, without Company’s prior written consent.  You acknowledge Company’s rights in Company Trademarks.  You agree not to incorporate any Company Trademarks into Your trademarks, service marks, company names, Internet addresses, domain names, social media addresses, pages or handles, or any other similar designations, for use on or in connection with computer or Internet-related products, services or technologies.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p><em>Your Intellectual Property Rights</em>.</p>
                    <ol>
                        <li>
                            <p>Subject to the licenses granted herein, You retain all right, title and interest in and to the Content that You provide to Company through the Services.</p>
                        </li>
                        <li>
                            <p>By placing any Content on the Website or providing any Content to Company to perform the Services, You represent and warrant that: (a) if copyrightable, then You are the copyright owner of such Content, or that the copyright owner of such Content has granted You permission to use such Content consistent with the manner and purpose of Your use and as otherwise permitted by this Agreement and the Website; (b) You have the rights necessary to grant the licenses and sublicenses described in this Agreement; and (c) that each person depicted in such Content, if any, has provided consent to the use of the Content as set forth in this Agreement, including, by way of example, and not as a limitation, the distribution, public display and reproduction of such Content.</p>
                        </li>
                        <li>
                            <p>You agree to indemnify, defend and hold Company, and its subsidiaries, affiliates, officers, managers, agents, licensors, and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third party relating to or arising out of Your Content, Your use of the Website, including any use by Your employees, Your connection to the Website, Your violation of the Agreement, or Your violation of any rights of another.  Company may terminate Your account if Company, determines in its sole discretion that You have infringed a third party’s intellectual property rights.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p><em>Notice for Making Claims of Copyright Infringement</em>.  Company will investigate notices of copyright infringement and take appropriate actions under the Digital Millennium Copyright Act, Title 17, United States Code, Section 512(c)(2) ("DMCA") and pursuant to the <a href="/copyright">Company Copyright Infringement Notice Policy</a>. Company reserves the right to remove or disable access to any material posted to the Website. It is Company’s policy, in appropriate circumstances, to terminate accounts or personal pages of repeat infringers.</p>
                </li>
            </ol>
        </li>
        <li>
            <p><strong>Disclaimer of Warranties</strong></p>
            <ol>
                <li>
                    <p><em>Disclaimers</em>.</p>
                    <ol>
                        <li>
                            <p>YOUR USE OF THE WEBSITE AND SERVICES IS AT YOUR SOLE RISK UNLESS EXPLICITLY STATED OTHERWISE.  THE WEBSITE, INCLUDING THE SERVICES ARE PROVIDED ON AN "AS IS" "AS AVAILABLE" AND "WITH ALL FAULTS" BASIS.  COMPANY DISCLAIMS ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS, AND WARRANTIES OF ANY KIND, INCLUDING WITHOUT LIMITATION ANY IMPLIED WARRANTY OR CONDITION OF MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, OR NONINFRINGEMENT.  COMPANY MAKES NO REPRESENTATIONS, WARRANTIES, CONDITIONS OR GUARANTEES AS TO THE USEFULNESS QUALITY, SUITABILITY, TRUTH, ACCURACY OR COMPLETENESS OF THE WEBSITE OR SERVICES.</p>
                        </li>
                        <li>
                            <p>COMPANY MAKES NO WARRANTY OR REPRESENTATION THAT: (a) THE WEBSITE OR SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, ERROR-FREE OR FREE OF ANY VIRUSES, TROJAN HORSES OR WORMS; (b) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE WEBSITE OR ANY SERVICES WILL BE ACCURATE OR RELIABLE; (c) THE QUALITY OF ANY PRODUCTS, SERVICES, CONTENT, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED FROM THE WEBSITE WILL MEET YOUR EXPECTATIONS OR REQUIREMENTS; OR (d) ANY ERRORS IN THE WEBSITE OR SERVICES WILL BE CORRECTED.</p>
                        </li>
                        <li>
                            <p>EXCEPT AS EXPRESSLY PROVIDED OTHERWISE, YOU ASSUME ALL RISKS CONCERNING THE SUITABILITY AND ACCURACY OF THE INFORMATION WITHIN THE WEBSITE.  THE WEBSITE MAY CONTAIN TECHNICAL INACCURACIES, TYPOGRAPHICAL ERRORS OR OMISSIONS.  COMPANY ASSUMES NO RESPONSIBILITY FOR AND DISCLAIMS ALL LIABILITY FOR ANY SUCH INACCURACIES, ERRORS OR OMISSIONS.</p>
                        </li>
                        <li>
                            <p>COMPANY DOES NOT ENDORSE AND IS NOT RESPONSIBLE FOR (a) THE ACCURACY OR RELIABILITY OF ANY OPINION, ADVICE, OR STATEMENT MADE THROUGH THE WEBSITE BY ANY PARTY; (b) ANY CONTENT PROVIDED ON LINKED WEBSITES; OR (c) THE CAPABILITIES OR RELIABILITY OF ANY PRODUCT OR SERVICE OBTAINED FROM A LINKED WEBSITE.</p>
                        </li>
                        <li>
                            <p>COMPANY MAY MAKE CHANGES TO THE WEBSITE, SERVICES, INFORMATION, SOFTWARE, CONTENT, DOCUMENTS, PUBLICATIONS, PRICES, TECHNICAL SPECIFICATIONS, PRODUCT OFFERINGS AND ANY OTHER INFORMATION AND MATERIALS ON THE WEBSITE AT ANY TIME AND WITHOUT NOTICE.</p>
                        </li>
                        <li>
                            <p>OTHER THAN AS REQUIRED UNDER APPLICABLE LAW, UNDER NO CIRCUMSTANCE WILL COMPANY BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A USER’S RELIANCE ON INFORMATION, PRODUCT OR SERVICE OBTAINED THROUGH THE WEBSITE OR A LINKED WEBSITE.  IT IS THE RESPONSIBILITY OF THE USER TO EVALUATE THE ACCURACY, COMPLETENESS, OR USEFULNESS OF ANY OPINION, ADVICE, OR OTHER CONTENT AVAILABLE THROUGH THE WEBSITE, OR OBTAINED FROM A LINKED WEBSITE.  PLEASE SEEK THE ADVICE OF PROFESSIONALS AS APPROPRIATE, REGARDING THE EVALUATION OF ANY SPECIFIC OPINION, ADVICE, PRODUCT, SERVICE, OR OTHER CONTENT.</p>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <p><strong>Termination and Restriction of Access</strong></p>
            <ol>
                <li>
                    <p><em>Termination</em>. You may terminate this Agreement for any reason or for no reason at all, at Your convenience, by either providing written notice of termination or closing Your account for any Service for which we provide an account closing mechanism.   Company reserves the right, in its sole discretion, to terminate or suspend Your access to the Services or any portion thereof at any time (i) without notice; (ii) for inactivity, which is defined as failing to sign in to the Services for an extended period of time; or (iii) if You breach or default under any material provision of this Agreement.  Company may refund to You the Fees paid by You in advance of receiving the Services on a pro rata basis if Company terminates Your access to the Services or any portion thereof without cause.</p>
                </li>
                <li>
                    <p><em>Effect of Termination</em>.  Upon termination of Your account, Your right to use the Services immediately ceases and You remain liable for all Fees and any other obligations You have incurred through the date of termination for Your use of the Services. In the event that this Agreement is terminated for any reason, Sections III.F, V, VI, VII.B, VIII, VIII, and IX will survive any such termination.  Other rights and obligations under the Agreement which by their nature should survive will remain in full effect after termination or expiration of the Agreement.</p>
                </li>
            </ol>
        </li>
        <li>
            <p><strong>Limitation of Liability</strong></p>
            <p>TO THE FULLEST EXTENT PERMITTED BY LAW, COMPANY, ITS AFFILIATES AND ANY OTHER OF THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS WILL NOT BE LIABLE FOR ANY INDIRECT, PUNITIVE, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES (INCLUDING, WITHOUT LIMITATION, LOSS OF BUSINESS, REVENUE, PROFITS, GOODWILL, USE, DATA, ELECTRONICALLY TRANSMITTED ORDERS, OR OTHER ECONOMIC ADVANTAGE) ARISING OUT OF OR IN CONNECTION WITH THE WEBSITE OR THE SERVICES, EVEN IF COMPANY HAS PREVIOUSLY BEEN ADVISED OF, OR REASONABLY COULD HAVE FORESEEN, THE POSSIBILITY OF SUCH DAMAGES, HOWEVER THEY ARISE, WHETHER IN BREACH OF CONTRACT OR IN TORT (INCLUDING NEGLIGENCE), INCLUDING WITHOUT LIMITATION DAMAGES DUE TO: (a) THE USE OF OR THE INABILITY TO USE THE WEBSITE OR SERVICES; (b) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED, OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO, THROUGH OR FROM THE WEBSITE; (c) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE WEBSITE, INCLUDING WITHOUT LIMITATION UNAUTHORIZED ACCESS TO OR ALTERATION OF TRANSMISSIONS OR DATA, MALICIOUS OR CRIMINAL BEHAVIOR, OR FALSE OR FRAUDULENT TRANSACTIONS; OR (d) CONTENT OR INFORMATION YOU MAY DOWNLOAD, USE, MODIFY OR DISTRIBUTE.  TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, COMPANY’S AGGREGATE LIABILITY, AND THE AGGREGATE LIABILITY OF ITS LICENSORS, TO YOU OR ANY THIRD PARTIES FOR ANY CLAIMS ARISING OUT OF THE USE OF THIS WEBSITE OR THE SERVICES IS LIMITED TO THE AMOUNT YOU PAID COMPANY, IF ANY, FOR ANY PRODUCTS OR SERVICES AVAILABLE THROUGH THE WEBSITE FOR THE SIX MONTH PERIOD BEFORE THE ACT GIVING RISE TO THE CLAIM.  TO THE EXTENT THAT ANY JURISDICTION DOES NOT ALLOW THE EXCLUSION OR LIMITATION OF DIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES, PORTIONS OF THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY.</p>
        </li>
        <li>
            <p><strong>Privacy and Personal Information</strong></p>
            <p>You consent to the collection, processing and storage by Company of Your personal information in accordance with the terms of Company’s Privacy Policy (which is available at _insert hyperlink_) which is incorporated herein by reference.  You agree to comply with all applicable laws and regulations, and the terms of Company’s Privacy Policy, with respect to any access, use and/or submission by You of any personal information in connection with this Website.</p>
        </li>
        <li>
            <p><strong>General Terms</strong></p>
            <ol>
                <li>
                    <p><em>Governing Law</em>.  California law and controlling U.S. federal law govern any action related to this Agreement and/or Your use of the Website.  Choice of law rules of any jurisdiction and the United Nations Convention on Contracts for the International Sale of Goods will not apply to any dispute under the Agreement.  You and Company agree to submit to the personal and exclusive jurisdiction of the courts located within the County of Orange, California, U.S.A.  If You access this Website from outside the United States, You are responsible for compliance with local laws.</p>
                </li>
                <li>
                    <p><em>Notice</em>.  Company may provide notice to You via email, regular mail, or posting notices or links to notices on the Website.  Company reserves the right at any time to modify, suspend or terminate the Services (or any part thereof), and/or Your use of or access to them, with or without notice to You.  Company will not be liable to You or any third party for any modification, suspension, or termination of the Services or loss of related information.   Company may wish to update or change the terms, conditions, and notices for the Website or the Services from time to time to reflect changes in the Website or the Services, changes in the laws affecting the Website or the Services, or for other reasons.  You understand that Company reserves the right to make these changes and that You are responsible for regularly reviewing these terms, conditions, and notices.  Continued access to or use of the Website or the Services after any such change shall constitute Your consent to such change.  Unless explicitly stated otherwise, any new features that change or improve the Website or the Services shall be subject to this Agreement, as modified from time to time. A printed version of this Agreement and of any notices given in electronic form will be admissible in judicial or administrative proceedings based upon or relating to this Agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.</p>
                </li>
                <li>
                    <p><em>Entire Agreement</em>.  This Agreement, together with any Event Agreement to which You have agreed, constitutes the entire agreement between You and Company and governs Your use of the Website and Services, and supersede any and all prior agreements, written or oral, between You and Company regarding the subject matter of this Website (including, without limitation, any prior versions of this Agreement).  This Agreement incorporates by reference, Company’s Privacy Policy and the Copyright Infringement Notice Policy, and the Trademark Usage Policy.  Portions of the Services may be governed by posted guidelines, rules or other terms and conditions.  All such guidelines, rules and terms and conditions are hereby incorporated by reference into this Agreement.  In the event of a conflict between this Agreement and such other guidelines, rules and terms and conditions, this Agreement shall control.  Notwithstanding the foregoing, Company’s Privacy Policy, discussed in the Privacy and Personal Information section above, supersedes any conflicting terms in this Agreement and/or any other guidelines, rules and terms and conditions with respect to the subject matter covered by the Privacy Policy.  You may also be subject to additional terms and conditions that may apply when You use other Company services, third-party content or third-party software.  If there is a conflict between any Event Agreement terms and this Agreement, the Event Agreement terms will control Your relationship with the Company.</p>
                </li>
                <li>
                    <p><em>Modification and Assignment</em>.  The Company may modify this Agreement from time to time by posting the revised Agreement, and visitors are encouraged to review its terms from time to time.  No other modifications to the Agreement will be binding, unless in writing and signed by an authorized Company representative.  You may not assign or otherwise transfer the Agreement or any right granted hereunder.</p>
                </li>
                <li>
                    <p><em>Irreparable Harm</em>.  You agree that any material breach of Sections III or V of the Agreement will result in irreparable harm to Company for which damages would be an inadequate remedy and, therefore, in addition to its rights and remedies otherwise available at law, Company will be entitled to equitable relief, including both a preliminary and permanent injunction, if such a breach occurs.  You waive any requirement for the posting of a bond or other security if Company seeks such an injunction.</p>
                </li>
                <li>
                    <p><em>Waiver and Severability</em>.  Any express waiver or failure to exercise promptly any right under this Agreement will not create a continuing waiver or any expectation of non-enforcement.  If any provision of the Agreement is held invalid by any law or regulation of any government, or by any court or arbitrator, the parties agree that such provision will be replaced with a new provision that accomplishes the original business purpose, and the other provisions of the Agreement will remain in full force and effect.</p>
                </li>
                <li>
                    <p><em>Compliance with Laws</em>.  Company’s performance of this Agreement is subject to existing laws and legal process, and nothing contained in this Agreement is in derogation of Company’s right to comply with governmental, court, and law enforcement requests or requirements relating to Your use of the Services or information provided to or gathered by Company with respect to such use.</p>
                </li>
                <li>
                    <p><em>Headings</em>.  Headings herein are for convenience of reference only and shall in no way affect interpretation of the Agreement.</p>
                </li>
                <li>
                    <p><em>Independent Contractors</em>.  The relationship of Company and You established by this Agreement is that of independent contractor, and nothing contained in this Agreement will be construed (i) to give either party the power to direct or control the day-to-day activities of the other; or (ii) to constitute the parties as partners, franchisee-franchiser, joint venturers, co-owners or otherwise as participants in a joint or common undertaking, or otherwise give rise to fiduciary obligations between the parties.</p>
                </li>
            </ol>
        </li>
    </ol>
    
    <p>&nbsp;</p>
    
    <p>Effective Date: {{ 'now' | date('F jS, Y') }}</p>
        </div>
    </div>
</div>
{% endblock %}