{% extends 'InertiaWinspireBundle:Page:display.html.twig' %}
{% block title %}Nonprofit Fundraising Auction Winners | Winspire{% endblock %}
{% block description %}Find out more about how to redeem your charity auction travel package through Winspire.{% endblock %}
{% block style %}
<style>
#standard-page .page-content {
    padding-top:0;
}

#standard-page .wrapper {
    padding-top:38px;
    padding-bottom:88px;
    margin-top:0;
    background:#f7f7f7;
}

.c-wrap {
    z-index:0;
}

#standard-page .wrapper h1 {
    font-size:24px;
    line-height:24px;
    color:#28466c;
    margin:0;
    padding:0;
    border-bottom:1px dashed #d3d3d3;
}

.page-header {
    position:relative;
}

#standard-page .page-header p {
    font-size:12px;
    font-weight:bold;
    line-height:100%;
    color:#777777;
    text-align:right;
    position:absolute;
    bottom:4px;
    right:0;
    margin:0;
    padding:0;
}

#standard-page .page-header p a {
    text-decoration:none;
    font-weight:normal;
    color:#0578c8;
}

.banner {
    position:relative;
    width:696px;
    height:113px;
    border:2px solid #fff;
    margin:34px 0 0 -52px;
    padding:23px 270px 0 50px;
    
    background: rgb(106,146,196);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZhOTJjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDVkOWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(106,146,196,1) 0%, rgba(0,93,159,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(106,146,196,1)), color-stop(100%,rgba(0,93,159,1)));
    background: -webkit-linear-gradient(top,  rgba(106,146,196,1) 0%,rgba(0,93,159,1) 100%);
    background: -o-linear-gradient(top,  rgba(106,146,196,1) 0%,rgba(0,93,159,1) 100%);
    background: -ms-linear-gradient(top,  rgba(106,146,196,1) 0%,rgba(0,93,159,1) 100%);
    background: linear-gradient(to bottom,  rgba(106,146,196,1) 0%,rgba(0,93,159,1) 100%);
    
    -webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.banner img {
    display:block;
    position:absolute;
    width:208px;
    height:297px;
    bottom:-142px;
    right:42px;
}

.banner:before,
.banner:after {
    display:block;
    position:absolute;
    content:'';
    bottom:-12px;
    left:-2px;
    width:10px;
    height:10px;
    background:url(/uploads/pages/winning-bidders/fold.png) no-repeat;
    background-size:20px 10px;
}

.banner:after {
    left:auto;
    right:-2px;
    background-position:-10px;
}

#standard-page .banner h2 {
    font-size:36px;
    line-height:100%;
    color:#ffe988;
    margin:0 0 9px 0;
    padding:0;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}

#standard-page .banner p {
    font-size:18px;
    color:#fff;
    line-height:120%;
    margin:0;
    padding:0;
}

.content3 {
    position:relative;
    padding:46px 37px 40px 37px;
    border-left:2px solid #fff;
    border-right:2px solid #fff;
    border-bottom:2px solid #fff;
    background:#f7f7f7;
    -webkit-box-shadow:  0px 2px 1px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  0px 2px 1px 0px rgba(0, 0, 0, 0.4);
}

.content3:after {
    content:'';
    position:absolute;
    z-index:-2;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.4);
    box-shadow:0 0 20px rgba(0,0,0,0.4);
    top:0;
    bottom:50%;
    left:275px;
    right:50px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

#standard-page .content3 h3 {
    font-size:24px;
    color:#d18000;
    line-height:30px;
    border-bottom:1px dashed #d9d9d9;
    margin:0 0 19px 0;
    padding:0;
}

#standard-page .content3 li h4 {
    font-family:"ArchitectsDaughter";
    font-size:18px;
    line-height:100%;
    font-weight:normal;
    font-style:normal;
    color:#777777;
    padding:0;
    margin:24px 0;
}

#standard-page .content3 ul li.q {
    cursor:pointer;
}

#standard-page .content3 ul li.q:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size:24px;
    line-height:20px;
    color:#005695;
    content: '\e006';
    display:block;
    position:absolute;
    top:0;
    left:0;
}

#standard-page .content3 ul li.q.open:before {
    content: '\e008';
}

#standard-page .content3 ul li.q p {
    font-size:16px;
    line-height:20px;
    font-weight:bold;
    color:#005695;
    margin:0 0 7px 0;
    padding:0;
}

#standard-page .content3 ul li.q:hover p,
#standard-page .content3 ul li.q:hover:before {
    color:#0075ca;
}

#standard-page .content3 ul li.a p {
    font-size:14px;
    line-height:20px;
    color:#565656;
    margin:0 0 7px 0;
    padding:0;
}

.wrap {
    position:relative;
    z-index:2;
}

.wrap:before {
    content:'';
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
    font-size:0;    
}

.content3 ul {
    padding:0 0 26px 0;
}

.content3 ul li {
    position:relative;
    list-style:none;
    padding:0;
    margin:0;
}

.content3 ul li ul {
    padding:0;
}

.content3 ul li ul li {
    padding:0 0 0 30px;
    margin:0;
}

.content3 ul li ul li.a {
    display:none;
    padding-bottom:15px;
}

.content3 ul li ul li a {
    text-decoration:none;
}

#standard-page .page-footer {
    margin:0 175px;
    width:572px;
    height:49px;
    background:url(/uploads/pages/about-us/logo-small.png) no-repeat;
    background-size:572px 49px;
}
</style>
{% endblock %}
{% block inside %}
<div class="page-content">
    <div class="c-wrap">
        <div class="wrapper">
            <div class="page-header">
                <h1>Winning Bidders</h1>
                <p>Still waiting for a Booking Voucher? <a href="/contact-us">Contact Us</a></p>
            </div>
            
            <div class="banner">
                <h2>Winning Bidder FAQs</h2>
                
                <p>Here are some of the most common questions we hear from our winning bidders. </p>
                
                <img src="/uploads/pages/winning-bidders/ribbon.png" width="208" height="297" alt=""/>
            </div>
            
            <div class="wrap">
				<div class="content3">
					<h3>About Winspire Experiences</h3>
					<ul>
						<li>
							<h4 id="cost">Cost &amp; Pricing</h4>
							<ul>
								<li id="q1" class="q">
									<p>What are “No Risk Auction Items”?</p>
								</li>
								<li class="a">
									<p>No transaction with Winspire takes place until after your event and only for Experiences that are actually sold, so there are no upfront costs to your Nonprofit.</p>
									<p>Each Winspire Experience has a set price and we help you determine the minimum dollar amount you want to make on each. Your Nonprofit only purchases an Experience if bidding reaches this target price. Any bidding that occurs beyond the Nonprofit cost is your profit.</p>
								</li>
								<li id="what-is-mysuitcase" class="q">
									<p>What is mySuitcase?</p>
								</li>
								<li class="a">
									<p>Your Suitcase is sort-of like your cart, where you put the Experiences you are considering, collaborate with your peers and work with your Winspire Event Consultant to decide on the best set of packages for your charity auction. Once you have finalized your selection, simply click <strong>"I'm Packed"</strong> to reserve the Experiences for your event.</p>
								</li>
								<li id="what-is-the-nonprofit-cost" class="q">
									<p>What is the Nonprofit Cost?</p>
								</li>
								<li class="a">
									<p>Prior to the event, our Experiences cost nothing. The Nonprofit cost only matters after your bidders have surpassed the amount set by you and your Event Consultant. The cost itself, also known as the <strong>package price</strong>, includes everything that makes the Experience perfect, including the cost of the package itself, marketing materials for promoting it at your event, our cost for putting the Experience together and the team of travel professionals we have on hand for each and every Winning Bidder.</p>
								</li>
								<li class="q">
									<p>How do you determine the Suggested Retail Value for each Experience?</p>
								</li>
								<li class="a">
									<p>Because of the constantly fluctuating prices of travel, we have found the most consistent way to value our items is to use tariff rates for airfare, rack rates for hotel rooms and brochure rates for cruises. These are the highest values for which the room or airfare could be booked. Other components are valued individually and the total value is calculated. If any component of an item is not readily accessible or available to the public, the package is valued as priceless. This pricing method allows Winspire to offer the most flexible travel options to ensure the best Winning Bidder experience.</p>
								</li>
							</ul>
						</li>
						<li>
							<h4 id="options">Experience Offerings</h4>
							<ul>
								<li id="q4" class="q">
									<p>Do you offer Experiences with no airfare?</p>
								</li>
								<li class="a">
									<p>Absolutely. You can reserve almost any of our Experiences without the airfare component, though we don’t often recommend it because packages with no airfare usually garner less interest.</p>
								</li>
								<li class="q">
									<p>How many people can Winspire Experiences accommodate?</p>
								</li>
								<li class="a">
									<p>The majority of these nonprofit auction packages are for 2 people but we do have some auction travel packages for 4, 6 or 10 people. We even have larger villas and homes that accommodate more than that. In all cases, the text states the quantities of all components of the package.</p>
								</li>
								<li class="q">
									<p>May I suggest trips you don't have?</p>
								</li>
								<li class="a">
									<p>Absolutely! We are always looking to improve our selection of items and we welcome your input! Submit your recommendation on our <a href="/contact-us">Contact Us</a> page.</p>
								</li>
								<li class="q">
									<p>Are there "black-out" dates?</p>
								</li>
								<li class="a">
									<p>Very few. Our airline and/or hotel partners may on occasion have black-out dates, and we advise you of these dates in advance.</p>
								</li>
								<li class="q">
									<p>Any additional fees passengers must pay?</p>
								</li>
								<li class="a">
									<p>The only additional passenger fees are airfare related taxes and an airline ticketing fee. All other taxes and fees are included in the original cost of the trip package. As with any travel booking, incidentals during the trip will be the responsibility of the winner.</p>
								</li>
							</ul>
						</li>
					</ul>
				
					<div class="page-footer">&nbsp;</div>
				</div>
			</div>
            
            
        </div>
    </div>
</div>
{% endblock %}