<div class="header-bk">
	<div class="c-wrap">
		<a href="http://charityauctionsnewengland.experiencecharity.com/" style="padding:0px;"><img src="/img/whitelabel/charityauctionsnewengland/Auction-Knights-Logo.png" alt="Auction Knights Experience Catalog" class="logo"></a>
		<ul class="nav">  
			<li><a href="http://example.experiencecharity.com/">Experiences</a></li>
			<li><a href="/thank-you">How it Works</a></li>
			<li><a href="/learn-more">Learn More</a></li>
			<li><a href="#">Nonprofit</a></li>
			<li><a href="#">Donate</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>
</div>