<div class="header-bk">
	<div class="c-wrap">
		<a href="http://charityauctionsnewengland.experiencecharity.com/" style="padding:0px;"><img src="/img/whitelabel/charityauctionsnewengland/Auction-Knights-Logo.png" alt="Auction Knights Experience Catalog" class="logo"></a>
		<ul class="nav">  
			<li><a href="http://www.charityauctionsnewengland.com/">HOME</a></li>		
			<li><a href="http://www.charityauctionsnewengland.com/auction-knights">AUCTION KNIGHTS</a></li>
			<li><a href="http://www.charityauctionsnewengland.com/jwt-assoc">JWT &#38; ASSOC</a></li>
			<li><a href="http://www.charityauctionsnewengland.com/clients">CLIENTS</a></li>
			<li><a href="http://charityauctionsnewengland.experiencecharity.com/">EXPERIENCES</a></li>	
			<li><a href="http://www.charityauctionsnewengland.com/contact">CONTACT</a></li>
		</ul>
	</div>
</div>