{% extends base_template %}

{% block title %}{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="thank-you">
    <div class="c-wrap">
       <div class="c-wrap">
    	<h1>Thank you!</h1>
    	<p>Someone will get in touch with you shortly. If you have any questions, please contact:</p>
    	<p><strong>Sam Staley</strong><br>(678) 683-9171<br><a href="mailto:sam@bidr.co">sam@bidr.co</a></p>
    	
    </div>
</div>
{% endblock %}