<div class="test-left"></div>
<div class="c-wrap">
    <ul class="nav">    	
        <li><a href="http://bidr.experiencecharity.com/"><img src="/img/whitelabel/bidr/bidr-logo.png" alt="bidr Experience Catalog" class="logo"></a></li>
        <li><a href="http://bidr.co/">Home</a></li>
        <li><a href="http://bidr.co/#howitworks">How it Works</a></li>
        <li><a href="http://bidr.co/#client-results">Client Results</a></li>
        <li><a href="http://bidr.co/#getstarted">Get Started!</a></li>
        <li><a href="http://bidr.co/blog">Blog</a></li>
    </ul>
</div>