{% extends base_template %}

{% block title %}{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="thank-you">
    <div class="c-wrap">
       <div class="c-wrap">
        <h1>Learn More</h1>
        <p> Please provide your information so we can reach out to answer any questions, consult on packages, provide fundraising tips or reserve items. If there are specific items you know you want to reserve, let us know. We look forward to speaking with you!</p>
    	
    	<h2>Thank you!</h2>
    	<p>Someone will get in touch with you shortly.</p>
    	<p>If you have any questions, please contact:</p>
    	<p><strong>Sam Staley</strong><br>(678) 683-9171<br><a href="mailto:sam@bidr.co">sam@bidr.co</a></p>
    	
    </div>
</div>
{% endblock %}