<div class="c-wrap">
    <div class="main-content">
		<h1>Discover Your Experiences</h1>
		<p style="font-size:18px;width:650px;">Welcome to the Bidding Owl travel portfolio. We provide experiential travel packages that can be used in live, silent and online charity auctions and raffles.</p>
		<p style="width:650px;">Everything you see is offered at a no-risk basis and you keep 100% of the profit above your cost. Experiential travel remains a top selling auction and raffle item so start considering what might work for your next event. For specific questions, to learn more or to reserve items just click the Learn More button and we’ll be sure to reach out to you.</p>
	</div>
</div>
