<div class="c-wrap">
    <div class="main-content">
		<h1>Discover Experiences <span>For Your Charity Auction</span></h1>
		<p style="font-size:18px;">We provide experiential travel packages that can be used in live, silent and online charity auctions and raffles.</p>
		<p>Everything you see is offered at a no-risk basis and you keep 100% of the profit above your cost. Experiential travel remains a top selling auction and raffle item so start considering what might work for your next event. For specific questions, to learn more or to reserve items just click the <a href="http://example.experiencecharity.com/learn-more" alt="Learn More">Learn More</a> button and we’ll be sure to reach out to you.</p>
	</div>
</div>
