<div class="c-wrap">
    <div class="footerPanel">
        <strong><a href="http://www.greatergiving.com/contact-us.aspx" target="_blank">Contact Us</a></strong>
        <ul class="btmtrm">
			<li><a href="http://example.experiencecharity.com/" target="_blank">Home</a></li>
			<li><a href="#" target="_blank">Contact Us</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Donate</a></li>
		</ul>
    </div>
</div>