<div class="test-left"></div>
<div class="c-wrap">
    <a href="http://www.greatergiving.com/"><img src="/img/whitelabel/example/Experience-Charity-Logo.jpg" alt="Experience Charity" class="logo"></a>
    <ul class="nav">    	
        <li><a href="http://example.experiencecharity.com/">Experiences</a></li>
        <li><a href="/how-works">How it Works</a></li>
        <li><a href="#">Mission</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</div>