{% extends base_template %}

{% block title %}{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="learn-more">
    <div class="c-wrap">
        <h1>Learn More</h1>
        <p> Please provide your information so we can reach out to answer any questions, consult on packages, provide fundraising tips or reserve items. If there are specific items you know you want to reserve, let us know. We look forward to speaking with you!</p>
    </div>
    <div class="form-wrap">
        <script charset="utf-8" src="//js.hsforms.net/forms/current.js"></script>
		<script>
		  hbspt.forms.create({ 
			portalId: '297253',
			formId: 'd7144a0f-aa22-4897-9c54-5fbed6fbd5ac'
		  });
		</script>
    </div>
</div>
{% endblock %}