<div class="c-wrap">
	<div id="secondary-menu">
		<div id="logo">
			<img src="/img/whitelabel/dojiggy/dojiggy-logo.png" alt="DoJiggy Logo"/>
		</div>		
		<ul class="nav">  
			<li><a href="http://www.onlinefundraisingtoday.com/">Blogs</a></li>
			<li><a href="http://www.dojiggy.com/press/index.cfm">News</a></li>
			<li><a href="http://www.dojiggy.com/app/examples/index.cfm">Clients</a></li>
			<li><a href="http://www.dojiggy.com/resource_center/index.cfm">Resources</a></li>
			<li><a href="http://www.dojiggy.com/pricing.cfm">Pricing</a></li> 
			<li><a href="http://www.dojiggy.com/app/services/index.cfm">Products</a></li> 
			<li><a href="http://www.dojiggy.com/app/about/index.cfm">Company</a></li> 		
		</ul>
	</div>
    <div class="main-content">
		<h1>DoJiggy Travel Packages For Your Auction</h1>
		<p style="font-size:18px;">We provide one of a kind travel packages that can be used in live, silent and online charity auctions and raffles.</p>
		<p>And the best part is, all of the following packages are offered on a no-risk basis! Here's how it works: Your organization can advertise these packages on your fundraising website and auction them at your event without paying any money up front. Once you have successfully sold the item for an amount above your cost listed below, you then buy it. We will send the package tickets and contents directly to the winning participant and provide support to them in planning bookings. If you are unable to sell the item above your cost (and auction reserve amount) your organization is not charged. </p>
		<p>For specific questions or to reserve Experiences for your event, click <a href="http://dojiggy.experiencecharity.com/learn-more" alt="Learn More">Learn More</a>. Fill out the contact form and we’ll be sure to reach out to you right away.</p>
	</div>
</div>
