<div class="c-wrap">
    <div class="main-content">
		<h1>No Risk Auction Items</h1>
		<p>DoJiggy offers no risk auction items for your fundraising auctions. These are one of a kind vacation packages and sports memorabilia which you can promote on your website and auction off on your online charity auctions. The great thing about this program is that you can advertise and auction the packages without having to put down any money up front. Once you successfully sell the item at your fundraising auction, you then buy it from the auction merchandise provider and they send it directly to the winning constituent.</p>
		<p>For more information, fill out the <a href="http://onlinecharityauctions.experiencecharity.com/learn-more" alt="Contact DoJiggy">contact form</a> and we’ll be sure to reach out to you right away.</p>
		<p>We are currently offering the following No Risk vacation packages:</p>
	</div>
</div>
