<div class="c-wrap">
    <div class="footerPanel">
        <a href="http://www.onlinecharityauctions.net/" alt="Online Charity Auctions Home"><img src="img/whitelabel/onlinecharityauctions/onlinecharityauctions-footer.jpg" alt="Footer"/></a>
    </div>
</div>