<div class="header-bk">
	<div class="c-wrap">
		<ul class="nav">  
			<li><a href="http://www.onlinecharityauctions.net/">Home</a></li>	
			<li><a href="http://www.onlinecharityauctions.net/auction-payment-terminals.cfm">Payment Terminals</a></li>
			<li><a href="http://www.onlinecharityauctions.net/charity-auction-software.cfm">Charity Auction Software</a></li>
			<li><a href="http://onlinecharityauctions.experiencecharity.com/">No Risk Auction Items</a></li>
			<li><a href="http://www.onlinecharityauctions.net/auction-planner-how-to-plan-an-auction.cfm">Auction Planner</a></li>
			<li><a href="http://www.onlinecharityauctions.net/s/Silent-Auction-Bid-Sheets/index.cfm">Silent Auction Bid Sheets</a></li>
			<li><a href="http://www.onlinecharityauctions.net/contact.cfm" style="border:none;">Contact Us</a></li>	
		</ul>
		<img src="/img/whitelabel/onlinecharityauctions/onlinecharityauctions-header.png" alt="Online Charity Auctions"/>
	</div>
</div>