                    <h4 style="color:#333333;">{{ suitcase.eventName }}</h4>
                    <p style="padding-top:3px;">Event Date: {{ suitcase.eventDate | date('n/j/y') }}</p>
                    <p style="margin-bottom:42px;"><strong style="color:#333333;">Below is a list of all the packages you reserved and/or sold at your event. Thank you for allowing Winspire to help make your event a success.</strong></p>