{% if suitcase.status == 'R' %}
                <h4><span class="icon icon-pin"></span>Your invoice is being generated.</h4>
{% endif %}
{% if suitcase.status == 'I' %}
                <h4><span class="icon icon-pin"></span>Your payment is due.</h4>
                <a class="button" href="#"><span class="icon-pdf"></span>Download Invoice</a>
{% endif %}
{% if suitcase.status == 'A' %}
                <h4><span class="icon icon-truck"></span>Your Travel Vouchers are ready to deliver!</h4>
{% endif %}