<div class="c-wrap">
    <div class="main-content">
		<h1>Auction Booster</h1>
		<p style="font-size:18px;">Exciting travel packages for sale at your live and silent auction events.</p>
		<p>Auction Booster offers attractive travel packages that will generate interest and bidding excitement among guests at your next benefit auction. Best of all, Auction Booster helps you raise more money for your cause with no risk to your organization.</p>
		<p>Simply reserve the packages, offer them at your event and after the auction, order the packages that are sold. Your organization keeps the difference between the winning bid and the package cost. And if you don't sell it, there is no cost to you!</p>
	</div>
</div>
