<div class="c-wrap">
    <div class="footerPanel">
        <strong>Phone</strong>
        <a href="tel:+19893123485">1.989.312.3485 EST</a>
        <p style="font-size:10px; margin-bottom:4px; line-height:14px;">BiddingOwl.com supports different currencies</p>
        <img src="/img/whitelabel/biddingowl/us.png" width="10%" alt="USA">
        <img src="/img/whitelabel/biddingowl/ca.png" width="10%" alt="Canada">
        <img src="/img/whitelabel/biddingowl/uk.png" width="10%" alt="United Kingdom">
        <img src="/img/whitelabel/biddingowl/au.png" width="10%" alt="Autralia">
        <img src="/img/whitelabel/biddingowl/eu.png" width="10%" alt="Euro">
    </div>
    
    <div class="footerPanel">
        <strong>Social</strong>
        <a href="http://www.facebook.com/pages/Biddingowl/200520736697292"><img src="/img/whitelabel/biddingowl/facebookLogo.png" width="84" height="85" alt="BiddingOwl on Facebook" style="float:left; margin-right:15px;"></a>
        <a href="http://twitter.com/biddingowl/"><img src="/img/whitelabel/biddingowl/twitterlogo.png" width="84" height="85" alt="BiddingOwl on Twitter"></a>
    </div>
    
    <div class="footerPanel">
        <strong>Support</strong>
        <a href="http://www.biddingowl.com/support.cfm">Support Database</a>
        <a href="mailto:info@biddingowl.com">info@biddingowl.com</a>
        <a href="mailto:support@biddingowl.com">support@biddingowl.com</a>
    </div>
    
    <div class="footerPanel">
        <strong>Trust</strong>
        <a title="Click for the Business Review of Biddingowl.com, an Internet Auction Service in Gaylord MI" href="http://www.bbb.org/western-michigan/business-reviews/internet-auction-service/biddingowlcom-in-gaylord-mi-38150513#sealclick"><img alt="Click for the BBB Business Review of this Internet Auction Service in Gaylord MI" style="border: 0;" src="https://seal-westernmichigan.bbb.org/seals/blue-seal-120-61-biddingowlcom-38150513.png"></a>
    </div>
    
    <br style="clear:both">
    <br>
    <ul class="btmtrm">
        <li><a href="http://www.biddingowl.com/education/index.cfm"><img src="/img/whitelabel/biddingowl/question.png" width="28" height="28" alt="Questions"></a></li>
        <li><a href="http://www.biddingowl.com/PDF/Terms and Conditions.pdf" target="_blank">Terms</a></li>
        <li><a href="http://www.biddingowl.com/PDF/Privacy.pdf" target="_blank">Privacy</a></li>
        <li><a href="http://www.biddingowl.com/contact.cfm">Contact</a></li>
    </ul>
</div>