<div class="c-wrap">
    <div class="footerPanel">
        <strong><a href="http://www.greatergiving.com/contact-us.aspx" target="_blank">Contact Us</a></strong>
        <ul class="btmtrm">
			<li><a href="http://www.greatergiving.com/" target="_blank">Home</a></li>
			<li><a href="http://www.greatergiving.com/contact-us.aspx" target="_blank">Contact Us</a></li>
			<li><a href="http://www.greatergiving.com/about-us.aspx">About Us</a></li>
			<li><a href="http://www.greatergiving.com/about-us/careers.aspx">Jobs</a></li>
			<li><a href="http://www.greatergiving.com/about-us/events-calendar.aspx">Event Calendar</a></li>
		</ul>
    </div>
</div>