<div class="test-left"></div>
<div class="c-wrap">
    <a href="http://www.greatergiving.com/"><img src="/img/whitelabel/greatergiving/greater-giving-logo.jpg" alt="Greater Giving Logo" class="logo"></a>
    <ul class="nav">    	
        <li><a href="http://www.greatergiving.com/our-solutions.aspx">OUR SOLUTIONS</a></li>
        <li><a href="http://www.greatergiving.com/all-products.aspx">ALL PRODUCTS</a></li>
        <li><a href="http://www.greatergiving.com/resource-library.aspx">RESOURCE LIBRARY</a></li>
        <li><a href="http://www.greatergiving.com/partners.aspx">PARTNERS</a></li>
        <li><a href="http://blog.greatergiving.com/">BLOG</a></li>
        <li><a href="http://www.greatergiving.com/support-center.aspx">SUPPORT CENTER+</a></li>
    </ul>
</div>