{% extends base_template %}

{% block title %}{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="thank-you">
    <div class="c-wrap">
        <p>This is where your thank you goes...</p>
    </div>
</div>
{% endblock %}