{% extends 'InertiaWinspireBundle::layout.html.twig' %}

{% block title %}Winspire | Login{% endblock %}

{% block content %}
    <div id="fos-user-container">
        <div class="page-content">
            <div class="c-wrap">
{% block fos_user_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}