{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Winspire | Reset Your Password{% endblock %}

{% block fos_user_content %}
<h1>Recover Your Password</h1>
<p>Please enter your email address and click “Submit”.  You will receive an email with a link to reset your password.</p>

<div class="form-card">
    <h3>Check your email.</h3>
    
    <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
{% endblock fos_user_content %}