<div class="c-wrap">
    <div class="main-content">
		<h1>Increase Auction Sales with ReadySetAuction’s JumpStart Auction Procurement Program</span></h1>
		<p style="font-size:18px;">It’s easy. And completely risk-free.</p>
		<p>With our partners, ReadySetAuction offers a variety of travel, destination and experience packages for your non-profit organization to feature during its live, silent, online and mobile auctions. Pay for a package only after you’ve sold it. If a package doesn’t sell, you are under no obligation to purchase it. Even better, there is no limit to the number of JumpStart packages you sell during your auction. In fact, you can sell the same package multiple times if you choose.</p>
		<p> To reserve packages, simply <a href="http://readysetauction.experiencecharity.com/learn-more" alt="Learn More">click here</a> or any Learn More button in the catalog below.</p>
	</div>
</div>
