<div class="c-wrap">
    <div class="main-content">
		<h1>JumpStart Auction Procurement Program</span></h1>
		<p class="subhead">It’s easy. And completely risk-free.</p>
		<p>With our partners, ReadySetAuction offers a variety of travel, destination and experience packages for your non-profit organization to feature during its live, silent, online and mobile auctions. Pay for a package only after you’ve sold it. If a package doesn’t sell, you are under no obligation to purchase it. Even better, there is no limit to the number of JumpStart packages you sell during your auction. In fact, you can sell the same package multiple times if you choose.</p>
		<p> To reserve packages or if you have questions, click <a href="http://readysetauction.experiencecharity.com/learn-more" alt="Learn More">Learn More</a> then fill out the contact form and we’ll get in touch with you right away.</p>
	</div>
</div>
