<div class="c-wrap">
    <div class="main-content">
		<h1>JumpStart Auction Procurement Program</span></h1>
		<p class="subhead">It’s easy. And completely risk-free.</p>
		<p>With our partners, ReadySetAuction offers a variety of travel, destination, and experience packages for your fundraising auction. Your organization pays for a package only if it sells, so there’s no risk or obligation. For more information, see our <a href="http://www.readysetauction.com/faq#jumpstart-faqs" alt="Jumpstart FAQs">JumpStart frequently asked questions</a>.</p>
		<p>To reserve packages, click <a href="http://readysetauction.experiencecharity.com/learn-more" alt="Learn More">Learn More</a> and fill out the contact form. We’ll get in touch with you right away.</p>
	</div>
</div>
