<div class="c-wrap">
    <div class="footerPanel">
    	<img src="/img/whitelabel/readysetauction/devider.png" />
        <a href="http://www.readysetauction.com/" alt="ReadySetAuctions Home"><img src="/img/whitelabel/readysetauction/readysetauction-footer.jpg" alt="readysetauction footer"/></a>
    </div>
</div>
<div class="terms">
	<ul>
		<li><a href="http://www.winspireme.com/">Winspire, Inc.</a></li>
		<li><a href="http://www.winspireme.com/terms">Terms of Use</a></li>
		<li><a href="http://www.winspireme.com/privacy">Privacy Policy</a></li>
		<li><a href="http://www.winspireme.com/copyright">© 2015 Winspire All Rights Reserved</a></li>
	</ul>
</div>