<div class="c-wrap">
    <div class="footerPanel">
        <a href="http://www.readysetauction.com/" alt="ReadySetAuctions Home"><img src="/img/whitelabel/readysetauction/readysetauction-footer.jpg" alt="readysetauction footer"/></a>
    </div>
</div>