<div class="c-wrap">
	<a href="http://www.readysetauction.com/" style="padding:0px;"><img src="/img/whitelabel/readysetauction/readysetauction-logo.jpg" alt="ReadySetAuction" class="logo"></a>
	<ul class="nav">  
		<li><a class="btn-blue" href="http://www.readysetauction.com/login" style="padding: 6px 17px 4px;margin-top: 5px;color: white;text-shadow: none;font-size: 15px;">Sign in</a></li>
		<li><a href="http://www.readysetauction.com/blog">Blog</a></li>
		<li><a href="http://www.readysetauction.com/company">Company</a><span class="divider">|</span></li>
		<li><a href="http://www.readysetauction.com/contact">Contact Us</a><span class="divider">|</span></li>
		<li><a href="http://www.readysetauction.com/faq">FAQs</a><span class="divider">|</span></li>		
		<li><a href="http://readysetauction.experiencecharity.com/">Auction Items</a><span class="divider">|</span><span class="active-mark"><img alt="(you are here)" height="13" width="13" src="/img/whitelabel/readysetauction/feature-active.png"/></span></li>
		<li><a href="http://www.readysetauction.com/pricing">Pricing</a><span class="divider">|</span></li>
		<li><a href="http://www.readysetauction.com/features">Features</a><span class="divider">|</span></li>
		<li><a href="http://www.readysetauction.com/tour">Tour</a><span class="divider">|</span></li>
	</ul>
</div>








