<div class="c-wrap">
	<a href="http://www.readysetauction.com/" style="padding:0px;"><img src="/img/whitelabel/readysetauction/readysetauction-logo.jpg" alt="ReadySetAuction" class="logo"></a>
	<ul class="nav">  
		<li><a class="btn-blue" href="http://www.readysetauction.com/">Sign in</a></li>
		<li><a href="http://www.readysetauction.com/blog">Blog</a></li>
		<li><a href="http://www.readysetauction.com/company">Company</a></li>
		<li><a href="http://www.readysetauction.com/contact">Contact Us</a></li>
		<li><a href="http://www.readysetauction.com/faq">FAQs</a></li> 
		<li><a href="http://www.readysetauction.com/pricing">Pricing</a></li> 
		<li><a href="http://www.readysetauction.com/features">Features</a></li> 
		<li><a href="http://www.readysetauction.com/tour">Tour</a></li> 
		<li><a href="http://www.readysetauction.com/">Home</a></li> 
	</ul>
</div>








