{% extends base_template %}

{% block title %}{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="learn-more">
    <div class="c-wrap">
        <h1>Learn More</h1>
        <p>Please provide your contact information and a representative from our partner, Winspire, will reach out to you shortly to answer questions and consult on which packages might be a good fit for your event. If there are specific packages you know you want to reserve, let us know.</p>
    </div>
    <div class="form-wrap">
        <script charset="utf-8" src="//js.hsforms.net/forms/current.js"></script>
		<script>
		  hbspt.forms.create({ 
			portalId: '297253',
			formId: 'b83934a0-1d9a-4f29-9f46-e10c3680725e'
		  });
		</script>
    </div>
</div>
{% endblock %}