{% extends base_template %}

{% block title %}{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="thank-you">
    <div class="c-wrap">
       <div class="c-wrap">
    	<h1>Thank you!</h1>
    	<p>Someone will get in touch with you shortly. If you have any questions, please contact:</p>
    	<p><strong>Ready Set Auctions</strong><br>(555) 555-5555<br><a href="mailto:##@readysetauctions.com">info@readysetauctions.com</a></p>
    	
    </div>
</div>
{% endblock %}