{% extends base_template %}

{% block title %}{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="thank-you">
	<div id="lm-header">
		<h1>Thank You!</h1>
	</div>
    <div class="c-wrap">
    	<p>Thanks for your inquiry. You can expect a follow up from our travel partner, Winspire, shortly. In the meantime, should you have any questions about our auction management software solution, <a href="http://www.readysetauction.com">ReadySetAuction</a>, please contacts us at 7 or send an email to</p>
    	<p><strong>Ready Set Auctions</strong><br>(206) 274-910<br><a href="mailto:sales@readysetauction.com">sales@readysetauction.com</a></p>
    	
    </div>
</div>
{% endblock %}