<div class="c-wrap">
    <div class="footerPanel">
        <strong><a href="http://www.auctionsbycellular.com/contact-us-for-unique-fundraising-event-ideas/" target="_blank">Contact Us</a></strong>
        <ul class="btmtrm">
			<li><a href="http://www.auctionsbycellular.com/" target="_blank">Home</a></li>
			<li><a href="http://auctionsbycellular.experiencecharity.com/" target="_blank">Experiences</a></li>
			<li><a href="http://www.auctionsbycellular.com/about/" target="_blank">About</a></li>
			<li><a href="http://www.auctionsbycellular.com/blog/">Blog</a></li>
		</ul>
    </div>
</div>