<div class="c-wrap">
	<a href="http://charityauctionhouse.com/" style="padding:0px;"><img src="/img/whitelabel/charityauctionhouse/charity-auction-house-logo.jpg" alt="Charity Auction House" class="logo"></a>
    <ul class="nav">  
        <li><a href="http://charityauctionhouse.com/charity-auctions/">Auctions</a></li>
        <li><a href="http://charityauctionhouse.com/charity-auctioneers/">Charity Auctioneers</a></li>
        <li><a href="http://charityauctionhouse.com/contact/">Contact</a></li>
        <li><a href="http://charityauctionhouse.com/charity-auctioneers-information/">Info</a></li>
        <li><a href="http://charityauctionhouse.com/charity-auction-services/">Services</a></li>
        <li><a href="http://charityauctionhouse.experiencecharity.com/">Experiences</a></li>         
    </ul>
</div>