<div class="c-wrap">
	<a href="http://www.auctionsbycellular.com/" style="padding:0px;"><img src="/img/whitelabel/auctionsbycellular/auctionsbycellular-logo.png" alt="Charity Auction House" class="logo"></a>
    <ul class="nav">  
        <li><a href="http://www.auctionsbycellular.com/contact-us-for-unique-fundraising-event-ideas/">Contact</a></li>
        <li><a href="http://www.auctionsbycellular.com/blog/">Media</a></li>
        <li><a href="http://www.auctionsbycellular.com/testimonials/">Testimonials</a></li>
        <li><a href="http://www.auctionsbycellular.com/fundraising-event-services-for-charities/">Services</a></li>
        <li><a href="http://www.auctionsbycellular.com/about/">About</a></li>        
    </ul>
</div>