{% extends base_template %}

{% block title %}{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="thank-you">
    <div class="c-wrap">
       <div class="c-wrap">
    	<h1>Thank you!</h1>
    	<p>Thanks for your interest! Our travel partner, Winspire, will be reaching out to you shortly to learn about your event, answer questions and help determine how we can best help your fundraising efforts.</p>
    	<p>You can expect a follow up from Karen Holine who is an Event Consultant for Winspire. Karen can be reached at <a href="mailto:kholine@winspireme.com">kholine@winspireme.com</a> or 949-544-8559. Should you have any questions in the meantime, feel free to call Charity Auction House at 877-777-7646.</p>
    </div>
</div>
{% endblock %}