{% extends base_template %}

{% block title %}{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="learn-more">
    <div class="c-wrap">
        Some more custom content here...
    </div>
    <div class="form-wrap">
        <script charset="utf-8" src="//js.hsforms.net/forms/current.js"></script>
        <script>
            hbspt.forms.create({
                portalId: '297253',
                formId: '00ad5a9c-037e-40b0-8d27-e75fa047fffd'
            });
        </script>
    </div>
</div>
{% endblock %}