<div class="test-left"></div>
<div class="c-wrap">
    <a href="http://www.biddingOwl.com/index.cfm"><img src="/img/whitelabel/biddingowl/Bidding-Owl-Logo.png" alt="Bidding Owl Logo" class="logo"></a>
    <ul class="nav">
        <li><a href="http://www.biddingOwl.com/index.cfm">Home</a></li>
        <li><a href="http://www.biddingOwl.com/auctions.cfm">Featured Auctions</a></li>
        <li><a href="http://www.biddingOwl.com/tour.cfm">Tour</a></li>
        <li><a href="https://www.biddingOwl.com/try-us.cfm">Try Us</a></li>
        <li><a href="http://www.biddingOwl.com/price-comparison.cfm">Pricing</a></li>
        <li><a href="http://www.biddingOwl.com/about.cfm">About</a></li>
        <li><a href="http://www.biddingOwl.com/education/index.cfm">Auction 101</a></li>
    </ul>
</div>