{% extends base_template %}

{% block title %}{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="thank-you">
    <div class="c-wrap">
       <div class="c-wrap">
    	<h1>Thank you!</h1>
    	<p>Someone will get in touch with you shortly. If you have any questions, please contact:</p>
    	<p><strong>Suzanne Garcia</strong><br>949.544.8548<br><a href="mailto:sgarcia@winspireme.com ">sgarcia@winspireme.com </a></p>
    	
    </div>
</div>
{% endblock %}