{% extends base_template %}

{% block title %}{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="thank-you">
    <div class="c-wrap">
       <div class="c-wrap">
    	<h1>Thank you!</h1>
    	<p>Someone will get in touch with you shortly. If you have any questions, please contact:</p>
    	<p><strong>Caroline Garnick</strong><br>(989) 312-3485<br><a href="mailto:caroline@biddingowl.com">caroline@biddingowl.com</a></p>
    	
    </div>
</div>
{% endblock %}