<div class="c-wrap">
    <div class="footerPanel">
        <strong><a href="http://www.auctionsbycellular.com/contact-us-for-unique-fundraising-event-ideas/">Contact Us</a></strong>
        <ul class="btmtrm">
			<li><a href="http://bidr.co/" target="_blank">Home</a></li>
			<li><a href="http://bidr.co/contact-us/" target="_blank">Contact Us</a></li>
			<li><a href="http://bidr.co/blog/">Blog</a></li>
		</ul>
    </div>
</div>