<div class="test-left"></div>
<div class="c-wrap">
	<a href="http://bidr.experiencecharity.com/" style="padding:0px;"><img src="/img/whitelabel/auctionsbycellular/auctionsbycellular-logo.png" alt="bidr Experience Catalog" class="logo"></a>
    <ul class="nav">  
        <li><a href="http://bidr.co/blog">Blog</a></li>
        <li style="background-color:#A5EC57;font-weight:bold;"><a href="http://bidr.co/#getstarted" style="color:#fff;letter-spacing: 2px;">Get Started!</a></li>
        <li><a href="http://bidr.co/#client-results">Client Results</a></li>
       	<li><a href="http://bidr.co/#howitworks">How it Works</a></li>
        <li><a href="http://bidr.co/">Home</a></li> 
        
    </ul>
</div>