                    <h4>Congratulations on your event!</h4>
                    <p>Now it’s time to finalize your order by creating your invoice.</p>
                    <ul class="packed">
                        <li><span>1</span>Please update the Quantity of each Experience to indicate the number of times you sold each item. Enter “0” if you did not sell the item. If you did not sell any items, please see instructions at the bottom of this page.</li>
                        <li><span>2</span>If you need to add an item to your order, simply find the item in our website catalog and “Add To Suitcase”. It will appear in this list.</li>
                        <li><span>3</span>Once you’ve updated all the Quantities, please click the “Request Invoice” button. Your invoice will be emailed to you within one business day.</li>
                    </ul>
