<div class="test-left"></div>
<div class="c-wrap">
    <a href="http://www.barcodedauctions.com/default.html"><img src="/img/whitelabel/barcodedauctions/AuctionStar-logo.jpg" alt="AuctionStar" class="logo"></a>
    <ul class="nav">    	
        <li style="padding: 11px 39px;"><a href="http://www.barcodedauctions.com/default.html">Home</a></li>
        <li><a href="http://www.barcodedauctions.com/about.html">About Us</a></li>
        <li><a href="http://www.barcodedauctions.com/clients.html">Clients</a></li>
        <li><a href="http://www.barcodedauctions.com/demoform.php">Demo</a></li>
        <li><a href="http://barcodedauctions.experiencecharity.com/">Auction Boost!</a></li>
        <li><a href="http://www.barcodedauctions.com/faq.html">FAQ</a></li>
        <li><a href="http://www.barcodedauctions.com/tutorials.php">Tutorials</a></li>
        <li><a href="http://www.barcodedauctions.com/contactus.html">Contact Us</a></li>
    </ul>
</div>










