{% extends base_template %}

{% block title %}{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="thank-you">
    <div class="c-wrap">
    	<h1>Thank you!</h1>
    	<p>Thanks for your inquiry. Someone from AuctionStar will reach out to you shortly.</p>
    	<p>Should you have any questions in the meantime, feel free to contact us at:</p>
    	<p>713-667-3373<br><a href="mailto:Sales@BarcodedAuctions.com">Sales@BarcodedAuctions.com</a></p>
    </div>
</div>
{% endblock %}