<div class="c-wrap">
    <div class="footerPanel">
        <a href="http://www.donationmatch.com/" target="_blank"><img src="/img/whitelabel/donationmatch/donationmatch-footer.png" alt="DonationMatch"/></a>
    </div>
</div>