<div class="c-wrap">
    <div class="footerPanel">
        <a href="http://www.donationmatch.com/" target="_blank"><img src="/img/whitelabel/donationmatch/donationmatch-footer.png" alt="DonationMatch"/></a>
    </div>
</div>
<div class="terms">
	<ul>
		<li><a href="http://www.winspireme.com/terms">Terms of Use</a></li>
		<li><a href="http://www.winspireme.com/privacy">Privacy Policy</a></li>
		<li><a href="http://www.winspireme.com/copyright">© 2015 Winspire All Rights Reserved</a></li>
	</ul>
</div>