<div class="c-wrap">
	<a href="http://www.donationmatch.com/" style="padding:0px;"><img src="/img/whitelabel/donationmatch/donationmatch-logo.png" alt="DonationMatch" class="logo"></a>
    <ul class="nav">  
        <li><a href="https://my.donationmatch.com/user/register">Sign Up</a></li>    
        <li><a href="https://my.donationmatch.com/user?destination=">Log In</a></li>
        <li><a href="http://www.donationmatch.com/for-schools-nonprofits/">For Schools &#38; Nonprofits</a></li>
         <li><a href="http://www.donationmatch.com/for-businesses/">For Businesses</a></li>
        <li><a href="http://www.donationmatch.com/">Home</a></li>
    </ul>
</div>